-lead-perdido-copy-DOIRbH3dplghv0Q5.json
{"updatedAt":"2025-11-11T01:43:41.172Z","createdAt":"2025-11-11T00:19:32.677Z","id":"DOIRbH3dplghv0Q5","name":"[DATASTONE] - Atividade realizada / Ganho / Lead Perdido copy","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"DatastoneAtividadeseStatusMeetime","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1152,592],"id":"5ce9a95a-6bd2-4744-9ca0-ae993ea23716","name":"Webhook","webhookId":"32668d72-a9b6-4bcc-8259-2ce110bf317a"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"event\"] }}","rightValue":"LEAD_ACTIVITY.FINISHED","operator":{"type":"string","operation":"equals"},"id":"aa6ebbe6-2d7d-4ad6-afb1-3566624f6ce1"}],"combinator":"and"},"renameOutput":true,"outputKey":"ATIVIDADE REALIZADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c623d283-3b9a-48e3-9d03-ec7050258b7c","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"event\"] }}","rightValue":"LEAD.WON","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NEGÓCIO GANHO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"706da3f5-f030-4822-be12-cd0feaa8ae82","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"event\"] }}","rightValue":"LEAD.LOST","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LEAD PERDIDO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-656,560],"id":"ea233080-9a01-43ee-8ccb-75d40cb659c7","name":"Switch"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"type\"] }}","rightValue":"SOCIAL_POINT","operator":{"type":"string","operation":"equals"},"id":"d05662e3-1b84-4c6e-bf0d-2c976a7d5fb2"}],"combinator":"and"},"renameOutput":true,"outputKey":"Social Point"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b1a812d-7f8f-493f-89a2-52d14d1cb747","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"type\"] }}","rightValue":"E_MAIL","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"E-mail"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0843a66e-2fa1-4634-863f-0349762265b3","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"type\"] }}","rightValue":"CALL","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Chamada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3ce0950-fd67-49fc-aea6-22aa675d7659","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"type\"] }}","rightValue":"SEARCH","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pesquisar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1968,-256],"id":"37c80214-9dc7-4db5-a4e0-6759fc270658","name":"Switch1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"31da7b5d-8c49-4f13-9858-7c808d4cf9d2","leftValue":"={{ $('Webhook').item.json.body.prospection.meetings[0].id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1664,1136],"id":"8351b0d0-17ee-49c6-81bc-5c964ef3857d","name":"Filter1"},{"parameters":{"method":"POST","url":"https://api.pipedrive.com/api/v2/activities","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subject\": \"Reunião Rilix <> {{ $item(\"0\").$node[\"Switch\"].json[\"body\"][\"prospection\"][\"lead\"][\"name\"] }}\",\n  \"type\": \"meeting\",\n  \"owner_id\": 22664672,\n  \"deal_id\": {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }},\n  \"due_date\":\"{{ $('Webhook').item.json.body.prospection.meetings[0].startDate.toDateTime().minus(3,'hours').toFormat('yyyy-MM-dd') }}\",\n  \"due_time\": \"{{ $('Webhook').item.json.body.prospection.meetings[0].startDate.toDateTime().toFormat('HH:mm') }}\",\n  \"duration\": \"{{ \n  (() => {\n    const startDate = new Date($('Webhook').item.json.body.prospection.meetings[0].startDate);\n    const endDate = new Date($('Webhook').item.json.body.prospection.meetings[0].endDate);\n\n    const diffInMilliseconds = endDate - startDate;\n    const diffInMinutes = Math.floor(diffInMilliseconds / 60000);\n    const hours = Math.floor(diffInMinutes / 60);\n    const minutes = diffInMinutes % 60;\n    \n    // Formata a diferença para HH:mm\n    return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;\n  })() \n}}\",\n  \"busy\": true,\n  \"done\": false\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2032,1120],"id":"f88190a9-db63-4462-a3f7-637254054a55","name":"Cria atividade de reunião agendada2","retryOnFail":true,"credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"method":"POST","url":"https://api.meetime.com.br/v2/webhooks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"enabled\": true,\n  \"events\": [\n    \"LEAD.WON\",\n    \"LEAD.LOST\",\n    \"LEAD_ACTIVITY.FINISHED\"\n  ],\n  \"targetUrl\": \"https://webhook2.automatisales.com.br/webhook/DatastoneAtividadeseStatusMeetime\"\n}","options":{}},"id":"5d074744-cf9a-44a6-a1cd-852104e128aa","name":"Cria webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1712,48],"credentials":{"httpHeaderAuth":{"id":"guVOe6gJoY5RnYXI","name":"Meetime - DataStone"}}},{"parameters":{"content":"Criar webhook\nWebhook ativado","height":272,"width":320},"type":"n8n-nodes-base.stickyNote","position":[-1808,-96],"typeVersion":1,"id":"13710b8c-8030-4173-8e91-a2b07cfa1dd0","name":"Sticky Note2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"pipelineStageId\"] }}","rightValue":"=eebe5f36-b91e-44c5-bae6-d80ca26da7d3","operator":{"type":"string","operation":"equals"},"id":"d7c85246-25e2-4233-aeb8-5811f446f803"}],"combinator":"and"},"renameOutput":true,"outputKey":"PV Outbound"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b1a812d-7f8f-493f-89a2-52d14d1cb747","leftValue":"={{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"pipelineStageId\"] }}","rightValue":"c920e9ed-806a-4e9d-b18b-4915bf23e05c","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PV Inbound"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[576,-640],"id":"f8352e2a-0188-4b8c-ab1a-efa0b51f60b9","name":"Switch2"},{"parameters":{"content":"[\n  {\n    \"success\": true,\n    \"data\": [\n      {\n        \"id\": 1,\n        \"order_nr\": 1,\n        \"name\": \"Chamada\",\n        \"key_string\": \"call\",\n        \"icon_key\": \"call\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": \"2022-10-26 21:46:45\"\n      },\n      {\n        \"id\": 2,\n        \"order_nr\": 2,\n        \"name\": \"Reunião\",\n        \"key_string\": \"meeting\",\n        \"icon_key\": \"meeting\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 3,\n        \"order_nr\": 3,\n        \"name\": \"Tarefa\",\n        \"key_string\": \"task\",\n        \"icon_key\": \"task\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 4,\n        \"order_nr\": 4,\n        \"name\": \"Prazo\",\n        \"key_string\": \"deadline\",\n        \"icon_key\": \"deadline\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 5,\n        \"order_nr\": 5,\n        \"name\": \"E-mail\",\n        \"key_string\": \"email\",\n        \"icon_key\": \"email\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 6,\n        \"order_nr\": 6,\n        \"name\": \"Almoço\",\n        \"key_string\": \"lunch\",\n        \"icon_key\": \"lunch\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 7,\n        \"order_nr\": 7,\n        \"name\": \"Whatsapp chat\",\n        \"key_string\": \"whatsapp_chat\",\n        \"icon_key\": \"bubble\",\n        \"active_flag\": true,\n        \"color\": \"00CC00\",\n        \"is_custom_flag\": true,\n        \"add_time\": \"2022-09-28 21:36:41\",\n        \"update_time\": \"2022-10-26 21:46:30\"\n      },\n      {\n        \"id\": 8,\n        \"order_nr\": 8,\n        \"name\": \"Entrega de Carrinho\",\n        \"key_string\": \"entrega_de_carrinho\",\n        \"icon_key\": \"truck\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2023-03-07 14:50:31\",\n        \"update_time\": \"2023-03-07 14:50:31\"\n      },\n      {\n        \"id\": 9,\n        \"order_nr\": 9,\n        \"name\": \"Pesquisa\",\n        \"key_string\": \"pesquisa\",\n        \"icon_key\": \"search\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:16:56\",\n        \"update_time\": \"2025-09-30 12:16:56\"\n      },\n      {\n        \"id\": 10,\n        \"order_nr\": 10,\n        \"name\": \"LinkedIn\",\n        \"key_string\": \"linkedin\",\n        \"icon_key\": \"loop\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:17:56\",\n        \"update_time\": \"2025-09-30 12:17:56\"\n      },\n      {\n        \"id\": 11,\n        \"order_nr\": 11,\n        \"name\": \"Facebook\",\n        \"key_string\": \"facebook\",\n        \"icon_key\": \"signpost\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:18:51\",\n        \"update_time\": \"2025-09-30 12:18:51\"\n      },\n      {\n        \"id\": 12,\n        \"order_nr\": 12,\n        \"name\": \"Instagram\",\n        \"key_string\": \"instagram\",\n        \"icon_key\": \"camera\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:19:13\",\n        \"update_time\": \"2025-09-30 12:19:13\"\n      }\n    ]\n  }\n]"},"type":"n8n-nodes-base.stickyNote","position":[1968,-896],"typeVersion":1,"id":"e4b8f6be-a60a-4ec1-92c5-3d63fe13fce8","name":"Sticky Note1"},{"parameters":{"url":"https://api.meetime.com.br/v2/cadences/activities-templates","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"activity_type","value":"SOCIAL_POINT"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2496,-592],"id":"df1ecaaa-572c-4e63-b9a4-6569723b54db","name":"templates","credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Meetime - Rilix"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"templates\"].json[\"data\"].find(item => item.id == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network}}","rightValue":"WHATSAPP","operator":{"type":"string","operation":"equals"},"id":"727c4fc9-ca6f-4d81-8114-4924e48484ee"}],"combinator":"and"},"renameOutput":true,"outputKey":"Whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d9e7d5bf-f501-4102-81d9-51c6ff21bc2f","leftValue":"={{ $item(\"0\").$node[\"templates\"].json[\"data\"].find(item => item.id == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network}}","rightValue":"LINKED_IN","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Linkedin"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72240f6c-f0a5-461f-8e9b-71a88e51f807","leftValue":"={{ $item(\"0\").$node[\"templates\"].json[\"data\"].find(item => item.id == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network}}","rightValue":"INSTAGRAM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1dfcbaa5-c945-425e-bc62-5d7829d151af","leftValue":"={{ $item(\"0\").$node[\"templates\"].json[\"data\"].find(item => item.id == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network}}","rightValue":"FACEBOOK","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FACEBOOK"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2704,-720],"id":"7dd9fe9d-33b3-431d-aa4f-65632edfbd4f","name":"Switch3"},{"parameters":{"url":"https://api.pipedrive.com/v1/users","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,2528],"id":"239c76f8-1304-4cd2-abd4-327ae74fc76b","name":"Users pipedrive","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"note","content":"=Link p/ feedback da Oportunidade: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"dealFeedback\"][\"dealFeedbackUrl\"] ||''}} \nURL pública lead na Meetime: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"publicUrl\"] }}","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","person_id":"={{ $item(\"0\").$node[\"Ler deal1\"].json[\"Pessoa de contato\"][\"value\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1136,960],"id":"f7552c4f-cfc5-4a43-8d96-a71590e2881e","name":"Create a note","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"note","content":"=Anotações deixadas por {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"salesman\"][\"name\"] }} na Meetime: \n{{ \n(() => {\n  const text = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"annotations\"];\n  \n  // Decodificar caracteres especiais\n  let cleaned = text\n    .replace(/&ndash;/g, '–')\n    .replace(/&iacute;/g, 'í')\n    .replace(/&ccedil;/g, 'ç')\n    .replace(/&atilde;/g, 'ã')\n    .replace(/&otilde;/g, 'õ')\n    .replace(/&aacute;/g, 'á')\n    .replace(/&eacute;/g, 'é')\n    .replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú')\n    .replace(/&ecirc;/g, 'ê')\n    .replace(/&ocirc;/g, 'ô')\n    .replace(/&amp;/g, '&')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&Eacute;/g, 'É');\n\n  // CONVERTER TODOS OS <br> PRIMEIRO - de forma mais abrangente\n  cleaned = cleaned\n    // Capturar todas as variações de <br>\n    .replace(/<br\\s*\\/?>\\s*/gi, '\\n')  // <br>, <br/>, <br />\n    .replace(/<br\\s*\\/?>/gi, '\\n')     // Fallback\n    // Depois processar outras tags\n    .replace(/<h[1-6][^>]*>/gi, '\\n')\n    .replace(/<\\/h[1-6]>/gi, '\\n')\n    .replace(/<p[^>]*>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<div[^>]*>/gi, '\\n')\n    .replace(/<\\/div>/gi, '\\n')\n    .replace(/<ul[^>]*>/gi, '\\n')\n    .replace(/<\\/ul>/gi, '\\n')\n    .replace(/<li[^>]*>/gi, '\\n• ')\n    .replace(/<\\/li>/gi, '\\n')\n    .replace(/<hr[^>]*>/gi, '\\n---\\n')\n    // Remover outras tags mas preservar conteúdo\n    .replace(/<[^>]*>/g, ' ')\n    // Preservar quebras mas limpar espaços extras\n    .replace(/[ ]+/g, ' ')\n    .replace(/ \\n/g, '\\n')\n    .replace(/\\n /g, '\\n')\n    .trim();\n\n  // Processar emojis e pontuação\n  cleaned = cleaned\n    .replace(/(🔎|🧩|🎯|💡|🤔|📅)/g, '\\n$1')\n    .replace(/\\s*\\.\\s*/g, '. ')\n    .replace(/\\s*,\\s*/g, ', ')\n    .replace(/\\s*:\\s*/g, ': ');\n\n  // Limpar formatação final\n  cleaned = cleaned\n    .replace(/\\n\\s*\\n/g, '\\n\\n')  // Duas quebras viram parágrafo\n    .replace(/\\n{3,}/g, '\\n\\n');  // Mais de 2 quebras viram 2\n\n  return cleaned;\n})()\n}}","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","person_id":"={{ $item(\"0\").$node[\"Create a note\"].json[\"person_id\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1376,1120],"id":"a7c493db-0cbc-45bd-bf96-5222769afc3a","name":"Create a note1","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"c93f26e2-e3e1-408a-94b8-d86ece56cc4b","name":"campos personalizados meetime","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[944,656],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Meetime - Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"customProperties":{"property":[{"name":"9124c94a4484aabbbe9fae6c0ac13248fa0f16ff","value":"={{\n(() => {\n    try {\n        // Verifica se existe o campo personalizado\n        const campoPersonalizado = $item(\"0\").$node[\"campos personalizados meetime\"].json[\"data\"];\n        if (!campoPersonalizado) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        // Busca o campo jornadaDoCliente\n        const jornadaField = campoPersonalizado.find(item => item.field_key == 'jornadaDoCliente');\n        if (!jornadaField || !jornadaField.options) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        // Pega o ID do customFields\n        const jornadaId = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"jornadaDoCliente\"];\n        if (!jornadaId) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        // Busca a opção pelo ID\n        const opcao = jornadaField.options.find(item => item.id == jornadaId);\n        if (!opcao || !opcao.label) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        return opcao.label;\n        \n    } catch (error) {\n        return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n    }\n})()\n}}"}]},"user_id":22664672,"stage_id":15,"status":"open"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1424,768],"id":"2d4e7521-7b34-4a3e-975e-0e2a4ccad561","name":"Pipedrive15","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"person","operation":"update","personId":"={{ $item(\"0\").$node[\"Ler deal1\"].json[\"Pessoa de contato\"][\"value\"] }}","updateFields":{"customProperties":{"property":[{"name":"161520b108dba339c1096c546ea17ee7560a9d14","value":"={{\n(() => {\n    try {\n        // Verifica se existe o campo personalizado\n        const campoPersonalizado = $item(\"0\").$node[\"campos personalizados meetime\"].json[\"data\"];\n        if (!campoPersonalizado) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        // Busca o campo tipoDeNegocio\n        const tipoNegocioField = campoPersonalizado.find(item => item.field_key == 'tipoDeNegocio');\n        if (!tipoNegocioField || !tipoNegocioField.options) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        // Pega o ID do customFields\n        const tipoNegocioId = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"tipoDeNegocio\"];\n        if (!tipoNegocioId) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        // Busca a opção pelo ID\n        const opcao = tipoNegocioField.options.find(item => item.id == tipoNegocioId);\n        if (!opcao || !opcao.label) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        return opcao.label;\n        \n    } catch (error) {\n        return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n    }\n})()\n}}"},{"name":"a904218da6ca209deeee9417d3c712cf666c722e","value":"={{ $item(\"0\").$node[\"campos personalizados meetime3\"].json[\"data\"][\"0\"][\"lead_fit_score\"] }}"}]},"email":["={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"email\"]||$item(\"0\").$node[\"Ler pessoa1\"].json[\"E-mail\"][\"0\"][\"value\"] }}"],"name":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"name\"] || $item(\"0\").$node[\"Ler pessoa1\"].json[\"Nome\"] }}","phone":["={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"phones\"][\"0\"][\"phone\"]|| $item(\"0\").$node[\"Ler pessoa1\"].json[\"Telefone\"][\"0\"][\"value\"] }}"]}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1184,736],"id":"448610a6-2a90-49c5-8737-f00daf0e878a","name":"Pipedrive17","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"0aa64625-4056-4396-89fa-f2519f95128c","name":"campos personalizados meetime2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1680,-528],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Meetime - Rilix"}}},{"parameters":{"operation":"get","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[144,2464],"id":"45adf43b-616d-4e72-8d23-8e86629bd5f6","name":"Ler deal2","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=61"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[5264,1440],"id":"a01568fd-2a84-4a63-adf8-f158d17e0a5e","name":"Pipedrive29","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"note","content":"=Anotações deixadas por {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"salesman\"][\"name\"] }} na Meetime: \n\n{{ \n(() => {\n  const text = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"annotations\"];\n  \n  // Decodificar caracteres especiais\n  let cleaned = text\n    .replace(/&ndash;/g, '–')\n    .replace(/&iacute;/g, 'í')\n    .replace(/&ccedil;/g, 'ç')\n    .replace(/&atilde;/g, 'ã')\n    .replace(/&otilde;/g, 'õ')\n    .replace(/&aacute;/g, 'á')\n    .replace(/&eacute;/g, 'é')\n    .replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú')\n    .replace(/&ecirc;/g, 'ê')\n    .replace(/&ocirc;/g, 'ô')\n    .replace(/&amp;/g, '&')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&Eacute;/g, 'É');\n\n  // CONVERTER TODOS OS <br> PRIMEIRO - de forma mais abrangente\n  cleaned = cleaned\n    // Capturar todas as variações de <br>\n    .replace(/<br\\s*\\/?>\\s*/gi, '\\n')  // <br>, <br/>, <br />\n    .replace(/<br\\s*\\/?>/gi, '\\n')     // Fallback\n    // Depois processar outras tags\n    .replace(/<h[1-6][^>]*>/gi, '\\n')\n    .replace(/<\\/h[1-6]>/gi, '\\n')\n    .replace(/<p[^>]*>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<div[^>]*>/gi, '\\n')\n    .replace(/<\\/div>/gi, '\\n')\n    .replace(/<ul[^>]*>/gi, '\\n')\n    .replace(/<\\/ul>/gi, '\\n')\n    .replace(/<li[^>]*>/gi, '\\n• ')\n    .replace(/<\\/li>/gi, '\\n')\n    .replace(/<hr[^>]*>/gi, '\\n---\\n')\n    // Remover outras tags mas preservar conteúdo\n    .replace(/<[^>]*>/g, ' ')\n    // Preservar quebras mas limpar espaços extras\n    .replace(/[ ]+/g, ' ')\n    .replace(/ \\n/g, '\\n')\n    .replace(/\\n /g, '\\n')\n    .trim();\n\n  // Processar emojis e pontuação\n  cleaned = cleaned\n    .replace(/(🔎|🧩|🎯|💡|🤔|📅)/g, '\\n$1')\n    .replace(/\\s*\\.\\s*/g, '. ')\n    .replace(/\\s*,\\s*/g, ', ')\n    .replace(/\\s*:\\s*/g, ': ');\n\n  // Limpar formatação final\n  cleaned = cleaned\n    .replace(/\\n\\s*\\n/g, '\\n\\n')  // Duas quebras viram parágrafo\n    .replace(/\\n{3,}/g, '\\n\\n');  // Mais de 2 quebras viram 2\n\n  return cleaned;\n})()\n}}","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","person_id":"={{ $item(\"0\").$node[\"Pipedrive14\"].json[\"Pessoa de contato\"][\"value\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[512,2016],"id":"69da1bfe-8ebf-4527-9a71-7c53263164e8","name":"Create a note3","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5f50026-9c74-4e5d-a064-c89fe5d4f0ac","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-528,-176],"id":"a941449e-99f4-46a1-a3a4-57b5d38c3c1c","name":"Filter3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5f50026-9c74-4e5d-a064-c89fe5d4f0ac","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-288,528],"id":"0e3354f8-bee7-4570-a715-f1aa92465390","name":"Filter4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5f50026-9c74-4e5d-a064-c89fe5d4f0ac","leftValue":"={{ $item(\"0\").$node[\"Switch\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-496,832],"id":"d418c841-7ba6-4089-933d-0b4721da5ca4","name":"Filter5"},{"parameters":{"url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-528,-368],"id":"efc5ed7e-f653-4bfa-aa53-b629f656717e","name":"ler Deal","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-384,-544],"id":"0ca310a0-6e8d-48c0-95b3-be7876e5475b","name":"ler contact","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"firstName","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"firstName\"].split(\" \").first() || $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"firstName\"] }}"},{"name":"lastName","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"name\"].split(\" \").slice(1).join(\" \") }}"},{"name":"email","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"email\"]}}"},{"name":"phone","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"phones\"][\"0\"][\"phone\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-160,-464],"id":"30b7810b-5245-406e-bf0e-54374878cd54","name":"att contact1","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customFields\": [\n    {\n      \"id\": \"am5t9kExbOTvdDk6PNja\",\n      \"field_value\": \"{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"salesman\"][\"email\"] }}\"\n    }\n      ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[112,-496],"id":"afd0254d-156e-4ef7-98f7-44da7d2763b1","name":"ler Deal1","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/opportunities/pipelines","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[336,-1024],"id":"63cc18ab-366e-4f01-a07c-b2438bf2656e","name":"ler contact1","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05e65baa-f38f-4a61-9e51-c805cd05025c","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"cadence\"][\"name\"] }}","rightValue":"Prospecção fria","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"fc4374aa-7954-44df-994a-cb6bcab2ee46","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"cadence\"][\"name\"] }}","rightValue":"Inbound","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[288,-528],"id":"90f68ab8-d2b6-45b5-aa16-3866536974c3","name":"If1"},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"pipelineId","value":"a1977887-32c9-4039-9605-79575f505007"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1168,-656],"id":"599bbd74-4914-471b-8b33-9aa33d5b1397","name":"ATT etapa Deal2","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"pipelineId","value":"a8b815a8-f46f-46b4-975a-79b8d0feea7e "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1248,-816],"id":"818cd8c6-91af-4ef8-a314-62a6d0b3e043","name":"ATT etapa Deal","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}/tasks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"Social Point (WhatsApp)\",\n  \"dueDate\": \"{{$now}}\",\n  \"completed\": true,\n  \"assignedTo\": \"{{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"assignedTo\"] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3104,-1072],"id":"28bead5d-ad96-4eb2-bc26-535cf19b50c4","name":"Adiciona tarefa","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"DELETE","url":"=https://services.leadconnectorhq.com/contacts/D8kqKcxonjcYlPdnGoJJ/tasks/YHcUH5QdQlgODKPi5QS1","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1616,-1024],"id":"8a5a6d13-cf18-4af8-833c-d4ce3e2f7819","name":"deltea a tarefa","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}/tasks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"Social Point (LinkedIn)\",\n  \"dueDate\": \"{{$now}}\",\n  \"completed\": true,\n  \"assignedTo\": \"{{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"assignedTo\"] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3344,-864],"id":"92c1048f-2c3f-4a75-bc5e-3245d55988f3","name":"Adiciona tarefa1","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}/tasks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"Social Point (Instagram)\",\n  \"dueDate\": \"{{$now}}\",\n  \"completed\": true,\n  \"assignedTo\": \"{{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"assignedTo\"] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3216,-640],"id":"909bfeed-833d-4f63-9302-f40465529322","name":"Adiciona tarefa2","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}/tasks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"Social Point (Facebook)\",\n  \"dueDate\": \"{{$now}}\",\n  \"completed\": true,\n  \"assignedTo\": \"{{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"assignedTo\"] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3184,-416],"id":"f2ec5281-a2a6-470c-8924-12e4acca5d95","name":"Adiciona tarefa3","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}/tasks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"E-mail\",\n  \"dueDate\": \"{{$now}}\",\n  \"completed\": true,\n  \"assignedTo\": \"{{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"assignedTo\"] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2512,-240],"id":"f1aa0bdc-970c-4980-8dcf-7f1452c61871","name":"Adiciona tarefa4","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}/tasks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"Ligação\",\n  \"dueDate\": \"{{$now}}\",\n  \"completed\": true,\n  \"assignedTo\": \"{{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"assignedTo\"] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2512,-16],"id":"0932c286-a3d2-4553-9fe4-019798e3477a","name":"Adiciona tarefa5","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}/tasks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"Pesquisa\",\n  \"dueDate\": \"{{$now}}\",\n  \"completed\": true,\n  \"assignedTo\": \"{{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"assignedTo\"] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2512,208],"id":"0fd954c8-5ccd-46f1-a47a-3ebdca38be90","name":"Adiciona tarefa6","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Filter4\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-64,496],"id":"7a6d35b2-3e4d-4151-938a-246aecb7b344","name":"ler Deal2","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal2\"].json[\"opportunity\"][\"contact\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,512],"id":"1c623fe0-8d92-4358-a46b-788c79db7c28","name":"ler contact2","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler contact2\"].json[\"contact\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"firstName","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"name\"].split(\" \").first() ||  $item(\"0\").$node[\"ler contact2\"].json[\"contact\"][\"firstName\"] }}"},{"name":"lastName","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"name\"].split(\" \").slice(1).join(\" \") }}"},{"name":"email","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"email\"] }}"},{"name":"phone","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"phones\"][\"0\"][\"phone\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[464,496],"id":"1718b4f2-6a27-4f38-8ea4-f20f02131949","name":"att contact","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Filter4\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customFields\": [\n    {\n      \"id\": \"am5t9kExbOTvdDk6PNja\",\n      \"field_value\": \"{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"salesman\"][\"email\"] }}\"\n    }\n      ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[704,464],"id":"7371870d-4b50-432e-a72c-20f6e24fa1be","name":"ler Deal3","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Filter3","type":"main","index":0}],[{"node":"Filter4","type":"main","index":0}],[{"node":"Filter5","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"templates","type":"main","index":0}],[{"node":"Adiciona tarefa4","type":"main","index":0}],[{"node":"Adiciona tarefa5","type":"main","index":0}],[{"node":"Adiciona tarefa6","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Cria atividade de reunião agendada2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"ATT etapa Deal","type":"main","index":0}],[{"node":"ATT etapa Deal2","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"templates":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Adiciona tarefa","type":"main","index":0}],[{"node":"Adiciona tarefa1","type":"main","index":0}],[{"node":"Adiciona tarefa2","type":"main","index":0}],[{"node":"Adiciona tarefa3","type":"main","index":0}]]},"Create a note":{"main":[[{"node":"Create a note1","type":"main","index":0}]]},"Pipedrive17":{"main":[[{"node":"Pipedrive15","type":"main","index":0}]]},"campos personalizados meetime":{"main":[[{"node":"Pipedrive17","type":"main","index":0}]]},"Pipedrive15":{"main":[[{"node":"Create a note","type":"main","index":0}]]},"Create a note1":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"campos personalizados meetime2":{"main":[[]]},"Filter3":{"main":[[]]},"Filter4":{"main":[[{"node":"ler Deal2","type":"main","index":0}]]},"Filter5":{"main":[[]]},"ler Deal":{"main":[[{"node":"ler contact","type":"main","index":0}]]},"ler contact":{"main":[[{"node":"att contact1","type":"main","index":0}]]},"att contact1":{"main":[[{"node":"ler Deal1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch2","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"ATT etapa Deal2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"ATT etapa Deal":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"ler Deal2":{"main":[[{"node":"ler contact2","type":"main","index":0}]]},"att contact":{"main":[[{"node":"ler Deal3","type":"main","index":0}]]},"ler contact2":{"main":[[]]},"ler Deal1":{"main":[[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"wlpahpLREEEcju2c"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook2.automatisales.com.br","user-agent":"Meetime","content-length":"1642","accept":"*/*","content-type":"application/json","x-forwarded-for":"34.74.246.245","x-forwarded-host":"webhook2.automatisales.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2c1c4eafa7e2","x-meetime-delivery":"74029cca-cadd-4d0b-8b1e-94daa38e80b1","x-meetime-signature":"nszIpfbsQ0LIsn5RiCkpqr2KIwjL7COOPUaSU9whM-A=","x-real-ip":"34.74.246.245","accept-encoding":"gzip"},"params":{},"query":{},"body":{"event":"LEAD.WON","prospection":{"id":34680757,"lead":{"id":27570203,"email":"contato@nexusplace.com.br","firstName":"Andrea Camandolo","name":"Andrea Camandolo","company":"Energy One Ltda","phones":[{"label":null,"phone":"+5571991662324","lastUsage":null}],"position":null,"site":null,"state":null,"city":null,"twitter":null,"facebook":null,"linkedIn":null,"annotations":"wefwfwefwaq","customFields":{"lpDeConversao":"https://pages.datastone.com.br/mailing/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SEARCH_B2C&amp;utm_content=KWD_LEADS&amp;utm_term=comprar%20leads%20qualificados&amp;gclid=CjwKCAiAt8bIBhBpEiwAzH1w6XWnYvsj3P60-WmflWQW6YkHdtmiVYMqYzoMgU4NLEV1EC","idDealGoHighLevel":"b73UeRcoJRbOMSGrU62W"},"publicUrl":"https://meetime.com.br/dashboard/public/leads/LCwGYg0R2Ujs0T1l96W5xJy7F66H7TNVERX3biW23KE","externalReference":null},"cadence":{"id":57289,"name":"\"+50k pra Investir\""},"originType":"EXTERNAL_SOURCE","inbound":true,"startDate":"2025-11-11T00:33:26.691Z","endDate":"2025-11-11T01:36:19.051Z","status":"WON","salesman":{"id":42212,"name":"Julio","email":"julio.braz@automatisalesteste.com.br"},"activities":[],"extraActivities":[{"id":373688068,"status":"FINISHED","scope":"EXTRA_ACTIVITY","executionDate":"2025-11-11T00:33:34.467Z","annotation":"sdqwedwe","type":"SEARCH","executedBy":{"id":42212,"name":"Julio","email":"julio.braz@automatisalesteste.com.br"}}],"origin":{"campaign":"SEARCH_B2C","source":"google","conversion":null,"channel":"UNKNOWN"},"meetings":[{"id":385911,"startDate":"2025-11-15T12:00:00.000Z","endDate":"2025-11-15T13:00:00.000Z","guests":[],"ownerEmail":"juliobraz@auto.com.br"}]}},"webhookUrl":"https://webhook2.automatisales.com.br/webhook/DatastoneAtividadeseStatusMeetime","executionMode":"production"}}]},"versionId":"4c4805d5-1b26-4fca-a3a1-614a9b69c8cb","triggerCount":1,"shared":[{"updatedAt":"2025-11-11T00:19:32.677Z","createdAt":"2025-11-11T00:19:32.677Z","role":"workflow:owner","workflowId":"DOIRbH3dplghv0Q5","projectId":"5Z2b5yWkWWKq8wM8"}],"tags":[]}