-lead-perdido-copy-DOIRbH3dplghv0Q5.json
{"updatedAt":"2025-11-11T22:25:49.166Z","createdAt":"2025-11-11T00:19:32.677Z","id":"DOIRbH3dplghv0Q5","name":"[DATASTONE] - Atividade realizada / Ganho / Lead Perdido copy","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"DatastoneAtividadeseStatusMeetime","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1152,592],"id":"5ce9a95a-6bd2-4744-9ca0-ae993ea23716","name":"Webhook","webhookId":"32668d72-a9b6-4bcc-8259-2ce110bf317a"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"event\"] }}","rightValue":"LEAD_ACTIVITY.FINISHED","operator":{"type":"string","operation":"equals"},"id":"aa6ebbe6-2d7d-4ad6-afb1-3566624f6ce1"}],"combinator":"and"},"renameOutput":true,"outputKey":"ATIVIDADE REALIZADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c623d283-3b9a-48e3-9d03-ec7050258b7c","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"event\"] }}","rightValue":"LEAD.WON","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NEGÓCIO GANHO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"706da3f5-f030-4822-be12-cd0feaa8ae82","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"event\"] }}","rightValue":"LEAD.LOST","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LEAD PERDIDO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-656,560],"id":"ea233080-9a01-43ee-8ccb-75d40cb659c7","name":"Switch"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"type\"] }}","rightValue":"SOCIAL_POINT","operator":{"type":"string","operation":"equals"},"id":"d05662e3-1b84-4c6e-bf0d-2c976a7d5fb2"}],"combinator":"and"},"renameOutput":true,"outputKey":"Social Point"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b1a812d-7f8f-493f-89a2-52d14d1cb747","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"type\"] }}","rightValue":"E_MAIL","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"E-mail"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0843a66e-2fa1-4634-863f-0349762265b3","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"type\"] }}","rightValue":"CALL","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Chamada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3ce0950-fd67-49fc-aea6-22aa675d7659","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"type\"] }}","rightValue":"SEARCH","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pesquisar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1968,-256],"id":"37c80214-9dc7-4db5-a4e0-6759fc270658","name":"Switch1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"31da7b5d-8c49-4f13-9858-7c808d4cf9d2","leftValue":"={{ $('Webhook').item.json.body.prospection.meetings[0].id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2704,704],"id":"8351b0d0-17ee-49c6-81bc-5c964ef3857d","name":"Filter1"},{"parameters":{"method":"POST","url":"https://api.meetime.com.br/v2/webhooks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"enabled\": true,\n  \"events\": [\n    \"LEAD.WON\",\n    \"LEAD.LOST\",\n    \"LEAD_ACTIVITY.FINISHED\"\n  ],\n  \"targetUrl\": \"https://webhook2.automatisales.com.br/webhook/DatastoneAtividadeseStatusMeetime\"\n}","options":{}},"id":"5d074744-cf9a-44a6-a1cd-852104e128aa","name":"Cria webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1712,48],"credentials":{"httpHeaderAuth":{"id":"guVOe6gJoY5RnYXI","name":"Meetime - DataStone"}}},{"parameters":{"content":"Criar webhook\nWebhook ativado","height":272,"width":320},"type":"n8n-nodes-base.stickyNote","position":[-1808,-96],"typeVersion":1,"id":"13710b8c-8030-4173-8e91-a2b07cfa1dd0","name":"Sticky Note2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"pipelineStageId\"] }}","rightValue":"=eebe5f36-b91e-44c5-bae6-d80ca26da7d3","operator":{"type":"string","operation":"equals"},"id":"d7c85246-25e2-4233-aeb8-5811f446f803"}],"combinator":"and"},"renameOutput":true,"outputKey":"PV Outbound"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b1a812d-7f8f-493f-89a2-52d14d1cb747","leftValue":"={{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"pipelineStageId\"] }}","rightValue":"c920e9ed-806a-4e9d-b18b-4915bf23e05c","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PV Inbound"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[576,-640],"id":"f8352e2a-0188-4b8c-ab1a-efa0b51f60b9","name":"Switch2"},{"parameters":{"content":"[\n  {\n    \"success\": true,\n    \"data\": [\n      {\n        \"id\": 1,\n        \"order_nr\": 1,\n        \"name\": \"Chamada\",\n        \"key_string\": \"call\",\n        \"icon_key\": \"call\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": \"2022-10-26 21:46:45\"\n      },\n      {\n        \"id\": 2,\n        \"order_nr\": 2,\n        \"name\": \"Reunião\",\n        \"key_string\": \"meeting\",\n        \"icon_key\": \"meeting\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 3,\n        \"order_nr\": 3,\n        \"name\": \"Tarefa\",\n        \"key_string\": \"task\",\n        \"icon_key\": \"task\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 4,\n        \"order_nr\": 4,\n        \"name\": \"Prazo\",\n        \"key_string\": \"deadline\",\n        \"icon_key\": \"deadline\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 5,\n        \"order_nr\": 5,\n        \"name\": \"E-mail\",\n        \"key_string\": \"email\",\n        \"icon_key\": \"email\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 6,\n        \"order_nr\": 6,\n        \"name\": \"Almoço\",\n        \"key_string\": \"lunch\",\n        \"icon_key\": \"lunch\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 7,\n        \"order_nr\": 7,\n        \"name\": \"Whatsapp chat\",\n        \"key_string\": \"whatsapp_chat\",\n        \"icon_key\": \"bubble\",\n        \"active_flag\": true,\n        \"color\": \"00CC00\",\n        \"is_custom_flag\": true,\n        \"add_time\": \"2022-09-28 21:36:41\",\n        \"update_time\": \"2022-10-26 21:46:30\"\n      },\n      {\n        \"id\": 8,\n        \"order_nr\": 8,\n        \"name\": \"Entrega de Carrinho\",\n        \"key_string\": \"entrega_de_carrinho\",\n        \"icon_key\": \"truck\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2023-03-07 14:50:31\",\n        \"update_time\": \"2023-03-07 14:50:31\"\n      },\n      {\n        \"id\": 9,\n        \"order_nr\": 9,\n        \"name\": \"Pesquisa\",\n        \"key_string\": \"pesquisa\",\n        \"icon_key\": \"search\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:16:56\",\n        \"update_time\": \"2025-09-30 12:16:56\"\n      },\n      {\n        \"id\": 10,\n        \"order_nr\": 10,\n        \"name\": \"LinkedIn\",\n        \"key_string\": \"linkedin\",\n        \"icon_key\": \"loop\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:17:56\",\n        \"update_time\": \"2025-09-30 12:17:56\"\n      },\n      {\n        \"id\": 11,\n        \"order_nr\": 11,\n        \"name\": \"Facebook\",\n        \"key_string\": \"facebook\",\n        \"icon_key\": \"signpost\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:18:51\",\n        \"update_time\": \"2025-09-30 12:18:51\"\n      },\n      {\n        \"id\": 12,\n        \"order_nr\": 12,\n        \"name\": \"Instagram\",\n        \"key_string\": \"instagram\",\n        \"icon_key\": \"camera\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:19:13\",\n        \"update_time\": \"2025-09-30 12:19:13\"\n      }\n    ]\n  }\n]"},"type":"n8n-nodes-base.stickyNote","position":[1968,-896],"typeVersion":1,"id":"e4b8f6be-a60a-4ec1-92c5-3d63fe13fce8","name":"Sticky Note1"},{"parameters":{"url":"https://api.meetime.com.br/v2/cadences/activities-templates","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"activity_type","value":"SOCIAL_POINT"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2496,-592],"id":"df1ecaaa-572c-4e63-b9a4-6569723b54db","name":"templates","credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Meetime - Rilix"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"templates\"].json[\"data\"].find(item => item.id == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network}}","rightValue":"WHATSAPP","operator":{"type":"string","operation":"equals"},"id":"727c4fc9-ca6f-4d81-8114-4924e48484ee"}],"combinator":"and"},"renameOutput":true,"outputKey":"Whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d9e7d5bf-f501-4102-81d9-51c6ff21bc2f","leftValue":"={{ $item(\"0\").$node[\"templates\"].json[\"data\"].find(item => item.id == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network}}","rightValue":"LINKED_IN","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Linkedin"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72240f6c-f0a5-461f-8e9b-71a88e51f807","leftValue":"={{ $item(\"0\").$node[\"templates\"].json[\"data\"].find(item => item.id == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network}}","rightValue":"INSTAGRAM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1dfcbaa5-c945-425e-bc62-5d7829d151af","leftValue":"={{ $item(\"0\").$node[\"templates\"].json[\"data\"].find(item => item.id == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network}}","rightValue":"FACEBOOK","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FACEBOOK"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2704,-720],"id":"7dd9fe9d-33b3-431d-aa4f-65632edfbd4f","name":"Switch3"},{"parameters":{"url":"https://api.pipedrive.com/v1/users","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,2528],"id":"239c76f8-1304-4cd2-abd4-327ae74fc76b","name":"Users pipedrive","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"0aa64625-4056-4396-89fa-f2519f95128c","name":"campos personalizados meetime2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1680,-528],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Meetime - Rilix"}}},{"parameters":{"operation":"get","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[144,2464],"id":"45adf43b-616d-4e72-8d23-8e86629bd5f6","name":"Ler deal2","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=61"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[5264,1440],"id":"a01568fd-2a84-4a63-adf8-f158d17e0a5e","name":"Pipedrive29","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"note","content":"=Anotações deixadas por {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"salesman\"][\"name\"] }} na Meetime: \n\n{{ \n(() => {\n  const text = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"annotations\"];\n  \n  // Decodificar caracteres especiais\n  let cleaned = text\n    .replace(/&ndash;/g, '–')\n    .replace(/&iacute;/g, 'í')\n    .replace(/&ccedil;/g, 'ç')\n    .replace(/&atilde;/g, 'ã')\n    .replace(/&otilde;/g, 'õ')\n    .replace(/&aacute;/g, 'á')\n    .replace(/&eacute;/g, 'é')\n    .replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú')\n    .replace(/&ecirc;/g, 'ê')\n    .replace(/&ocirc;/g, 'ô')\n    .replace(/&amp;/g, '&')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&Eacute;/g, 'É');\n\n  // CONVERTER TODOS OS <br> PRIMEIRO - de forma mais abrangente\n  cleaned = cleaned\n    // Capturar todas as variações de <br>\n    .replace(/<br\\s*\\/?>\\s*/gi, '\\n')  // <br>, <br/>, <br />\n    .replace(/<br\\s*\\/?>/gi, '\\n')     // Fallback\n    // Depois processar outras tags\n    .replace(/<h[1-6][^>]*>/gi, '\\n')\n    .replace(/<\\/h[1-6]>/gi, '\\n')\n    .replace(/<p[^>]*>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<div[^>]*>/gi, '\\n')\n    .replace(/<\\/div>/gi, '\\n')\n    .replace(/<ul[^>]*>/gi, '\\n')\n    .replace(/<\\/ul>/gi, '\\n')\n    .replace(/<li[^>]*>/gi, '\\n• ')\n    .replace(/<\\/li>/gi, '\\n')\n    .replace(/<hr[^>]*>/gi, '\\n---\\n')\n    // Remover outras tags mas preservar conteúdo\n    .replace(/<[^>]*>/g, ' ')\n    // Preservar quebras mas limpar espaços extras\n    .replace(/[ ]+/g, ' ')\n    .replace(/ \\n/g, '\\n')\n    .replace(/\\n /g, '\\n')\n    .trim();\n\n  // Processar emojis e pontuação\n  cleaned = cleaned\n    .replace(/(🔎|🧩|🎯|💡|🤔|📅)/g, '\\n$1')\n    .replace(/\\s*\\.\\s*/g, '. ')\n    .replace(/\\s*,\\s*/g, ', ')\n    .replace(/\\s*:\\s*/g, ': ');\n\n  // Limpar formatação final\n  cleaned = cleaned\n    .replace(/\\n\\s*\\n/g, '\\n\\n')  // Duas quebras viram parágrafo\n    .replace(/\\n{3,}/g, '\\n\\n');  // Mais de 2 quebras viram 2\n\n  return cleaned;\n})()\n}}","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","person_id":"={{ $item(\"0\").$node[\"Pipedrive14\"].json[\"Pessoa de contato\"][\"value\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[512,2016],"id":"69da1bfe-8ebf-4527-9a71-7c53263164e8","name":"Create a note3","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5f50026-9c74-4e5d-a064-c89fe5d4f0ac","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-528,-176],"id":"a941449e-99f4-46a1-a3a4-57b5d38c3c1c","name":"Filter3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5f50026-9c74-4e5d-a064-c89fe5d4f0ac","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-368,560],"id":"0e3354f8-bee7-4570-a715-f1aa92465390","name":"Filter4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5f50026-9c74-4e5d-a064-c89fe5d4f0ac","leftValue":"={{ $item(\"0\").$node[\"Switch\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-368,896],"id":"d418c841-7ba6-4089-933d-0b4721da5ca4","name":"Filter5"},{"parameters":{"url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-528,-368],"id":"efc5ed7e-f653-4bfa-aa53-b629f656717e","name":"ler Deal","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-384,-544],"id":"0ca310a0-6e8d-48c0-95b3-be7876e5475b","name":"ler contact","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"firstName","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"firstName\"].split(\" \").first() || $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"firstName\"] }}"},{"name":"lastName","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"name\"].split(\" \").slice(1).join(\" \") }}"},{"name":"email","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"email\"]}}"},{"name":"phone","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"phones\"][\"0\"][\"phone\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-160,-464],"id":"30b7810b-5245-406e-bf0e-54374878cd54","name":"att contact1","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customFields\": [\n    {\n      \"id\": \"am5t9kExbOTvdDk6PNja\",\n      \"field_value\": \"{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"salesman\"][\"email\"] }}\"\n    }\n      ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[112,-496],"id":"afd0254d-156e-4ef7-98f7-44da7d2763b1","name":"ler Deal1","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/opportunities/pipelines","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[336,-1024],"id":"63cc18ab-366e-4f01-a07c-b2438bf2656e","name":"ler contact1","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05e65baa-f38f-4a61-9e51-c805cd05025c","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"cadence\"][\"name\"] }}","rightValue":"Prospecção fria","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}},{"id":"fc4374aa-7954-44df-994a-cb6bcab2ee46","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"cadence\"][\"name\"] }}","rightValue":"Inbound","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[288,-528],"id":"90f68ab8-d2b6-45b5-aa16-3866536974c3","name":"If1"},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"pipelineId","value":"a1977887-32c9-4039-9605-79575f505007"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1168,-656],"id":"599bbd74-4914-471b-8b33-9aa33d5b1397","name":"ATT etapa Deal2","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"pipelineId","value":"a8b815a8-f46f-46b4-975a-79b8d0feea7e "}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1248,-816],"id":"818cd8c6-91af-4ef8-a314-62a6d0b3e043","name":"ATT etapa Deal","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}/tasks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"Social Point (WhatsApp)\",\n  \"dueDate\": \"{{$now}}\",\n  \"completed\": true,\n  \"assignedTo\": \"{{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"assignedTo\"] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3104,-1072],"id":"28bead5d-ad96-4eb2-bc26-535cf19b50c4","name":"Adiciona tarefa","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"DELETE","url":"=https://services.leadconnectorhq.com/contacts/D8kqKcxonjcYlPdnGoJJ/tasks/YHcUH5QdQlgODKPi5QS1","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1616,-1024],"id":"8a5a6d13-cf18-4af8-833c-d4ce3e2f7819","name":"deltea a tarefa","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}/tasks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"Social Point (LinkedIn)\",\n  \"dueDate\": \"{{$now}}\",\n  \"completed\": true,\n  \"assignedTo\": \"{{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"assignedTo\"] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3344,-864],"id":"92c1048f-2c3f-4a75-bc5e-3245d55988f3","name":"Adiciona tarefa1","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}/tasks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"Social Point (Instagram)\",\n  \"dueDate\": \"{{$now}}\",\n  \"completed\": true,\n  \"assignedTo\": \"{{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"assignedTo\"] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3216,-640],"id":"909bfeed-833d-4f63-9302-f40465529322","name":"Adiciona tarefa2","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}/tasks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"Social Point (Facebook)\",\n  \"dueDate\": \"{{$now}}\",\n  \"completed\": true,\n  \"assignedTo\": \"{{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"assignedTo\"] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3184,-416],"id":"f2ec5281-a2a6-470c-8924-12e4acca5d95","name":"Adiciona tarefa3","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}/tasks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"E-mail\",\n  \"dueDate\": \"{{$now}}\",\n  \"completed\": true,\n  \"assignedTo\": \"{{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"assignedTo\"] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2512,-240],"id":"f1aa0bdc-970c-4980-8dcf-7f1452c61871","name":"Adiciona tarefa4","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}/tasks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"Ligação\",\n  \"dueDate\": \"{{$now}}\",\n  \"completed\": true,\n  \"assignedTo\": \"{{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"assignedTo\"] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2512,-16],"id":"0932c286-a3d2-4553-9fe4-019798e3477a","name":"Adiciona tarefa5","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"id\"] }}/tasks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"Pesquisa\",\n  \"dueDate\": \"{{$now}}\",\n  \"completed\": true,\n  \"assignedTo\": \"{{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"assignedTo\"] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2512,208],"id":"0fd954c8-5ccd-46f1-a47a-3ebdca38be90","name":"Adiciona tarefa6","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Filter4\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-144,560],"id":"7a6d35b2-3e4d-4151-938a-246aecb7b344","name":"ler Deal2","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal2\"].json[\"opportunity\"][\"contact\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[80,544],"id":"1c623fe0-8d92-4358-a46b-788c79db7c28","name":"ler contact2","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler contact2\"].json[\"contact\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"firstName","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"name\"].split(\" \").first() ||  $item(\"0\").$node[\"ler contact2\"].json[\"contact\"][\"firstName\"] }}"},{"name":"lastName","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"name\"].split(\" \").slice(1).join(\" \") }}"},{"name":"email","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"email\"] }}"},{"name":"phone","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"phones\"][\"0\"][\"phone\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[336,544],"id":"1718b4f2-6a27-4f38-8ea4-f20f02131949","name":"att contact","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Filter4\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customFields\": [\n    {\n      \"id\": \"am5t9kExbOTvdDk6PNja\",\n      \"field_value\": \"{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"salesman\"][\"email\"] }}\"\n    }\n      ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[608,544],"id":"7371870d-4b50-432e-a72c-20f6e24fa1be","name":"att Deal3","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"ler Deal2\"].json[\"opportunity\"][\"pipelineId\"] }}","rightValue":"=mN83CwcYf6r99vFl7XoH","operator":{"type":"string","operation":"equals"},"id":"d7c85246-25e2-4233-aeb8-5811f446f803"}],"combinator":"and"},"renameOutput":true,"outputKey":"PV Inbound"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b1a812d-7f8f-493f-89a2-52d14d1cb747","leftValue":"={{ $item(\"0\").$node[\"ler Deal2\"].json[\"opportunity\"][\"pipelineId\"] }}","rightValue":"UKcA99UXOQFlf2P8vy5G","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PV Outbound"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"28d324ef-7fca-4d4f-bf0c-ccd52f7da597","leftValue":"={{ $item(\"0\").$node[\"ler Deal2\"].json[\"opportunity\"][\"pipelineId\"] }}","rightValue":"FKRFCjYCrZdxRrhOz7Gc","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Aq Outbound"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e84ac24a-48fb-4652-b3cd-359d621fe858","leftValue":"={{ $item(\"0\").$node[\"ler Deal2\"].json[\"opportunity\"][\"pipelineId\"] }}","rightValue":"xbcY1R1Ad7ITXIZeRy22","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Aq Inbound"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1632,368],"id":"cfe4ff2d-d02b-479b-8f0c-9c23890523af","name":"Switch4"},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Filter4\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"pipelineStageId","value":"604c16cc-596f-41e3-83db-f0313a3cd8e8"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2016,960],"id":"1a3d0d17-635b-407c-b806-9d708665f2c3","name":"att Deal","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Filter4\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"pipelineStageId","value":"505a050d-da18-43dd-aa35-4178070b0fbf"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2032,816],"id":"90b619e6-bd2b-4687-a166-bb62bb7d1a27","name":"att Deal1","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Filter4\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"pipelineStageId","value":"bb7b2397-9cb6-465d-aa41-399f36536c41"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2048,656],"id":"78b5538d-cb40-4c75-905a-f354242a4c4a","name":"att Deal2","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Filter4\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"pipelineStageId","value":"2f373c66-d120-43eb-9d0a-2fc1125194d1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2048,528],"id":"4ca01445-6bf1-48ae-b9b8-e874ef3f8f41","name":"att Deal4","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/users/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[2944,608],"id":"8e67a11f-d1ff-4955-86a1-02ac6e0e650c","name":"ler User","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler contact2\"].json[\"contact\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assignedTo","value":"={{ $item(\"0\").$node[\"ler User\"].json[\"users\"].find(item => item.email == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"meetings\"][\"0\"][\"ownerEmail\"])?.id ||  $item(\"0\").$node[\"ler contact2\"].json[\"contact\"][\"assignedTo\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3232,576],"id":"92f3b5e9-86a7-4388-a471-404a305cfaf0","name":"att ownercontact2","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Filter4\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"assignedTo","value":"={{ $item(\"0\").$node[\"ler User\"].json[\"users\"].find(item => item.email == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"meetings\"][\"0\"][\"ownerEmail\"])?.id ||  $item(\"0\").$node[\"ler contact2\"].json[\"contact\"][\"assignedTo\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[3488,544],"id":"e73d969c-08d4-4d3e-a51d-4aad2f582f6f","name":"att OwnerDeal","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler contact2\"].json[\"contact\"][\"id\"] }}/notes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"body\": \"Anotações deixadas por {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"salesman\"][\"name\"] }} na Meetime: \n{{ \n(() => {\n  const text = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"annotations\"];\n  \n  // Decodificar caracteres especiais\n  let cleaned = text\n    .replace(/&ndash;/g, '–')\n    .replace(/&iacute;/g, 'í')\n    .replace(/&ccedil;/g, 'ç')\n    .replace(/&atilde;/g, 'ã')\n    .replace(/&otilde;/g, 'õ')\n    .replace(/&aacute;/g, 'á')\n    .replace(/&eacute;/g, 'é')\n    .replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú')\n    .replace(/&ecirc;/g, 'ê')\n    .replace(/&ocirc;/g, 'ô')\n    .replace(/&amp;/g, '&')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&Eacute;/g, 'É');\n\n  // CONVERTER TODOS OS <br> PRIMEIRO - de forma mais abrangente\n  cleaned = cleaned\n    // Capturar todas as variações de <br>\n    .replace(/<br\\s*\\/?>\\s*/gi, '\\n')  // <br>, <br/>, <br />\n    .replace(/<br\\s*\\/?>/gi, '\\n')     // Fallback\n    // Depois processar outras tags\n    .replace(/<h[1-6][^>]*>/gi, '\\n')\n    .replace(/<\\/h[1-6]>/gi, '\\n')\n    .replace(/<p[^>]*>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<div[^>]*>/gi, '\\n')\n    .replace(/<\\/div>/gi, '\\n')\n    .replace(/<ul[^>]*>/gi, '\\n')\n    .replace(/<\\/ul>/gi, '\\n')\n    .replace(/<li[^>]*>/gi, '\\n• ')\n    .replace(/<\\/li>/gi, '\\n')\n    .replace(/<hr[^>]*>/gi, '\\n---\\n')\n    // Remover outras tags mas preservar conteúdo\n    .replace(/<[^>]*>/g, ' ')\n    // Preservar quebras mas limpar espaços extras\n    .replace(/[ ]+/g, ' ')\n    .replace(/ \\n/g, '\\n')\n    .replace(/\\n /g, '\\n')\n    .trim();\n\n  // Processar emojis e pontuação\n  cleaned = cleaned\n    .replace(/(🔎|🧩|🎯|💡|🤔|📅)/g, '\\n$1')\n    .replace(/\\s*\\.\\s*/g, '. ')\n    .replace(/\\s*,\\s*/g, ', ')\n    .replace(/\\s*:\\s*/g, ': ');\n\n  // Limpar formatação final\n  cleaned = cleaned\n    .replace(/\\n\\s*\\n/g, '\\n\\n')  // Duas quebras viram parágrafo\n    .replace(/\\n{3,}/g, '\\n\\n');  // Mais de 2 quebras viram 2\n\n  return cleaned;\n})()\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,608],"id":"c073db72-45d6-4add-9252-4ea1f26f2b1d","name":"Cria Anotação2","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler contact2\"].json[\"contact\"][\"id\"] }}/notes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"body\": \"Link p/ feedback da Oportunidade: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"dealFeedback\"][\"dealFeedbackUrl\"] ||''}}\\n\\nURL pública lead na Meetime: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"publicUrl\"] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[928,576],"id":"1444dfe3-b4d0-4b09-b016-452c2b2ae4c1","name":"Cria Anotação","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/calendars/events/appointments","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"title\": \"DataStone <> {{ $item(\"0\").$node[\"ler Deal2\"].json[\"opportunity\"][\"contact\"][\"companyName\"] }}\",\n  \"locationId\": \"CcbGytNWfngxB5I0klXe\",\n  \"contactId\": \"{{ $item(\"0\").$node[\"ler contact2\"].json[\"contact\"][\"id\"] }}\",\n  \"startTime\": \"{{ $('Webhook').item.json.body.prospection.meetings[0].startDate }}\",\n  \"endTime\": \"{{ $('Webhook').item.json.body.prospection.meetings[0].endDate }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[176,32],"id":"e2e93fa4-f90a-4fe6-a660-3ae01c1883f8","name":"Criar Agendamento","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/calendars/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[368,48],"id":"05596f21-76ee-455a-ba3d-aea4f82c639c","name":"ler calendario","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05e65baa-f38f-4a61-9e51-c805cd05025c","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"cadence\"][\"name\"].toLowerCase() }}","rightValue":"recuperação","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1408,608],"id":"080ad30e-2c91-4625-8b43-b129af777a28","name":"If"},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"status\": \"open\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-400,1216],"id":"3e38b45a-beac-4539-bee6-fb10c21a6ede","name":"att Deal5","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"content":"{\n  \"status\": \"open\", \n  \"lost_reason\": \"{{ \"Outro\"??$item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lostReason\"][\"name\"] }}\" \n}"},"type":"n8n-nodes-base.stickyNote","position":[-528,1040],"typeVersion":1,"id":"79caab63-8bd0-46d9-b10d-5c42c289a896","name":"Sticky Note"},{"parameters":{"url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Filter4\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-128,912],"id":"f2bb324e-e01e-4b4e-a76f-e21886e50c88","name":"ler Deal3","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler Deal3\"].json[\"opportunity\"][\"contact\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[128,928],"id":"d3c00462-980b-427d-ace2-8cf5e5d209a5","name":"ler contact3","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler contact3\"].json[\"contact\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"firstName","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"name\"].split(\" \").first() ||  $item(\"0\").$node[\"ler contact3\"].json[\"contact\"][\"firstName\"] }}"},{"name":"lastName","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"name\"].split(\" \").slice(1).join(\" \") }}"},{"name":"email","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"email\"] }}"},{"name":"phone","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"phones\"][\"0\"][\"phone\"] }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[48,1216],"id":"21f7f0ef-63c0-4675-ab0f-b6e853b6acc9","name":"att contact2","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Filter4\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"customFields\": [\n    {\n      \"id\": \"am5t9kExbOTvdDk6PNja\",\n      \"field_value\": \"{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"salesman\"][\"email\"] }}\"\n    }\n      ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[256,1248],"id":"784e69e4-3557-4a59-8539-4ecd5ece259e","name":"att Deal6","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler contact3\"].json[\"contact\"][\"id\"] }}/notes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"body\": \"Anotações deixadas por {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"salesman\"][\"name\"] }} na Meetime: \n{{ \n(() => {\n  const text = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"annotations\"];\n  \n  // Decodificar caracteres especiais\n  let cleaned = text\n    .replace(/&ndash;/g, '–')\n    .replace(/&iacute;/g, 'í')\n    .replace(/&ccedil;/g, 'ç')\n    .replace(/&atilde;/g, 'ã')\n    .replace(/&otilde;/g, 'õ')\n    .replace(/&aacute;/g, 'á')\n    .replace(/&eacute;/g, 'é')\n    .replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú')\n    .replace(/&ecirc;/g, 'ê')\n    .replace(/&ocirc;/g, 'ô')\n    .replace(/&amp;/g, '&')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&Eacute;/g, 'É');\n\n  // CONVERTER TODOS OS <br> PRIMEIRO - de forma mais abrangente\n  cleaned = cleaned\n    // Capturar todas as variações de <br>\n    .replace(/<br\\s*\\/?>\\s*/gi, '\\n')  // <br>, <br/>, <br />\n    .replace(/<br\\s*\\/?>/gi, '\\n')     // Fallback\n    // Depois processar outras tags\n    .replace(/<h[1-6][^>]*>/gi, '\\n')\n    .replace(/<\\/h[1-6]>/gi, '\\n')\n    .replace(/<p[^>]*>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<div[^>]*>/gi, '\\n')\n    .replace(/<\\/div>/gi, '\\n')\n    .replace(/<ul[^>]*>/gi, '\\n')\n    .replace(/<\\/ul>/gi, '\\n')\n    .replace(/<li[^>]*>/gi, '\\n• ')\n    .replace(/<\\/li>/gi, '\\n')\n    .replace(/<hr[^>]*>/gi, '\\n---\\n')\n    // Remover outras tags mas preservar conteúdo\n    .replace(/<[^>]*>/g, ' ')\n    // Preservar quebras mas limpar espaços extras\n    .replace(/[ ]+/g, ' ')\n    .replace(/ \\n/g, '\\n')\n    .replace(/\\n /g, '\\n')\n    .trim();\n\n  // Processar emojis e pontuação\n  cleaned = cleaned\n    .replace(/(🔎|🧩|🎯|💡|🤔|📅)/g, '\\n$1')\n    .replace(/\\s*\\.\\s*/g, '. ')\n    .replace(/\\s*,\\s*/g, ', ')\n    .replace(/\\s*:\\s*/g, ': ');\n\n  // Limpar formatação final\n  cleaned = cleaned\n    .replace(/\\n\\s*\\n/g, '\\n\\n')  // Duas quebras viram parágrafo\n    .replace(/\\n{3,}/g, '\\n\\n');  // Mais de 2 quebras viram 2\n\n  return cleaned;\n})()\n}}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1248,1504],"id":"cb9e8485-200b-47eb-ad80-a84ae22808c6","name":"Cria Anotação3","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"ler contact3\"].json[\"contact\"][\"id\"] }}/notes","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"body\": \"Link p/ feedback da Oportunidade: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"dealFeedback\"][\"dealFeedbackUrl\"] ||''}}\\n\\nURL pública lead na Meetime: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"publicUrl\"] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1008,1488],"id":"96c053ed-4473-4fd7-bb13-e0a3148a698b","name":"Cria Anotação1","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"05e65baa-f38f-4a61-9e51-c805cd05025c","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"cadence\"][\"name\"].toLowerCase() }}","rightValue":"recuperação","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[592,1248],"id":"36eedd14-79ea-439c-8f2d-908e0656acaa","name":"If2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"ler Deal2\"].json[\"opportunity\"][\"pipelineId\"] }}","rightValue":"=mN83CwcYf6r99vFl7XoH","operator":{"type":"string","operation":"equals"},"id":"d7c85246-25e2-4233-aeb8-5811f446f803"}],"combinator":"and"},"renameOutput":true,"outputKey":"PV Inbound"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b1a812d-7f8f-493f-89a2-52d14d1cb747","leftValue":"={{ $item(\"0\").$node[\"ler Deal2\"].json[\"opportunity\"][\"pipelineId\"] }}","rightValue":"UKcA99UXOQFlf2P8vy5G","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"PV Outbound"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"28d324ef-7fca-4d4f-bf0c-ccd52f7da597","leftValue":"={{ $item(\"0\").$node[\"ler Deal2\"].json[\"opportunity\"][\"pipelineId\"] }}","rightValue":"FKRFCjYCrZdxRrhOz7Gc","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Aq Outbound"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e84ac24a-48fb-4652-b3cd-359d621fe858","leftValue":"={{ $item(\"0\").$node[\"ler Deal2\"].json[\"opportunity\"][\"pipelineId\"] }}","rightValue":"xbcY1R1Ad7ITXIZeRy22","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Aq Inbound"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[784,1024],"id":"fc4aea8a-f84b-4b6c-b2b3-73dfdbc579f6","name":"Switch5"},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Filter4\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"pipelineStageId","value":"d90390aa-c031-4cc9-8056-e2821131b951"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1232,816],"id":"f0f50fcf-a4d0-4fe9-8d0d-4d0c82ad2359","name":"att Deal9","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"PUT","url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Filter4\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealGoHighLevel\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"pipelineStageId","value":"ad99262c-ea16-4a7f-a839-26cf7a7160e4"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1280,960],"id":"abb4b01b-d0f6-4f17-9651-50c86fee373c","name":"att Deal10","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Filter3","type":"main","index":0}],[{"node":"Filter4","type":"main","index":0}],[{"node":"Filter5","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"templates","type":"main","index":0}],[{"node":"Adiciona tarefa4","type":"main","index":0}],[{"node":"Adiciona tarefa5","type":"main","index":0}],[{"node":"Adiciona tarefa6","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"ler User","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"ATT etapa Deal","type":"main","index":0}],[{"node":"ATT etapa Deal2","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"templates":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Adiciona tarefa","type":"main","index":0}],[{"node":"Adiciona tarefa1","type":"main","index":0}],[{"node":"Adiciona tarefa2","type":"main","index":0}],[{"node":"Adiciona tarefa3","type":"main","index":0}]]},"campos personalizados meetime2":{"main":[[]]},"Filter3":{"main":[[]]},"Filter4":{"main":[[]]},"Filter5":{"main":[[]]},"ler Deal":{"main":[[{"node":"ler contact","type":"main","index":0}]]},"ler contact":{"main":[[{"node":"att contact1","type":"main","index":0}]]},"att contact1":{"main":[[{"node":"ler Deal1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Switch2","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"ATT etapa Deal2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"ATT etapa Deal":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"ler Deal2":{"main":[[{"node":"ler contact2","type":"main","index":0}]]},"att contact":{"main":[[{"node":"att Deal3","type":"main","index":0}]]},"ler contact2":{"main":[[{"node":"att contact","type":"main","index":0}]]},"ler Deal1":{"main":[[{"node":"If1","type":"main","index":0}]]},"Switch4":{"main":[[{"node":"att Deal4","type":"main","index":0}],[{"node":"att Deal2","type":"main","index":0}],[{"node":"att Deal1","type":"main","index":0}],[{"node":"att Deal","type":"main","index":0}]]},"att Deal":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"ler User":{"main":[[{"node":"att ownercontact2","type":"main","index":0}]]},"att ownercontact2":{"main":[[{"node":"att OwnerDeal","type":"main","index":0}]]},"Cria Anotação":{"main":[[{"node":"Cria Anotação2","type":"main","index":0}]]},"att Deal3":{"main":[[{"node":"Cria Anotação","type":"main","index":0}]]},"Cria Anotação2":{"main":[[{"node":"If","type":"main","index":0}]]},"att Deal4":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"att Deal2":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"att Deal1":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"If":{"main":[[{"node":"att Deal2","type":"main","index":0}],[{"node":"Switch4","type":"main","index":0}]]},"ler Deal3":{"main":[[{"node":"ler contact3","type":"main","index":0}]]},"ler contact3":{"main":[[{"node":"att contact2","type":"main","index":0}]]},"att contact2":{"main":[[{"node":"att Deal6","type":"main","index":0}]]},"att Deal6":{"main":[[{"node":"If2","type":"main","index":0}]]},"Cria Anotação1":{"main":[[{"node":"Cria Anotação3","type":"main","index":0}]]},"If2":{"main":[[{"node":"att Deal10","type":"main","index":0}],[{"node":"Switch5","type":"main","index":0}]]},"Switch5":{"main":[[{"node":"att Deal9","type":"main","index":0}],[{"node":"att Deal10","type":"main","index":0}]]},"Cria Anotação3":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"wlpahpLREEEcju2c"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Filter4":[{"json":{"headers":{"host":"webhook2.automatisales.com.br","user-agent":"Meetime","content-length":"1642","accept":"*/*","content-type":"application/json","x-forwarded-for":"34.74.246.245","x-forwarded-host":"webhook2.automatisales.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2c1c4eafa7e2","x-meetime-delivery":"74029cca-cadd-4d0b-8b1e-94daa38e80b1","x-meetime-signature":"nszIpfbsQ0LIsn5RiCkpqr2KIwjL7COOPUaSU9whM-A=","x-real-ip":"34.74.246.245","accept-encoding":"gzip"},"params":{},"query":{},"body":{"event":"LEAD.WON","prospection":{"id":34680757,"lead":{"id":27570203,"email":"contato@nexusplace.com.br","firstName":"Andrea Camandolo","name":"Andrea Camandolo","company":"Energy One Ltda","phones":[{"label":null,"phone":"+5571991662324","lastUsage":null}],"position":null,"site":null,"state":null,"city":null,"twitter":null,"facebook":null,"linkedIn":null,"annotations":"wefwfwefwaq","customFields":{"lpDeConversao":"https://pages.datastone.com.br/mailing/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SEARCH_B2C&amp;utm_content=KWD_LEADS&amp;utm_term=comprar%20leads%20qualificados&amp;gclid=CjwKCAiAt8bIBhBpEiwAzH1w6XWnYvsj3P60-WmflWQW6YkHdtmiVYMqYzoMgU4NLEV1EC","idDealGoHighLevel":"b73UeRcoJRbOMSGrU62W"},"publicUrl":"https://meetime.com.br/dashboard/public/leads/LCwGYg0R2Ujs0T1l96W5xJy7F66H7TNVERX3biW23KE","externalReference":null},"cadence":{"id":57289,"name":"\"+50k pra Investir\""},"originType":"EXTERNAL_SOURCE","inbound":true,"startDate":"2025-11-11T00:33:26.691Z","endDate":"2025-11-11T01:36:19.051Z","status":"WON","salesman":{"id":42212,"name":"Julio","email":"julio.braz@automatisalesteste.com.br"},"activities":[],"extraActivities":[{"id":373688068,"status":"FINISHED","scope":"EXTRA_ACTIVITY","executionDate":"2025-11-11T00:33:34.467Z","annotation":"sdqwedwe","type":"SEARCH","executedBy":{"id":42212,"name":"Julio","email":"julio.braz@automatisalesteste.com.br"}}],"origin":{"campaign":"SEARCH_B2C","source":"google","conversion":null,"channel":"UNKNOWN"},"meetings":[{"id":385911,"startDate":"2025-11-15T12:00:00.000Z","endDate":"2025-11-15T13:00:00.000Z","guests":[],"ownerEmail":"juliobraz@auto.com.br"}]}},"webhookUrl":"https://webhook2.automatisales.com.br/webhook/DatastoneAtividadeseStatusMeetime","executionMode":"production"}}],"Webhook":[{"json":{"headers":{"host":"webhook2.automatisales.com.br","user-agent":"Meetime","content-length":"1324","accept":"*/*","content-type":"application/json","x-forwarded-for":"34.74.246.245","x-forwarded-host":"webhook2.automatisales.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2c1c4eafa7e2","x-meetime-delivery":"2606b9e8-b6f7-4a9a-b6a9-0c85637f557c","x-meetime-signature":"zpHMvu_uN2HrDNbMKFE_aImJOgCAp9f8hqhHXwmXEaM=","x-real-ip":"34.74.246.245","accept-encoding":"gzip"},"params":{},"query":{},"body":{"event":"LEAD.LOST","prospection":{"id":34686316,"lead":{"id":27570203,"email":"contato@nexusplace.com.br","firstName":"Andrea Camandolo","name":"Andrea Camandolo","company":"Energy One Ltda","phones":[{"label":null,"phone":"+5571991662324","lastUsage":null}],"position":null,"site":null,"state":null,"city":null,"twitter":null,"facebook":null,"linkedIn":null,"annotations":"perdeu playboy","customFields":{"lpDeConversao":"https://pages.datastone.com.br/mailing/?utm_source=google&amp;utm_medium=cpc&amp;utm_campaign=SEARCH_B2C&amp;utm_content=KWD_LEADS&amp;utm_term=comprar%20leads%20qualificados&amp;gclid=CjwKCAiAt8bIBhBpEiwAzH1w6XWnYvsj3P60-WmflWQW6YkHdtmiVYMqYzoMgU4NLEV1EC","cnpj":"35.070.987/0001-03","idDealGoHighLevel":"b73UeRcoJRbOMSGrU62W"},"publicUrl":"https://meetime.com.br/dashboard/public/leads/LCwGYg0R2Ujs0T1l96W5xJy7F66H7TNVERX3biW23KE","externalReference":null},"cadence":{"id":57289,"name":"\"+50k pra Investir\""},"originType":"EXTERNAL_SOURCE","inbound":true,"endDate":"2025-11-11T21:39:21.976Z","status":"LOST","salesman":{"id":42212,"name":"Julio","email":"julio.braz@automatisalesteste.com.br"},"activities":[],"extraActivities":[],"lostReason":{"id":44323,"name":"Não é uma prioridade"},"origin":{"campaign":"SEARCH_B2C","source":"google","conversion":null,"channel":"UNKNOWN"},"meetings":[]}},"webhookUrl":"https://webhook2.automatisales.com.br/webhook/DatastoneAtividadeseStatusMeetime","executionMode":"production"}}]},"versionId":"af42571a-a0cc-4da9-91ad-31eb3a80ce12","triggerCount":1,"shared":[{"updatedAt":"2025-11-11T00:19:32.677Z","createdAt":"2025-11-11T00:19:32.677Z","role":"workflow:owner","workflowId":"DOIRbH3dplghv0Q5","projectId":"5Z2b5yWkWWKq8wM8"}],"tags":[]}