-lead-perdido-9uFRDYEIDSTKYlNE.json
{"createdAt":"2025-10-13T00:17:42.260Z","updatedAt":"2025-10-13T02:22:26.960Z","id":"9uFRDYEIDSTKYlNE","name":"[RILIX] - Atividade realizada / Ganho / Lead Perdido","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"RilixAtividadeseStatusMeetime","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-976,592],"id":"59d159c3-86f3-4c17-a3fe-76e4e03f46da","name":"Webhook","webhookId":"e42e7d21-c6da-4458-869d-7e80a7340ba3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"event\"] }}","rightValue":"LEAD_ACTIVITY.FINISHED","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"ATIVIDADE REALIZADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c623d283-3b9a-48e3-9d03-ec7050258b7c","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"event\"] }}","rightValue":"LEAD.WON","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NEGÓCIO GANHO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"706da3f5-f030-4822-be12-cd0feaa8ae82","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"event\"] }}","rightValue":"LEAD.LOST","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LEAD PERDIDO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-576,576],"id":"a0dcffbd-fe17-4e10-a5c2-20bf2726dcb6","name":"Switch"},{"parameters":{"resource":"activity","subject":"Meetime Atividade Realizada","done":"1","type":"whatsapp_chat","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","note":"={{ \n(() => {\n  const text = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network;\n  \n  // Primeiro: decodificar caracteres especiais\n  let cleaned = text\n    .replace(/&ndash;/g, '–')\n    .replace(/&iacute;/g, 'í')\n    .replace(/&ccedil;/g, 'ç')\n    .replace(/&atilde;/g, 'ã')\n    .replace(/&otilde;/g, 'õ')\n    .replace(/&aacute;/g, 'á')\n    .replace(/&eacute;/g, 'é')\n    .replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú')\n    .replace(/&ecirc;/g, 'ê')\n    .replace(/&ocirc;/g, 'ô')\n    .replace(/&amp;/g, '&')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&Eacute;/g, 'É'); // Corrige o &Eacute; que apareceu\n\n  // Processar tags HTML e converter para \\n literais\n  cleaned = cleaned\n    .replace(/<h[1-6][^>]*>/gi, '\\\\n') // Headers viram \\n\n    .replace(/<\\/h[1-6]>/gi, '\\\\n')\n    .replace(/<p[^>]*>/gi, '\\\\n')\n    .replace(/<\\/p>/gi, '\\\\n')\n    .replace(/<br\\s*\\/?>/gi, '\\\\n')\n    .replace(/<ul[^>]*>/gi, '\\\\n')\n    .replace(/<\\/ul>/gi, '\\\\n')\n    .replace(/<li[^>]*>/gi, '\\\\n• ') // List items com \\n e bullet\n    .replace(/<\\/li>/gi, '\\\\n')\n    .replace(/<hr[^>]*>/gi, '\\\\n---\\\\n')\n    .replace(/<[^>]*>/g, ' ') // Remove todas outras tags\n    .replace(/\\s+/g, ' ') // Remove múltiplos espaços\n    .trim();\n\n  // Adicionar quebras lógicas baseadas nos emojis/seções\n  cleaned = cleaned\n    .replace(/(🔎|🧩|🎯|💡|🤔|📅)/g, '\\\\n$1')\n    .replace(/\\s*\\.\\s*/g, '. ')\n    .replace(/\\s*,\\s*/g, ', ')\n    .replace(/\\s*:\\s*/g, ': ');\n\n  return cleaned;\n})()\n}}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[2448,-128],"id":"f57da509-db87-435b-bf9e-61f7565e9bc5","name":"Pipedrive","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"={{ $json.stage_id+1 }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[944,-64],"id":"68400b1c-efed-4464-a20a-be075b06ba6e","name":"Pipedrive2","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"type\"] }}","rightValue":"SOCIAL_POINT","operator":{"type":"string","operation":"equals"},"id":"d05662e3-1b84-4c6e-bf0d-2c976a7d5fb2"}],"combinator":"and"},"renameOutput":true,"outputKey":"Social Point"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b1a812d-7f8f-493f-89a2-52d14d1cb747","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"type\"] }}","rightValue":"E_MAIL","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"E-mail"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0843a66e-2fa1-4634-863f-0349762265b3","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"type\"] }}","rightValue":"CALL","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Chamada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3ce0950-fd67-49fc-aea6-22aa675d7659","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"type\"] }}","rightValue":"SEARCH","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pesquisar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1360,416],"id":"73c23933-f335-4a45-b3f9-fa1f3ec26c02","name":"Switch1"},{"parameters":{"resource":"activity","subject":"Meetime Atividade Realizada","done":"1","type":"email","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","note":"=Assunto: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"email\"][\"content\"][\"subject\"] }}\\n\\nCorpo do Email:\\n{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"email\"][\"content\"][\"plain\"] }}\n"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1808,464],"id":"904809e7-0f81-4a20-9d4a-b925744952d4","name":"Pipedrive4","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"activity","subject":"Meetime Atividade Realizada","done":"1","type":"call","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1824,640],"id":"9c99e541-0303-41a1-a31f-24c48f324b5d","name":"Pipedrive5","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"lost_reason":"={{ $item(\"0\").$node[\"Switch\"].json[\"body\"][\"prospection\"][\"lostReason\"][\"name\"] }}","status":"lost"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-320,1184],"id":"bd9c093b-6e52-40a5-92b6-c9624a189847","name":"Pipedrive13","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"31da7b5d-8c49-4f13-9858-7c808d4cf9d2","leftValue":"={{ $('Webhook').item.json.body.prospection.meetings[0].id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[944,720],"id":"cb533fee-88d0-4d0d-9964-37d89190b98d","name":"Filter1"},{"parameters":{"method":"POST","url":"https://api.pipedrive.com/api/v2/activities","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subject\": \"Reunião Rilix <> {{ $item(\"0\").$node[\"Switch\"].json[\"body\"][\"prospection\"][\"lead\"][\"name\"] }}\",\n  \"type\": \"meeting\",\n  \"owner_id\": {{ $('Ler deal1').item.json.person_id.owner_id }},\n  \"deal_id\": {{ $('Ler deal1').item.json.id }} ,\n  \"due_date\":\"{{ $('Webhook').item.json.body.prospection.meetings[0].startDate.toDateTime().minus(3,'hours').toFormat('yyyy-MM-dd') }}\",\n  \"due_time\": \"{{ $('Webhook').item.json.body.prospection.meetings[0].startDate.toDateTime().toFormat('HH:mm') }}\",\n  \"duration\": \"{{ \n  (() => {\n    const startDate = new Date($('Webhook').item.json.body.prospection.meetings[0].startDate);\n    const endDate = new Date($('Webhook').item.json.body.prospection.meetings[0].endDate);\n\n    const diffInMilliseconds = endDate - startDate;\n    const diffInMinutes = Math.floor(diffInMilliseconds / 60000);\n    const hours = Math.floor(diffInMinutes / 60);\n    const minutes = diffInMinutes % 60;\n    \n    // Formata a diferença para HH:mm\n    return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;\n  })() \n}}\",\n  \"busy\": true,\n  \"done\": false\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1344,912],"id":"c7c3ca22-6ece-435e-b57c-a8329356ffd7","name":"Cria atividade de reunião agendada2","retryOnFail":true,"credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"url":"https://api.meetime.com.br/v2/webhooks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"enabled\": true,\n  \"events\": [\n    \"LEAD.WON\",\n    \"LEAD.LOST\",\n    \"LEAD_ACTIVITY.FINISHED\"\n  ],\n  \"targetUrl\": \"https://webhook2.automatisales.com.br/webhook/RilixAtividadeseStatusMeetime\"\n}","options":{}},"id":"ba20e45a-cf2e-4904-a29c-e5e1d4e6cfaf","name":"Cria webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1088,336],"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}},{"parameters":{"content":"Criar webhook\nWebhook ativado","height":368,"width":400},"type":"n8n-nodes-base.stickyNote","position":[-1248,192],"typeVersion":1,"id":"67a1a0ad-0c02-4138-8d8f-ed03e5ea1d39","name":"Sticky Note2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":32,"operator":{"type":"number","operation":"equals"},"id":"d7c85246-25e2-4233-aeb8-5811f446f803"}],"combinator":"and"},"renameOutput":true,"outputKey":"SDR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b1a812d-7f8f-493f-89a2-52d14d1cb747","leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":48,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BDR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0843a66e-2fa1-4634-863f-0349762265b3","leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":58,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ebooks"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[464,48],"id":"ce94c67b-f94c-49e7-8333-b878ac2e99a3","name":"Switch2"},{"parameters":{"content":"[\n  {\n    \"success\": true,\n    \"data\": [\n      {\n        \"id\": 1,\n        \"order_nr\": 1,\n        \"name\": \"Chamada\",\n        \"key_string\": \"call\",\n        \"icon_key\": \"call\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": \"2022-10-26 21:46:45\"\n      },\n      {\n        \"id\": 2,\n        \"order_nr\": 2,\n        \"name\": \"Reunião\",\n        \"key_string\": \"meeting\",\n        \"icon_key\": \"meeting\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 3,\n        \"order_nr\": 3,\n        \"name\": \"Tarefa\",\n        \"key_string\": \"task\",\n        \"icon_key\": \"task\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 4,\n        \"order_nr\": 4,\n        \"name\": \"Prazo\",\n        \"key_string\": \"deadline\",\n        \"icon_key\": \"deadline\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 5,\n        \"order_nr\": 5,\n        \"name\": \"E-mail\",\n        \"key_string\": \"email\",\n        \"icon_key\": \"email\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 6,\n        \"order_nr\": 6,\n        \"name\": \"Almoço\",\n        \"key_string\": \"lunch\",\n        \"icon_key\": \"lunch\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 7,\n        \"order_nr\": 7,\n        \"name\": \"Whatsapp chat\",\n        \"key_string\": \"whatsapp_chat\",\n        \"icon_key\": \"bubble\",\n        \"active_flag\": true,\n        \"color\": \"00CC00\",\n        \"is_custom_flag\": true,\n        \"add_time\": \"2022-09-28 21:36:41\",\n        \"update_time\": \"2022-10-26 21:46:30\"\n      },\n      {\n        \"id\": 8,\n        \"order_nr\": 8,\n        \"name\": \"Entrega de Carrinho\",\n        \"key_string\": \"entrega_de_carrinho\",\n        \"icon_key\": \"truck\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2023-03-07 14:50:31\",\n        \"update_time\": \"2023-03-07 14:50:31\"\n      },\n      {\n        \"id\": 9,\n        \"order_nr\": 9,\n        \"name\": \"Pesquisa\",\n        \"key_string\": \"pesquisa\",\n        \"icon_key\": \"search\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:16:56\",\n        \"update_time\": \"2025-09-30 12:16:56\"\n      },\n      {\n        \"id\": 10,\n        \"order_nr\": 10,\n        \"name\": \"LinkedIn\",\n        \"key_string\": \"linkedin\",\n        \"icon_key\": \"loop\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:17:56\",\n        \"update_time\": \"2025-09-30 12:17:56\"\n      },\n      {\n        \"id\": 11,\n        \"order_nr\": 11,\n        \"name\": \"Facebook\",\n        \"key_string\": \"facebook\",\n        \"icon_key\": \"signpost\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:18:51\",\n        \"update_time\": \"2025-09-30 12:18:51\"\n      },\n      {\n        \"id\": 12,\n        \"order_nr\": 12,\n        \"name\": \"Instagram\",\n        \"key_string\": \"instagram\",\n        \"icon_key\": \"camera\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:19:13\",\n        \"update_time\": \"2025-09-30 12:19:13\"\n      }\n    ]\n  }\n]"},"type":"n8n-nodes-base.stickyNote","position":[2000,-144],"typeVersion":1,"id":"85c7ab33-0f00-4410-ad38-f7a2d1ee65ba","name":"Sticky Note1"},{"parameters":{"url":"https://api.meetime.com.br/v2/cadences/activities-templates","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"activity_type","value":"SOCIAL_POINT"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1760,240],"id":"8f655e41-0b55-4498-b367-c8b31cb32d53","name":"templates","credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"templates\"].json[\"data\"].find(item => item.id == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network}}","rightValue":"  WHATSAPP","operator":{"type":"string","operation":"equals"},"id":"727c4fc9-ca6f-4d81-8114-4924e48484ee"}],"combinator":"and"},"renameOutput":true,"outputKey":"Whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d9e7d5bf-f501-4102-81d9-51c6ff21bc2f","leftValue":"={{ $item(\"0\").$node[\"templates\"].json[\"data\"].find(item => item.id == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network}}","rightValue":"  LINKED_IN","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Linkedin"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72240f6c-f0a5-461f-8e9b-71a88e51f807","leftValue":"={{ $item(\"0\").$node[\"templates\"].json[\"data\"].find(item => item.id == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network}}","rightValue":"INSTAGRAM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1dfcbaa5-c945-425e-bc62-5d7829d151af","leftValue":"={{ $item(\"0\").$node[\"templates\"].json[\"data\"].find(item => item.id == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network}}","rightValue":"FACEBOOK","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FACEBOOK"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2016,208],"id":"0048e7d7-5bb1-43b9-916e-dab0fb75a3ef","name":"Switch3"},{"parameters":{"resource":"activity","subject":"Meetime Atividade Realizada","done":"1","type":"linkedin","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","note":"={{ \n(() => {\n  const text = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network;\n  \n  // Primeiro: decodificar caracteres especiais\n  let cleaned = text\n    .replace(/&ndash;/g, '–')\n    .replace(/&iacute;/g, 'í')\n    .replace(/&ccedil;/g, 'ç')\n    .replace(/&atilde;/g, 'ã')\n    .replace(/&otilde;/g, 'õ')\n    .replace(/&aacute;/g, 'á')\n    .replace(/&eacute;/g, 'é')\n    .replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú')\n    .replace(/&ecirc;/g, 'ê')\n    .replace(/&ocirc;/g, 'ô')\n    .replace(/&amp;/g, '&')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&Eacute;/g, 'É'); // Corrige o &Eacute; que apareceu\n\n  // Processar tags HTML e converter para \\n literais\n  cleaned = cleaned\n    .replace(/<h[1-6][^>]*>/gi, '\\\\n') // Headers viram \\n\n    .replace(/<\\/h[1-6]>/gi, '\\\\n')\n    .replace(/<p[^>]*>/gi, '\\\\n')\n    .replace(/<\\/p>/gi, '\\\\n')\n    .replace(/<br\\s*\\/?>/gi, '\\\\n')\n    .replace(/<ul[^>]*>/gi, '\\\\n')\n    .replace(/<\\/ul>/gi, '\\\\n')\n    .replace(/<li[^>]*>/gi, '\\\\n• ') // List items com \\n e bullet\n    .replace(/<\\/li>/gi, '\\\\n')\n    .replace(/<hr[^>]*>/gi, '\\\\n---\\\\n')\n    .replace(/<[^>]*>/g, ' ') // Remove todas outras tags\n    .replace(/\\s+/g, ' ') // Remove múltiplos espaços\n    .trim();\n\n  // Adicionar quebras lógicas baseadas nos emojis/seções\n  cleaned = cleaned\n    .replace(/(🔎|🧩|🎯|💡|🤔|📅)/g, '\\\\n$1')\n    .replace(/\\s*\\.\\s*/g, '. ')\n    .replace(/\\s*,\\s*/g, ', ')\n    .replace(/\\s*:\\s*/g, ': ');\n\n  return cleaned;\n})()\n}}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[2448,64],"id":"ca911fed-1b2a-4e29-bc55-1de025df223b","name":"Pipedrive3","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"activity","subject":"Meetime Atividade Realizada","done":"1","type":"instagram","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","note":"={{ \n(() => {\n  const text = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network;\n  \n  // Primeiro: decodificar caracteres especiais\n  let cleaned = text\n    .replace(/&ndash;/g, '–')\n    .replace(/&iacute;/g, 'í')\n    .replace(/&ccedil;/g, 'ç')\n    .replace(/&atilde;/g, 'ã')\n    .replace(/&otilde;/g, 'õ')\n    .replace(/&aacute;/g, 'á')\n    .replace(/&eacute;/g, 'é')\n    .replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú')\n    .replace(/&ecirc;/g, 'ê')\n    .replace(/&ocirc;/g, 'ô')\n    .replace(/&amp;/g, '&')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&Eacute;/g, 'É'); // Corrige o &Eacute; que apareceu\n\n  // Processar tags HTML e converter para \\n literais\n  cleaned = cleaned\n    .replace(/<h[1-6][^>]*>/gi, '\\\\n') // Headers viram \\n\n    .replace(/<\\/h[1-6]>/gi, '\\\\n')\n    .replace(/<p[^>]*>/gi, '\\\\n')\n    .replace(/<\\/p>/gi, '\\\\n')\n    .replace(/<br\\s*\\/?>/gi, '\\\\n')\n    .replace(/<ul[^>]*>/gi, '\\\\n')\n    .replace(/<\\/ul>/gi, '\\\\n')\n    .replace(/<li[^>]*>/gi, '\\\\n• ') // List items com \\n e bullet\n    .replace(/<\\/li>/gi, '\\\\n')\n    .replace(/<hr[^>]*>/gi, '\\\\n---\\\\n')\n    .replace(/<[^>]*>/g, ' ') // Remove todas outras tags\n    .replace(/\\s+/g, ' ') // Remove múltiplos espaços\n    .trim();\n\n  // Adicionar quebras lógicas baseadas nos emojis/seções\n  cleaned = cleaned\n    .replace(/(🔎|🧩|🎯|💡|🤔|📅)/g, '\\\\n$1')\n    .replace(/\\s*\\.\\s*/g, '. ')\n    .replace(/\\s*,\\s*/g, ', ')\n    .replace(/\\s*:\\s*/g, ': ');\n\n  return cleaned;\n})()\n}}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[2464,240],"id":"263850bd-4022-446c-b330-00e3cbe41cce","name":"Pipedrive6","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"activity","subject":"Meetime Atividade Realizada","done":"1","type":"facebook","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","note":"={{ \n(() => {\n  const text = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network;\n  \n  // Primeiro: decodificar caracteres especiais\n  let cleaned = text\n    .replace(/&ndash;/g, '–')\n    .replace(/&iacute;/g, 'í')\n    .replace(/&ccedil;/g, 'ç')\n    .replace(/&atilde;/g, 'ã')\n    .replace(/&otilde;/g, 'õ')\n    .replace(/&aacute;/g, 'á')\n    .replace(/&eacute;/g, 'é')\n    .replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú')\n    .replace(/&ecirc;/g, 'ê')\n    .replace(/&ocirc;/g, 'ô')\n    .replace(/&amp;/g, '&')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&Eacute;/g, 'É'); // Corrige o &Eacute; que apareceu\n\n  // Processar tags HTML e converter para \\n literais\n  cleaned = cleaned\n    .replace(/<h[1-6][^>]*>/gi, '\\\\n') // Headers viram \\n\n    .replace(/<\\/h[1-6]>/gi, '\\\\n')\n    .replace(/<p[^>]*>/gi, '\\\\n')\n    .replace(/<\\/p>/gi, '\\\\n')\n    .replace(/<br\\s*\\/?>/gi, '\\\\n')\n    .replace(/<ul[^>]*>/gi, '\\\\n')\n    .replace(/<\\/ul>/gi, '\\\\n')\n    .replace(/<li[^>]*>/gi, '\\\\n• ') // List items com \\n e bullet\n    .replace(/<\\/li>/gi, '\\\\n')\n    .replace(/<hr[^>]*>/gi, '\\\\n---\\\\n')\n    .replace(/<[^>]*>/g, ' ') // Remove todas outras tags\n    .replace(/\\s+/g, ' ') // Remove múltiplos espaços\n    .trim();\n\n  // Adicionar quebras lógicas baseadas nos emojis/seções\n  cleaned = cleaned\n    .replace(/(🔎|🧩|🎯|💡|🤔|📅)/g, '\\\\n$1')\n    .replace(/\\s*\\.\\s*/g, '. ')\n    .replace(/\\s*,\\s*/g, ', ')\n    .replace(/\\s*:\\s*/g, ': ');\n\n  return cleaned;\n})()\n}}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[2496,400],"id":"a4155ea6-82fb-44fb-81b1-5388cee15ff4","name":"Pipedrive7","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"activity","subject":"Meetime Atividade Realizada","done":"1","type":"pesquisa","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1808,832],"id":"6b94aa55-5d25-4fe7-8410-52ce767d8e94","name":"Pipedrive8","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"customProperties":{"property":[{"name":"9124c94a4484aabbbe9fae6c0ac13248fa0f16ff","value":"={{\n(() => {\n    try {\n        // Verifica se existe o campo personalizado\n        const campoPersonalizado = $item(\"0\").$node[\"campos personalizados meetime1\"].json[\"data\"];\n        if (!campoPersonalizado) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        // Busca o campo jornadaDoCliente\n        const jornadaField = campoPersonalizado.find(item => item.field_key == 'jornadaDoCliente');\n        if (!jornadaField || !jornadaField.options) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        // Pega o ID do customFields\n        const jornadaId = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"jornadaDoCliente\"];\n        if (!jornadaId) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        // Busca a opção pelo ID\n        const opcao = jornadaField.options.find(item => item.id == jornadaId);\n        if (!opcao || !opcao.label) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        return opcao.label;\n        \n    } catch (error) {\n        return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n    }\n})()\n}}"}]},"status":"open"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[80,224],"id":"5d61d18c-380c-4311-a1cc-c77b038df42d","name":"Pipedrive11","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"person","operation":"update","personId":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"Pessoa de contato\"][\"value\"] }}","updateFields":{"customProperties":{"property":[{"name":"161520b108dba339c1096c546ea17ee7560a9d14","value":"={{\n(() => {\n    try {\n        // Verifica se existe o campo personalizado\n        const campoPersonalizado = $item(\"0\").$node[\"campos personalizados meetime1\"].json[\"data\"];\n        if (!campoPersonalizado) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        // Busca o campo tipoDeNegocio\n        const tipoNegocioField = campoPersonalizado.find(item => item.field_key == 'tipoDeNegocio');\n        if (!tipoNegocioField || !tipoNegocioField.options) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        // Pega o ID do customFields\n        const tipoNegocioId = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"tipoDeNegocio\"];\n        if (!tipoNegocioId) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        // Busca a opção pelo ID\n        const opcao = tipoNegocioField.options.find(item => item.id == tipoNegocioId);\n        if (!opcao || !opcao.label) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        return opcao.label;\n        \n    } catch (error) {\n        return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n    }\n})()\n}}"},{"name":"a904218da6ca209deeee9417d3c712cf666c722e","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"fitcore\"] }}"}]},"email":["={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"email\"]||$item(\"0\").$node[\"Ler pessoa\"].json[\"E-mail\"][\"0\"][\"value\"] }}"],"name":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"name\"] || $item(\"0\").$node[\"Ler pessoa\"].json[\"Nome\"] }}","phone":["={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"phones\"][\"0\"][\"phone\"]|| $item(\"0\").$node[\"Ler pessoa\"].json[\"Telefone\"][\"0\"][\"value\"] }}"]}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-208,224],"id":"ad83ae0f-31e3-46aa-8571-53c39cfcf358","name":"Pipedrive16","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"person","operation":"get","personId":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"Pessoa de contato\"][\"value\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-160,-64],"id":"a4ca66df-20ef-4830-870f-87c420059152","name":"Ler pessoa","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"get","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-320,16],"id":"b29fd5d1-488c-4145-95b5-14e51e236076","name":"Ler deal","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"url":"https://api.pipedrive.com/v1/users","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,1056],"id":"0978ec7f-f33e-4686-aeb5-9af036cd2126","name":"Users pipedrive","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"note","content":"=Link p/ feedback da Oportunidade: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"dealFeedback\"][\"dealFeedbackUrl\"] ||''}} \nURL pública lead na Meetime: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"publicUrl\"] }}","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","person_id":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"Pessoa de contato\"][\"value\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[432,720],"id":"6dfc4397-d1e3-49e1-b583-6663a57cb74f","name":"Create a note","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"note","content":"=Anotações deixadas por {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"salesman\"][\"name\"] }} na Meetime: \n\n{{ \n(() => {\n  const text = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"annotations\"];\n  \n  // Primeiro: decodificar caracteres especiais\n  let cleaned = text\n    .replace(/&ndash;/g, '–')\n    .replace(/&iacute;/g, 'í')\n    .replace(/&ccedil;/g, 'ç')\n    .replace(/&atilde;/g, 'ã')\n    .replace(/&otilde;/g, 'õ')\n    .replace(/&aacute;/g, 'á')\n    .replace(/&eacute;/g, 'é')\n    .replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú')\n    .replace(/&ecirc;/g, 'ê')\n    .replace(/&ocirc;/g, 'ô')\n    .replace(/&amp;/g, '&')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&Eacute;/g, 'É'); // Corrige o &Eacute; que apareceu\n\n  // Processar tags HTML e converter para \\n literais\n  cleaned = cleaned\n    .replace(/<h[1-6][^>]*>/gi, '\\\\n') // Headers viram \\n\n    .replace(/<\\/h[1-6]>/gi, '\\\\n')\n    .replace(/<p[^>]*>/gi, '\\\\n')\n    .replace(/<\\/p>/gi, '\\\\n')\n    .replace(/<br\\s*\\/?>/gi, '\\\\n')\n    .replace(/<ul[^>]*>/gi, '\\\\n')\n    .replace(/<\\/ul>/gi, '\\\\n')\n    .replace(/<li[^>]*>/gi, '\\\\n• ') // List items com \\n e bullet\n    .replace(/<\\/li>/gi, '\\\\n')\n    .replace(/<hr[^>]*>/gi, '\\\\n---\\\\n')\n    .replace(/<[^>]*>/g, ' ') // Remove todas outras tags\n    .replace(/\\s+/g, ' ') // Remove múltiplos espaços\n    .trim();\n\n  // Adicionar quebras lógicas baseadas nos emojis/seções\n  cleaned = cleaned\n    .replace(/(🔎|🧩|🎯|💡|🤔|📅)/g, '\\\\n$1')\n    .replace(/\\s*\\.\\s*/g, '. ')\n    .replace(/\\s*,\\s*/g, ', ')\n    .replace(/\\s*:\\s*/g, ': ');\n\n  return cleaned;\n})()\n}}","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","person_id":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"Pessoa de contato\"][\"value\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[624,816],"id":"bb5b6a40-d99f-456f-9439-83d4e749a68a","name":"Create a note1","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"895b2f22-34c1-4f41-9673-a75f83a5f6f2","name":"campos personalizados meetime1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,-48],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"ydtbjXWWkeniXwTF","name":"Conta teste"}}},{"parameters":{"resource":"person","operation":"get","personId":"={{ $item(\"0\").$node[\"Ler deal1\"].json[\"Pessoa de contato\"][\"value\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-16,544],"id":"c839b231-96f4-484b-96ce-57aa63a5e558","name":"Ler pessoa1","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"get","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-272,560],"id":"7e7766b4-848d-4656-a8bc-d09bb72d4465","name":"Ler deal1","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"857af4b7-9e35-4bc4-aa9c-bd69f054e164","name":"campos personalizados meetime","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,528],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"customProperties":{"property":[{"name":"9124c94a4484aabbbe9fae6c0ac13248fa0f16ff","value":"={{\n(() => {\n    try {\n        // Verifica se existe o campo personalizado\n        const campoPersonalizado = $item(\"0\").$node[\"campos personalizados meetime\"].json[\"data\"];\n        if (!campoPersonalizado) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        // Busca o campo jornadaDoCliente\n        const jornadaField = campoPersonalizado.find(item => item.field_key == 'jornadaDoCliente');\n        if (!jornadaField || !jornadaField.options) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        // Pega o ID do customFields\n        const jornadaId = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"jornadaDoCliente\"];\n        if (!jornadaId) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        // Busca a opção pelo ID\n        const opcao = jornadaField.options.find(item => item.id == jornadaId);\n        if (!opcao || !opcao.label) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        return opcao.label;\n        \n    } catch (error) {\n        return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n    }\n})()\n}}"}]},"stage_id":15,"status":"open"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[720,528],"id":"18703cf8-662a-4d12-9768-ab507daf6caf","name":"Pipedrive15","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"person","operation":"update","personId":"={{ $item(\"0\").$node[\"Ler deal1\"].json[\"Pessoa de contato\"][\"value\"] }}","updateFields":{"customProperties":{"property":[{"name":"161520b108dba339c1096c546ea17ee7560a9d14","value":"={{\n(() => {\n    try {\n        // Verifica se existe o campo personalizado\n        const campoPersonalizado = $item(\"0\").$node[\"campos personalizados meetime\"].json[\"data\"];\n        if (!campoPersonalizado) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        // Busca o campo tipoDeNegocio\n        const tipoNegocioField = campoPersonalizado.find(item => item.field_key == 'tipoDeNegocio');\n        if (!tipoNegocioField || !tipoNegocioField.options) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        // Pega o ID do customFields\n        const tipoNegocioId = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"tipoDeNegocio\"];\n        if (!tipoNegocioId) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        // Busca a opção pelo ID\n        const opcao = tipoNegocioField.options.find(item => item.id == tipoNegocioId);\n        if (!opcao || !opcao.label) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        return opcao.label;\n        \n    } catch (error) {\n        return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n    }\n})()\n}}"},{"name":"a904218da6ca209deeee9417d3c712cf666c722e","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"fitcore\"] ||''}}"}]},"email":["={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"email\"]||$item(\"0\").$node[\"Ler pessoa\"].json[\"E-mail\"][\"0\"][\"value\"] }}"],"name":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"name\"] || $item(\"0\").$node[\"Ler pessoa1\"].json[\"Nome\"] }}","phone":["={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"phones\"][\"0\"][\"phone\"]|| $item(\"0\").$node[\"Ler pessoa1\"].json[\"Telefone\"][\"0\"][\"value\"] }}"]}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[480,496],"id":"f33a4f8a-e76c-4181-a42e-abda5af03c9c","name":"Pipedrive17","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8a5fb9ab-b2aa-47f9-b712-9ea5cd30f6f8","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"houveContato\"] }}","rightValue":"b1d9a72f-0f75-4c6b-a435-12bef551cfe7","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[3120,592],"id":"e7c48cda-7e4b-4e7f-925d-a31f0cffca10","name":"Filter"},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"4008c5d9-5e8d-4393-9ba2-053d18b41ffa","name":"campos personalizados meetime2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-576,-112],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=61"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[3696,976],"id":"924b2078-f25b-41d3-9944-075eeca3711e","name":"Pipedrive9","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":32,"operator":{"type":"number","operation":"equals"},"id":"d7c85246-25e2-4233-aeb8-5811f446f803"}],"combinator":"and"},"renameOutput":true,"outputKey":"SDR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b1a812d-7f8f-493f-89a2-52d14d1cb747","leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":48,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BDR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0843a66e-2fa1-4634-863f-0349762265b3","leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":58,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ebooks"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3296,816],"id":"8ad8a94d-2698-4616-9591-299b8811bb29","name":"Switch4"},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=50"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[3728,832],"id":"2334f66a-670c-4f45-90f0-ed1fc07cb4d7","name":"Pipedrive10","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=34"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[3728,672],"id":"85445324-f2ec-48fc-8278-bff495b34559","name":"Pipedrive18","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74e98f1f-d742-4e6b-b62d-dbe3b50b9ffd","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"temFit\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2752,560],"id":"d5fc1ab1-5a35-46c1-af91-4b2b5ce96c1c","name":"If"},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=62"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[3744,464],"id":"dccaa0f8-8a6f-4d3a-88cf-1110304c9a0a","name":"Pipedrive12","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":32,"operator":{"type":"number","operation":"equals"},"id":"d7c85246-25e2-4233-aeb8-5811f446f803"}],"combinator":"and"},"renameOutput":true,"outputKey":"SDR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b1a812d-7f8f-493f-89a2-52d14d1cb747","leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":48,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BDR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0843a66e-2fa1-4634-863f-0349762265b3","leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":58,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ebooks"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3152,240],"id":"c9ddd02b-c048-4f6f-bacb-f7985e4a5248","name":"Switch5"},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=50"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[3680,256],"id":"15141ecf-5711-46a6-8e14-7768892aef0e","name":"Pipedrive19","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=35"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[3536,-32],"id":"31fb2aa0-b426-41dd-8046-61971b78c7f8","name":"Pipedrive20","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"content":"Avisar que este caso não existe etapa \"Validação de Interesse\"","height":208,"width":336},"type":"n8n-nodes-base.stickyNote","position":[3648,192],"typeVersion":1,"id":"1a90429e-aa16-46a4-81c0-f2a1fdc37232","name":"Sticky Note"}],"connections":{"Webhook":{"main":[[]]},"Switch":{"main":[[{"node":"Ler deal","type":"main","index":0}],[{"node":"Ler deal1","type":"main","index":0}],[{"node":"Pipedrive13","type":"main","index":0}]]},"Pipedrive":{"main":[[{"node":"If","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"templates","type":"main","index":0}],[{"node":"Pipedrive4","type":"main","index":0}],[{"node":"Pipedrive5","type":"main","index":0}],[{"node":"Pipedrive8","type":"main","index":0}]]},"Pipedrive2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Pipedrive4":{"main":[[{"node":"If","type":"main","index":0}]]},"Pipedrive5":{"main":[[{"node":"If","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Cria atividade de reunião agendada2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Pipedrive2","type":"main","index":0}],[{"node":"Pipedrive2","type":"main","index":0}],[{"node":"Pipedrive2","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"templates":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Pipedrive","type":"main","index":0}],[{"node":"Pipedrive3","type":"main","index":0}],[{"node":"Pipedrive6","type":"main","index":0}],[{"node":"Pipedrive7","type":"main","index":0}]]},"Pipedrive11":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Ler pessoa":{"main":[[{"node":"campos personalizados meetime1","type":"main","index":0}]]},"Ler deal":{"main":[[{"node":"Ler pessoa","type":"main","index":0}]]},"Create a note":{"main":[[{"node":"Create a note1","type":"main","index":0}]]},"campos personalizados meetime1":{"main":[[{"node":"Pipedrive16","type":"main","index":0}]]},"Pipedrive16":{"main":[[{"node":"Pipedrive11","type":"main","index":0}]]},"Ler pessoa1":{"main":[[{"node":"campos personalizados meetime","type":"main","index":0}]]},"Ler deal1":{"main":[[{"node":"Ler pessoa1","type":"main","index":0}]]},"Pipedrive17":{"main":[[{"node":"Pipedrive15","type":"main","index":0}]]},"campos personalizados meetime":{"main":[[{"node":"Pipedrive17","type":"main","index":0}]]},"Pipedrive15":{"main":[[{"node":"Create a note","type":"main","index":0}]]},"Create a note1":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Pipedrive9":{"main":[[]]},"Switch4":{"main":[[{"node":"Pipedrive18","type":"main","index":0}],[{"node":"Pipedrive10","type":"main","index":0}],[{"node":"Pipedrive9","type":"main","index":0}]]},"Pipedrive3":{"main":[[{"node":"If","type":"main","index":0}]]},"Pipedrive6":{"main":[[{"node":"If","type":"main","index":0}]]},"Pipedrive7":{"main":[[{"node":"If","type":"main","index":0}]]},"Pipedrive8":{"main":[[{"node":"If","type":"main","index":0}]]},"campos personalizados meetime2":{"main":[[]]},"If":{"main":[[{"node":"Switch5","type":"main","index":0}],[{"node":"Filter","type":"main","index":0}]]},"Switch5":{"main":[[{"node":"Pipedrive20","type":"main","index":0}],[{"node":"Pipedrive19","type":"main","index":0}],[{"node":"Pipedrive12","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"wlpahpLREEEcju2c"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook2.automatisales.com.br","user-agent":"Meetime","content-length":"2227","accept":"*/*","content-type":"application/json","x-forwarded-for":"34.74.246.245","x-forwarded-host":"webhook2.automatisales.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2c1c4eafa7e2","x-meetime-delivery":"d4d9961f-bb1d-4882-b099-65ad1024f6eb","x-meetime-signature":"lsvq0sG0lvszdggHkS2UhJ8TwVzUY7SODJCTAFoTgO0=","x-real-ip":"34.74.246.245","accept-encoding":"gzip"},"params":{},"query":{},"body":{"event":"LEAD_ACTIVITY.FINISHED","activity":{"id":367744418,"status":"FINISHED","scope":"EXTRA_ACTIVITY","executionDate":"2025-10-13T01:55:35.840Z","type":"SEARCH","executedBy":{"id":42212,"name":"Julio","email":"julio.braz@automatisalesteste.com.br"},"prospection":{"id":34209217,"lead":{"id":27215511,"email":"panvips@gmail.com","firstName":"Pedro","name":"Pedro Luiz","company":"Vips","phones":[{"label":null,"phone":"+5567992124201","lastUsage":null}],"position":null,"site":null,"state":"MS","city":null,"twitter":null,"facebook":null,"linkedIn":null,"annotations":null,"customFields":{"tipoDeNegocio":"fff8700d-f47e-49a0-8b19-7d46969fbe17","anotacoesIniciais":"Data: 10/10/2025, 20:54:56\nEstou querendo montar o parque","termo":"Make (unpublished)","jornadaDoCliente":"8a6341dc-b169-4f30-b7c8-d38ee1256c2a","pagoOrganico":"pago","userAgent":"Mozilla/5.0 (Linux; Android 10; K) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Mobile Safari/537.36","canalDeOrigem":"google_cont","houveContato":"647e9fee-890a-498a-8061-36251453c258","idDealPipe":"27452","userId":"168.121.98.70","campanha":"pmax_lead_aquisição_buffet_infantil"},"publicUrl":"https://meetime.com.br/dashboard/public/leads/AJBbfDDCZWGoqlGywRDSC7jYRz5k_3D9Eh0IvZC2q7j5","externalReference":null},"cadence":{"id":57289,"name":"\"+50k pra Investir\""},"originType":"EXTERNAL_SOURCE","inbound":true,"startDate":"2025-10-13T00:11:47.209Z","status":"EXECUTING","salesman":{"id":42212,"name":"Julio","email":"julio.braz@automatisalesteste.com.br"},"activities":[],"extraActivities":[{"id":367741495,"status":"FINISHED","scope":"EXTRA_ACTIVITY","executionDate":"2025-10-13T00:23:57.612Z","annotation":"feito","type":"SEARCH","executedBy":{"id":42212,"name":"Julio","email":"julio.braz@automatisalesteste.com.br"}},{"id":367744418,"status":"FINISHED","scope":"EXTRA_ACTIVITY","executionDate":"2025-10-13T01:55:35.840Z","type":"SEARCH","executedBy":{"id":42212,"name":"Julio","email":"julio.braz@automatisalesteste.com.br"}}],"origin":{"campaign":null,"source":null,"conversion":null,"channel":"UNKNOWN"},"meetings":[{"id":374021,"startDate":"2025-10-18T12:00:00.000Z","endDate":"2025-10-18T13:00:00.000Z","guests":[],"ownerEmail":"testenew@teste.com"}]}}},"webhookUrl":"https://webhook2.automatisales.com.br/webhook/RilixAtividadeseStatusMeetime","executionMode":"production"}}]},"versionId":"3076f2e0-f1cc-4e00-92f8-a1e46841b139","triggerCount":1,"shared":[{"createdAt":"2025-10-13T00:17:42.260Z","updatedAt":"2025-10-13T00:17:42.260Z","role":"workflow:owner","workflowId":"9uFRDYEIDSTKYlNE","projectId":"5Z2b5yWkWWKq8wM8"}],"tags":[]}