-lead-perdido-9uFRDYEIDSTKYlNE.json
{"updatedAt":"2025-11-10T21:01:07.250Z","createdAt":"2025-10-13T00:17:42.260Z","id":"9uFRDYEIDSTKYlNE","name":"[RILIX] - Atividade realizada / Ganho / Lead Perdido","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"RilixAtividadeseStatusMeetime","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1152,592],"id":"59d159c3-86f3-4c17-a3fe-76e4e03f46da","name":"Webhook","webhookId":"e42e7d21-c6da-4458-869d-7e80a7340ba3"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"event\"] }}","rightValue":"LEAD_ACTIVITY.FINISHED","operator":{"type":"string","operation":"equals"},"id":"aa6ebbe6-2d7d-4ad6-afb1-3566624f6ce1"}],"combinator":"and"},"renameOutput":true,"outputKey":"ATIVIDADE REALIZADA"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"34f1d1ba-030c-4cd9-bc59-f594d526d46e","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"event\"] }}","rightValue":"CALL.UPDATED","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ligação Atualizada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c623d283-3b9a-48e3-9d03-ec7050258b7c","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"event\"] }}","rightValue":"LEAD.WON","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NEGÓCIO GANHO"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"706da3f5-f030-4822-be12-cd0feaa8ae82","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"event\"] }}","rightValue":"LEAD.LOST","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"LEAD PERDIDO"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-656,560],"id":"a0dcffbd-fe17-4e10-a5c2-20bf2726dcb6","name":"Switch"},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"={{ $json.stage_id+1 }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1536,-560],"id":"68400b1c-efed-4464-a20a-be075b06ba6e","name":"Pipedrive2","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"type\"] }}","rightValue":"SOCIAL_POINT","operator":{"type":"string","operation":"equals"},"id":"d05662e3-1b84-4c6e-bf0d-2c976a7d5fb2"}],"combinator":"and"},"renameOutput":true,"outputKey":"Social Point"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b1a812d-7f8f-493f-89a2-52d14d1cb747","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"type\"] }}","rightValue":"E_MAIL","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"E-mail"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0843a66e-2fa1-4634-863f-0349762265b3","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"type\"] }}","rightValue":"CALL","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Chamada"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c3ce0950-fd67-49fc-aea6-22aa675d7659","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"type\"] }}","rightValue":"SEARCH","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Pesquisar"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1760,-256],"id":"73c23933-f335-4a45-b3f9-fa1f3ec26c02","name":"Switch1"},{"parameters":{"resource":"activity","subject":"E-mail","done":"1","type":"email","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","note":"=Assunto: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"email\"][\"content\"][\"subject\"] }}\n\nCorpo do Email: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"email\"][\"content\"][\"plain\"] }}\n"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[2288,-304],"id":"904809e7-0f81-4a20-9d4a-b925744952d4","name":"Pipedrive4","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"activity","subject":"Ligação","done":"1","type":"call","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","due_date":"={{ $now }}","note":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"activities\"][\"1\"][\"call\"][\"note\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[2784,144],"id":"9c99e541-0303-41a1-a31f-24c48f324b5d","name":"Pipedrive5","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"31da7b5d-8c49-4f13-9858-7c808d4cf9d2","leftValue":"={{ $('Webhook').item.json.body.prospection.meetings[0].id }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1072,1744],"id":"cb533fee-88d0-4d0d-9964-37d89190b98d","name":"Filter1"},{"parameters":{"method":"POST","url":"https://api.pipedrive.com/api/v2/activities","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"subject\": \"Reunião Rilix <> {{ $item(\"0\").$node[\"Switch\"].json[\"body\"][\"prospection\"][\"lead\"][\"name\"] }}\",\n  \"type\": \"meeting\",\n  \"owner_id\": 22664672,\n  \"deal_id\": {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }},\n  \"due_date\":\"{{ $('Webhook').item.json.body.prospection.meetings[0].startDate.toDateTime().minus(3,'hours').toFormat('yyyy-MM-dd') }}\",\n  \"due_time\": \"{{ $('Webhook').item.json.body.prospection.meetings[0].startDate.toDateTime().toFormat('HH:mm') }}\",\n  \"duration\": \"{{ \n  (() => {\n    const startDate = new Date($('Webhook').item.json.body.prospection.meetings[0].startDate);\n    const endDate = new Date($('Webhook').item.json.body.prospection.meetings[0].endDate);\n\n    const diffInMilliseconds = endDate - startDate;\n    const diffInMinutes = Math.floor(diffInMilliseconds / 60000);\n    const hours = Math.floor(diffInMinutes / 60);\n    const minutes = diffInMinutes % 60;\n    \n    // Formata a diferença para HH:mm\n    return `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}`;\n  })() \n}}\",\n  \"busy\": true,\n  \"done\": false\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,1728],"id":"c7c3ca22-6ece-435e-b57c-a8329356ffd7","name":"Cria atividade de reunião agendada2","retryOnFail":true,"credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"url":"https://api.meetime.com.br/v2/webhooks","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"enabled\": true,\n  \"events\": [\n    \"LEAD.WON\",\n    \"LEAD.LOST\",\n    \"LEAD_ACTIVITY.FINISHED\"\n  ],\n  \"targetUrl\": \"https://webhook2.automatisales.com.br/webhook/RilixAtividadeseStatusMeetime\"\n}","options":{}},"id":"ba20e45a-cf2e-4904-a29c-e5e1d4e6cfaf","name":"Cria webhook","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1712,48],"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}},{"parameters":{"content":"Criar webhook\nWebhook ativado","height":272,"width":320},"type":"n8n-nodes-base.stickyNote","position":[-1808,-96],"typeVersion":1,"id":"67a1a0ad-0c02-4138-8d8f-ed03e5ea1d39","name":"Sticky Note2"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":32,"operator":{"type":"number","operation":"equals"},"id":"d7c85246-25e2-4233-aeb8-5811f446f803"}],"combinator":"and"},"renameOutput":true,"outputKey":"SDR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b1a812d-7f8f-493f-89a2-52d14d1cb747","leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":48,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BDR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0843a66e-2fa1-4634-863f-0349762265b3","leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":58,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ebooks"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a396437d-79fd-44f2-8a1e-69334ae2845c","leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":63,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reativações"}]},"options":{"fallbackOutput":"extra"}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1120,-544],"id":"ce94c67b-f94c-49e7-8333-b878ac2e99a3","name":"Switch2"},{"parameters":{"content":"[\n  {\n    \"success\": true,\n    \"data\": [\n      {\n        \"id\": 1,\n        \"order_nr\": 1,\n        \"name\": \"Chamada\",\n        \"key_string\": \"call\",\n        \"icon_key\": \"call\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": \"2022-10-26 21:46:45\"\n      },\n      {\n        \"id\": 2,\n        \"order_nr\": 2,\n        \"name\": \"Reunião\",\n        \"key_string\": \"meeting\",\n        \"icon_key\": \"meeting\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 3,\n        \"order_nr\": 3,\n        \"name\": \"Tarefa\",\n        \"key_string\": \"task\",\n        \"icon_key\": \"task\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 4,\n        \"order_nr\": 4,\n        \"name\": \"Prazo\",\n        \"key_string\": \"deadline\",\n        \"icon_key\": \"deadline\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 5,\n        \"order_nr\": 5,\n        \"name\": \"E-mail\",\n        \"key_string\": \"email\",\n        \"icon_key\": \"email\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 6,\n        \"order_nr\": 6,\n        \"name\": \"Almoço\",\n        \"key_string\": \"lunch\",\n        \"icon_key\": \"lunch\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 7,\n        \"order_nr\": 7,\n        \"name\": \"Whatsapp chat\",\n        \"key_string\": \"whatsapp_chat\",\n        \"icon_key\": \"bubble\",\n        \"active_flag\": true,\n        \"color\": \"00CC00\",\n        \"is_custom_flag\": true,\n        \"add_time\": \"2022-09-28 21:36:41\",\n        \"update_time\": \"2022-10-26 21:46:30\"\n      },\n      {\n        \"id\": 8,\n        \"order_nr\": 8,\n        \"name\": \"Entrega de Carrinho\",\n        \"key_string\": \"entrega_de_carrinho\",\n        \"icon_key\": \"truck\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2023-03-07 14:50:31\",\n        \"update_time\": \"2023-03-07 14:50:31\"\n      },\n      {\n        \"id\": 9,\n        \"order_nr\": 9,\n        \"name\": \"Pesquisa\",\n        \"key_string\": \"pesquisa\",\n        \"icon_key\": \"search\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:16:56\",\n        \"update_time\": \"2025-09-30 12:16:56\"\n      },\n      {\n        \"id\": 10,\n        \"order_nr\": 10,\n        \"name\": \"LinkedIn\",\n        \"key_string\": \"linkedin\",\n        \"icon_key\": \"loop\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:17:56\",\n        \"update_time\": \"2025-09-30 12:17:56\"\n      },\n      {\n        \"id\": 11,\n        \"order_nr\": 11,\n        \"name\": \"Facebook\",\n        \"key_string\": \"facebook\",\n        \"icon_key\": \"signpost\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:18:51\",\n        \"update_time\": \"2025-09-30 12:18:51\"\n      },\n      {\n        \"id\": 12,\n        \"order_nr\": 12,\n        \"name\": \"Instagram\",\n        \"key_string\": \"instagram\",\n        \"icon_key\": \"camera\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:19:13\",\n        \"update_time\": \"2025-09-30 12:19:13\"\n      }\n    ]\n  }\n]"},"type":"n8n-nodes-base.stickyNote","position":[1968,-896],"typeVersion":1,"id":"85c7ab33-0f00-4410-ad38-f7a2d1ee65ba","name":"Sticky Note1"},{"parameters":{"url":"https://api.meetime.com.br/v2/cadences/activities-templates","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"activity_type","value":"SOCIAL_POINT"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2288,-592],"id":"8f655e41-0b55-4498-b367-c8b31cb32d53","name":"templates","credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"templates\"].json[\"data\"].find(item => item.id == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network}}","rightValue":"WHATSAPP","operator":{"type":"string","operation":"equals"},"id":"727c4fc9-ca6f-4d81-8114-4924e48484ee"}],"combinator":"and"},"renameOutput":true,"outputKey":"Whatsapp"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d9e7d5bf-f501-4102-81d9-51c6ff21bc2f","leftValue":"={{ $item(\"0\").$node[\"templates\"].json[\"data\"].find(item => item.id == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network}}","rightValue":"LINKED_IN","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Linkedin"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"72240f6c-f0a5-461f-8e9b-71a88e51f807","leftValue":"={{ $item(\"0\").$node[\"templates\"].json[\"data\"].find(item => item.id == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network}}","rightValue":"INSTAGRAM","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Instagram"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1dfcbaa5-c945-425e-bc62-5d7829d151af","leftValue":"={{ $item(\"0\").$node[\"templates\"].json[\"data\"].find(item => item.id == $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"activityTemplateId\"]).social_network}}","rightValue":"FACEBOOK","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"FACEBOOK"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2496,-720],"id":"0048e7d7-5bb1-43b9-916e-dab0fb75a3ef","name":"Switch3"},{"parameters":{"resource":"activity","subject":"Pesquisa","done":"1","type":"pesquisa","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","note":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"annotation\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[2288,128],"id":"6b94aa55-5d25-4fe7-8410-52ce767d8e94","name":"Pipedrive8","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"customProperties":{"property":[{"name":"9124c94a4484aabbbe9fae6c0ac13248fa0f16ff","value":"={{\n(() => {\n    try {\n        // Verifica se existe o campo personalizado\n        const campoPersonalizado = $item(\"0\").$node[\"campos personalizados meetime1\"].json[\"data\"];\n        if (!campoPersonalizado) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        // Busca o campo jornadaDoCliente\n        const jornadaField = campoPersonalizado.find(item => item.field_key == 'jornadaDoCliente');\n        if (!jornadaField || !jornadaField.options) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        // Pega o ID do customFields\n        const jornadaId = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"jornadaDoCliente\"];\n        if (!jornadaId) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        // Busca a opção pelo ID\n        const opcao = jornadaField.options.find(item => item.id == jornadaId);\n        if (!opcao || !opcao.label) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        return opcao.label;\n        \n    } catch (error) {\n        return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n    }\n})()\n}}"}]},"status":"open"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[880,-464],"id":"5d61d18c-380c-4311-a1cc-c77b038df42d","name":"Pipedrive11","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"person","operation":"update","personId":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"Pessoa de contato\"][\"value\"] }}","updateFields":{"customProperties":{"property":[{"name":"161520b108dba339c1096c546ea17ee7560a9d14","value":"={{\n(() => {\n    try {\n        // Verifica se existe o campo personalizado\n        const campoPersonalizado = $item(\"0\").$node[\"campos personalizados meetime1\"].json[\"data\"];\n        if (!campoPersonalizado) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        // Busca o campo tipoDeNegocio\n        const tipoNegocioField = campoPersonalizado.find(item => item.field_key == 'tipoDeNegocio');\n        if (!tipoNegocioField || !tipoNegocioField.options) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        // Pega o ID do customFields\n        const tipoNegocioId = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"tipoDeNegocio\"];\n        if (!tipoNegocioId) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        // Busca a opção pelo ID\n        const opcao = tipoNegocioField.options.find(item => item.id == tipoNegocioId);\n        if (!opcao || !opcao.label) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        return opcao.label;\n        \n    } catch (error) {\n        return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n    }\n})()\n}}"},{"name":"a904218da6ca209deeee9417d3c712cf666c722e","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"fitcore\"] }}"},{"name":"9bf49971428c4cc8d7cbd7ef99f34aac3649f66b","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"executedBy\"][\"name\"] }}"}]},"email":["={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"email\"]||$item(\"0\").$node[\"Ler pessoa\"].json[\"E-mail\"][\"0\"][\"value\"] }}"],"name":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"name\"] || $item(\"0\").$node[\"Ler pessoa\"].json[\"Nome\"] }}","phone":["={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"phones\"][\"0\"][\"phone\"]|| $item(\"0\").$node[\"Ler pessoa\"].json[\"Telefone\"][\"0\"][\"value\"] }}"]}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[688,-448],"id":"ad83ae0f-31e3-46aa-8571-53c39cfcf358","name":"Pipedrive16","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"person","operation":"get","personId":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"Pessoa de contato\"][\"value\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[256,-592],"id":"a4ca66df-20ef-4830-870f-87c420059152","name":"Ler pessoa","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"get","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-720,-576],"id":"b29fd5d1-488c-4145-95b5-14e51e236076","name":"Ler deal","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"url":"https://api.pipedrive.com/v1/users","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,2528],"id":"0978ec7f-f33e-4686-aeb5-9af036cd2126","name":"Users pipedrive","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"note","content":"=Link p/ feedback da Oportunidade: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"dealFeedback\"][\"dealFeedbackUrl\"] ||''}} \nURL pública lead na Meetime: {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"publicUrl\"] }}","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","person_id":"={{ $item(\"0\").$node[\"Ler deal1\"].json[\"Pessoa de contato\"][\"value\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[544,1568],"id":"6dfc4397-d1e3-49e1-b583-6663a57cb74f","name":"Create a note","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"note","content":"=Anotações deixadas por {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"salesman\"][\"name\"] }} na Meetime: \n{{ \n(() => {\n  const text = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"annotations\"];\n  \n  // Decodificar caracteres especiais\n  let cleaned = text\n    .replace(/&ndash;/g, '–')\n    .replace(/&iacute;/g, 'í')\n    .replace(/&ccedil;/g, 'ç')\n    .replace(/&atilde;/g, 'ã')\n    .replace(/&otilde;/g, 'õ')\n    .replace(/&aacute;/g, 'á')\n    .replace(/&eacute;/g, 'é')\n    .replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú')\n    .replace(/&ecirc;/g, 'ê')\n    .replace(/&ocirc;/g, 'ô')\n    .replace(/&amp;/g, '&')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&Eacute;/g, 'É');\n\n  // CONVERTER TODOS OS <br> PRIMEIRO - de forma mais abrangente\n  cleaned = cleaned\n    // Capturar todas as variações de <br>\n    .replace(/<br\\s*\\/?>\\s*/gi, '\\n')  // <br>, <br/>, <br />\n    .replace(/<br\\s*\\/?>/gi, '\\n')     // Fallback\n    // Depois processar outras tags\n    .replace(/<h[1-6][^>]*>/gi, '\\n')\n    .replace(/<\\/h[1-6]>/gi, '\\n')\n    .replace(/<p[^>]*>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<div[^>]*>/gi, '\\n')\n    .replace(/<\\/div>/gi, '\\n')\n    .replace(/<ul[^>]*>/gi, '\\n')\n    .replace(/<\\/ul>/gi, '\\n')\n    .replace(/<li[^>]*>/gi, '\\n• ')\n    .replace(/<\\/li>/gi, '\\n')\n    .replace(/<hr[^>]*>/gi, '\\n---\\n')\n    // Remover outras tags mas preservar conteúdo\n    .replace(/<[^>]*>/g, ' ')\n    // Preservar quebras mas limpar espaços extras\n    .replace(/[ ]+/g, ' ')\n    .replace(/ \\n/g, '\\n')\n    .replace(/\\n /g, '\\n')\n    .trim();\n\n  // Processar emojis e pontuação\n  cleaned = cleaned\n    .replace(/(🔎|🧩|🎯|💡|🤔|📅)/g, '\\n$1')\n    .replace(/\\s*\\.\\s*/g, '. ')\n    .replace(/\\s*,\\s*/g, ', ')\n    .replace(/\\s*:\\s*/g, ': ');\n\n  // Limpar formatação final\n  cleaned = cleaned\n    .replace(/\\n\\s*\\n/g, '\\n\\n')  // Duas quebras viram parágrafo\n    .replace(/\\n{3,}/g, '\\n\\n');  // Mais de 2 quebras viram 2\n\n  return cleaned;\n})()\n}}","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","person_id":"={{ $item(\"0\").$node[\"Create a note\"].json[\"person_id\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[784,1728],"id":"bb5b6a40-d99f-456f-9439-83d4e749a68a","name":"Create a note1","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"895b2f22-34c1-4f41-9673-a75f83a5f6f2","name":"campos personalizados meetime1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,-352],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"ydtbjXWWkeniXwTF","name":"Conta teste"}}},{"parameters":{"resource":"person","operation":"get","personId":"={{ $item(\"0\").$node[\"Ler deal1\"].json[\"Pessoa de contato\"][\"value\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[96,1392],"id":"c839b231-96f4-484b-96ce-57aa63a5e558","name":"Ler pessoa1","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"get","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-96,1264],"id":"7e7766b4-848d-4656-a8bc-d09bb72d4465","name":"Ler deal1","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"857af4b7-9e35-4bc4-aa9c-bd69f054e164","name":"campos personalizados meetime","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[336,1376],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"customProperties":{"property":[{"name":"9124c94a4484aabbbe9fae6c0ac13248fa0f16ff","value":"={{\n(() => {\n    try {\n        // Verifica se existe o campo personalizado\n        const campoPersonalizado = $item(\"0\").$node[\"campos personalizados meetime\"].json[\"data\"];\n        if (!campoPersonalizado) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        // Busca o campo jornadaDoCliente\n        const jornadaField = campoPersonalizado.find(item => item.field_key == 'jornadaDoCliente');\n        if (!jornadaField || !jornadaField.options) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        // Pega o ID do customFields\n        const jornadaId = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"jornadaDoCliente\"];\n        if (!jornadaId) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        // Busca a opção pelo ID\n        const opcao = jornadaField.options.find(item => item.id == jornadaId);\n        if (!opcao || !opcao.label) return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n        \n        return opcao.label;\n        \n    } catch (error) {\n        return $('Ler pessoa').item.json['Tipo de negócio'] || '';\n    }\n})()\n}}"}]},"user_id":22664672,"stage_id":15,"status":"open"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[832,1376],"id":"18703cf8-662a-4d12-9768-ab507daf6caf","name":"Pipedrive15","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"person","operation":"update","personId":"={{ $item(\"0\").$node[\"Ler deal1\"].json[\"Pessoa de contato\"][\"value\"] }}","updateFields":{"customProperties":{"property":[{"name":"161520b108dba339c1096c546ea17ee7560a9d14","value":"={{\n(() => {\n    try {\n        // Verifica se existe o campo personalizado\n        const campoPersonalizado = $item(\"0\").$node[\"campos personalizados meetime\"].json[\"data\"];\n        if (!campoPersonalizado) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        // Busca o campo tipoDeNegocio\n        const tipoNegocioField = campoPersonalizado.find(item => item.field_key == 'tipoDeNegocio');\n        if (!tipoNegocioField || !tipoNegocioField.options) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        // Pega o ID do customFields\n        const tipoNegocioId = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"tipoDeNegocio\"];\n        if (!tipoNegocioId) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        // Busca a opção pelo ID\n        const opcao = tipoNegocioField.options.find(item => item.id == tipoNegocioId);\n        if (!opcao || !opcao.label) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        return opcao.label;\n        \n    } catch (error) {\n        return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n    }\n})()\n}}"},{"name":"a904218da6ca209deeee9417d3c712cf666c722e","value":"={{ $item(\"0\").$node[\"campos personalizados meetime3\"].json[\"data\"][\"0\"][\"lead_fit_score\"] }}"}]},"email":["={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"email\"]||$item(\"0\").$node[\"Ler pessoa1\"].json[\"E-mail\"][\"0\"][\"value\"] }}"],"name":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"name\"] || $item(\"0\").$node[\"Ler pessoa1\"].json[\"Nome\"] }}","phone":["={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"phones\"][\"0\"][\"phone\"]|| $item(\"0\").$node[\"Ler pessoa1\"].json[\"Telefone\"][\"0\"][\"value\"] }}"]}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[592,1344],"id":"f33a4f8a-e76c-4181-a42e-abda5af03c9c","name":"Pipedrive17","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8a5fb9ab-b2aa-47f9-b712-9ea5cd30f6f8","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"houveContato\"] }}","rightValue":"b1d9a72f-0f75-4c6b-a435-12bef551cfe7","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[3616,64],"id":"e7c48cda-7e4b-4e7f-925d-a31f0cffca10","name":"Filter"},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"4008c5d9-5e8d-4393-9ba2-053d18b41ffa","name":"campos personalizados meetime2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1680,-528],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=61"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[4336,240],"id":"924b2078-f25b-41d3-9944-075eeca3711e","name":"Pipedrive9","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":33,"operator":{"type":"number","operation":"equals"},"id":"d7c85246-25e2-4233-aeb8-5811f446f803"}],"combinator":"and"},"renameOutput":true,"outputKey":"SDR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b1a812d-7f8f-493f-89a2-52d14d1cb747","leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":49,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BDR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0843a66e-2fa1-4634-863f-0349762265b3","leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":59,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ebooks"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"45c8965c-cb74-42f6-ad54-9a3fea0a60d9","leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":64,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reativações"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3888,64],"id":"8ad8a94d-2698-4616-9591-299b8811bb29","name":"Switch4"},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=50"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[4320,80],"id":"2334f66a-670c-4f45-90f0-ed1fc07cb4d7","name":"Pipedrive10","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=34"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[4320,-80],"id":"85445324-f2ec-48fc-8278-bff495b34559","name":"Pipedrive18","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"74e98f1f-d742-4e6b-b62d-dbe3b50b9ffd","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"temFit\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3344,-80],"id":"d5fc1ab1-5a35-46c1-af91-4b2b5ce96c1c","name":"If"},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=62"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[4368,-672],"id":"dccaa0f8-8a6f-4d3a-88cf-1110304c9a0a","name":"Pipedrive12","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":33,"operator":{"type":"number","operation":"equals"},"id":"d7c85246-25e2-4233-aeb8-5811f446f803"}],"combinator":"and"},"renameOutput":true,"outputKey":"SDR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"9b1a812d-7f8f-493f-89a2-52d14d1cb747","leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":49,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"BDR"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0843a66e-2fa1-4634-863f-0349762265b3","leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":59,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Ebooks"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5ecee264-c256-4c45-a27d-bff03c83e7bf","leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"stage_id\"] }}","rightValue":64,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Reativações"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[3856,-592],"id":"c9ddd02b-c048-4f6f-bacb-f7985e4a5248","name":"Switch5"},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=50"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[4352,-848],"id":"15141ecf-5711-46a6-8e14-7768892aef0e","name":"Pipedrive19","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=35"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[4352,-1024],"id":"31fb2aa0-b426-41dd-8046-61971b78c7f8","name":"Pipedrive20","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0858835b-daa6-4a18-9605-c4e551646afa","leftValue":"={{ $item(\"0\").$node[\"Ler deal\"].json[\"Organização\"] }}","rightValue":"null","operator":{"type":"object","operation":"notExists","singleValue":true}},{"id":"a2e0665a-2da3-4904-abdb-ef22ace71b9d","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"company\"] }}","rightValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"company\"] }}","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,-592],"id":"a12eccda-3039-412e-9317-9b19c6e5a860","name":"If1"},{"parameters":{"operation":"get","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[144,2464],"id":"6a98d800-f840-4891-89c8-195162783910","name":"Ler deal2","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"organization","name":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"company\"] }}","additionalFields":{}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-208,-832],"id":"b4cd886d-a7f4-46be-b36a-ef1c0eddcc48","name":"Cria ORG","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"org_id":"={{ $item(\"0\").$node[\"Cria ORG\"].json[\"id\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[224,-928],"id":"cb1ab868-60b3-4f91-b925-d9327c4550b5","name":"Update deal","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"method":"POST","url":"=https://api.pipedrive.com/api/v2/activities","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"deal_id\": {{ $item(\"0\").$node[\"Search a deal\"].json[\"id\"] }},\n    \"subject\": \"Ligação\",\n    \"due_date\":\"{{ $now.format('yyyy-LL-dd') }}\",\n    \"due_time\":\"{{ $now.plus(3,'hours').format('HH:mm') }}\",\n    \"done\":true,\n    {{\n(function() {\n    const note = $('Webhook').item.json.body.call.note;\n    if (note && note.trim() !== \"\") {\n        return `\"note\": \"${note.replace(/\\n/g, '\\\\n')}\",`;\n    } else {\n        return '';\n    }\n})()\n}}\n    \"type\":\"call\",\n    \"participants\":[\n{\n        \"person_id\":{{ $item(\"0\").$node[\"Ler pessoa2\"].json[\"ID\"] }},\n        \"primary\":true\n}\n]\n}  ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,336],"id":"d9e15497-46af-4db6-b339-29ceddea78f2","name":"Cria task1","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"activity","subject":"Ligação","done":"1","type":"call","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","due_date":"={{ $now }}","note":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"activities\"][\"1\"][\"call\"][\"note\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1616,640],"id":"1cb0746a-594b-4b9f-b302-eb468973ed13","name":"Pipedrive22","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"content":"[\n  {\n    \"success\": true,\n    \"data\": [\n      {\n        \"id\": 1,\n        \"order_nr\": 1,\n        \"name\": \"Chamada\",\n        \"key_string\": \"call\",\n        \"icon_key\": \"call\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": \"2022-10-26 21:46:45\"\n      },\n      {\n        \"id\": 2,\n        \"order_nr\": 2,\n        \"name\": \"Reunião\",\n        \"key_string\": \"meeting\",\n        \"icon_key\": \"meeting\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 3,\n        \"order_nr\": 3,\n        \"name\": \"Tarefa\",\n        \"key_string\": \"task\",\n        \"icon_key\": \"task\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 4,\n        \"order_nr\": 4,\n        \"name\": \"Prazo\",\n        \"key_string\": \"deadline\",\n        \"icon_key\": \"deadline\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 5,\n        \"order_nr\": 5,\n        \"name\": \"E-mail\",\n        \"key_string\": \"email\",\n        \"icon_key\": \"email\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 6,\n        \"order_nr\": 6,\n        \"name\": \"Almoço\",\n        \"key_string\": \"lunch\",\n        \"icon_key\": \"lunch\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": false,\n        \"add_time\": \"2018-08-29 07:16:05\",\n        \"update_time\": null\n      },\n      {\n        \"id\": 7,\n        \"order_nr\": 7,\n        \"name\": \"Whatsapp chat\",\n        \"key_string\": \"whatsapp_chat\",\n        \"icon_key\": \"bubble\",\n        \"active_flag\": true,\n        \"color\": \"00CC00\",\n        \"is_custom_flag\": true,\n        \"add_time\": \"2022-09-28 21:36:41\",\n        \"update_time\": \"2022-10-26 21:46:30\"\n      },\n      {\n        \"id\": 8,\n        \"order_nr\": 8,\n        \"name\": \"Entrega de Carrinho\",\n        \"key_string\": \"entrega_de_carrinho\",\n        \"icon_key\": \"truck\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2023-03-07 14:50:31\",\n        \"update_time\": \"2023-03-07 14:50:31\"\n      },\n      {\n        \"id\": 9,\n        \"order_nr\": 9,\n        \"name\": \"Pesquisa\",\n        \"key_string\": \"pesquisa\",\n        \"icon_key\": \"search\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:16:56\",\n        \"update_time\": \"2025-09-30 12:16:56\"\n      },\n      {\n        \"id\": 10,\n        \"order_nr\": 10,\n        \"name\": \"LinkedIn\",\n        \"key_string\": \"linkedin\",\n        \"icon_key\": \"loop\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:17:56\",\n        \"update_time\": \"2025-09-30 12:17:56\"\n      },\n      {\n        \"id\": 11,\n        \"order_nr\": 11,\n        \"name\": \"Facebook\",\n        \"key_string\": \"facebook\",\n        \"icon_key\": \"signpost\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:18:51\",\n        \"update_time\": \"2025-09-30 12:18:51\"\n      },\n      {\n        \"id\": 12,\n        \"order_nr\": 12,\n        \"name\": \"Instagram\",\n        \"key_string\": \"instagram\",\n        \"icon_key\": \"camera\",\n        \"active_flag\": true,\n        \"color\": null,\n        \"is_custom_flag\": true,\n        \"add_time\": \"2025-09-30 12:19:13\",\n        \"update_time\": \"2025-09-30 12:19:13\"\n      }\n    ]\n  }\n]"},"type":"n8n-nodes-base.stickyNote","position":[3120,288],"typeVersion":1,"id":"1d4c6128-1a44-4c90-8873-7d39619c3ef9","name":"Sticky Note3"},{"parameters":{"resource":"person","operation":"get","personId":"={{ $item(\"0\").$node[\"Ler deal3\"].json[\"Pessoa de contato\"][\"value\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[800,608],"id":"a76db818-6cfe-4419-8dc7-b070d59c3654","name":"Ler pessoa2","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"get","dealId":"={{ $item(\"0\").$node[\"Search a deal\"].json[\"id\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[432,624],"id":"d618c384-3a0a-44e8-b331-a320ed6720b1","name":"Ler deal3","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=61"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[5264,1440],"id":"e0608a81-b981-4e12-b9bc-7cf5937b4acb","name":"Pipedrive29","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"url":"=https://api.meetime.com.br/v2/calls?id={{ $item(\"0\").$node[\"Switch\"].json[\"body\"][\"call\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-272,448],"id":"e377dad3-51ea-4a5c-80a7-6fc2d88b7bce","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}},{"parameters":{"resource":"person","operation":"search","term":"={{ $item(\"0\").$node[\"HTTP Request\"].json[\"data\"][\"0\"][\"receiver_phone\"].replace('+','') }}","additionalFields":{}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-96,368],"id":"72d2b12a-2558-448a-8336-43f9e9753970","name":"Pesquisa Pesoa","alwaysOutputData":true,"credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"url":"=https://api.pipedrive.com/api/v2/deals?person_id={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"PersonlId\"] }}","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,208],"id":"b0616b3f-2aea-4aa6-ba03-cdf61f03f205","name":"Busca deal associado2","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"customProperties":{"property":[{"name":"1c0a33d5f97abf95db6013af717ba46db7b72e64","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"call\"][\"id\"] }}"}]}}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[2288,-112],"id":"6f6f9af3-e295-4753-ab96-8fd119ef4601","name":"Update a deal","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"search","term":"={{ $item(\"0\").$node[\"Switch\"].json[\"body\"][\"call\"][\"id\"] }}","limit":1,"additionalFields":{"fields":["custom_fields"]}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[64,624],"id":"bd817e58-f6ed-4fdd-a990-2a20de6f0d7f","name":"Search a deal","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"method":"POST","url":"=https://api.pipedrive.com/api/v2/activities","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"deal_id\":{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }},\n    \"subject\": \"Whatsapp\",\n    \"due_date\":\"{{ $now.format('yyyy-LL-dd') }}\",\n    \"due_time\":\"{{ $now.plus(3,'hours').format('HH:mm') }}\",\n    \"done\":true,\n   {{\n(function() {\n    const annotation = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"annotation\"];\n    if (annotation && annotation.trim() !== \"\") {\n        const annotationComQuebras = annotation.replace(/\\n/g, '\\\\n').replace(/\\r/g, '');\n        return ` \"note\": \"${annotationComQuebras}\",`;\n    } else {\n        return '';\n    }\n})()\n}}\n    \"type\":\"whatsapp_chat\",\n    \"participants\":[\n{\n        \"person_id\":{{ $item(\"0\").$node[\"Ler pessoa\"].json[\"ID\"] }},\n        \"primary\":true\n}\n]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2944,-912],"id":"9354c9ab-b847-421c-8ffa-56ac9c19689c","name":"Cria task","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"method":"POST","url":"=https://api.pipedrive.com/api/v2/activities","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"deal_id\":{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }},\n    \"subject\": \"Linkedin\",\n    \"due_date\":\"{{ $now.format('yyyy-LL-dd') }}\",\n    \"due_time\":\"{{ $now.plus(3,'hours').format('HH:mm') }}\",\n    \"done\":true,\n   {{\n(function() {\n    const annotation = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"annotation\"];\n    if (annotation && annotation.trim() !== \"\") {\n        const annotationComQuebras = annotation.replace(/\\n/g, '\\\\n').replace(/\\r/g, '');\n        return ` \"note\": \"${annotationComQuebras}\",`;\n    } else {\n        return '';\n    }\n})()\n}}\n    \"type\":\"linkedin\",\n    \"participants\":[\n{\n        \"person_id\":{{ $item(\"0\").$node[\"Ler pessoa\"].json[\"ID\"] }},\n        \"primary\":true\n}\n]\n} \n\n\n\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2960,-736],"id":"19056664-2765-427a-b262-b4fb65d58ada","name":"Cria task2","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"method":"POST","url":"=https://api.pipedrive.com/api/v2/activities","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"deal_id\":{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }},\n    \"subject\": \"Instagram\",\n    \"due_date\":\"{{ $now.format('yyyy-LL-dd') }}\",\n    \"due_time\":\"{{ $now.plus(3,'hours').format('HH:mm') }}\",\n    \"done\":true,\n   {{\n(function() {\n    const annotation = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"annotation\"];\n    if (annotation && annotation.trim() !== \"\") {\n        const annotationComQuebras = annotation.replace(/\\n/g, '\\\\n').replace(/\\r/g, '');\n        return ` \"note\": \"${annotationComQuebras}\",`;\n    } else {\n        return '';\n    }\n})()\n}}\n    \"type\":\"instagram\",\n    \"participants\":[\n{\n        \"person_id\":{{ $item(\"0\").$node[\"Ler pessoa\"].json[\"ID\"] }},\n        \"primary\":true\n}\n]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2928,-560],"id":"69c9c052-c2d6-4941-8fe2-b32c92e68357","name":"Cria task3","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"method":"POST","url":"=https://api.pipedrive.com/api/v2/activities","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"deal_id\":{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }},\n    \"subject\": \"Facebook\",\n    \"due_date\":\"{{ $now.format('yyyy-LL-dd') }}\",\n    \"due_time\":\"{{ $now.plus(3,'hours').format('HH:mm') }}\",\n    \"done\":true,\n   {{\n(function() {\n    const annotation = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"annotation\"];\n    if (annotation && annotation.trim() !== \"\") {\n        const annotationComQuebras = annotation.replace(/\\n/g, '\\\\n').replace(/\\r/g, '');\n        return ` \"note\": \"${annotationComQuebras}\",`;\n    } else {\n        return '';\n    }\n})()\n}}\n    \"type\":\"facebook\",\n    \"participants\":[\n{\n        \"person_id\":{{ $item(\"0\").$node[\"Ler pessoa\"].json[\"ID\"] }},\n        \"primary\":true\n}\n]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2944,-384],"id":"a8cba23e-51b1-4fb7-9dd7-8461c12a4559","name":"Cria task4","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"get","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1072,1616],"id":"b1e99aba-5a47-44b6-bb79-8d19943b110a","name":"Ler deal4","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"url":"=https://api.meetime.com.br/v2/leads?id={{ $item(\"0\").$node[\"Switch\"].json[\"body\"][\"prospection\"][\"lead\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"d23d8d07-650b-4997-86ff-cc5a024d7513","name":"campos personalizados meetime3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,960],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}},{"parameters":{"url":"https://api.meetime.com.br/v2/users","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"a552a00d-8147-4431-a677-12d5d8f30e1a","name":"campos personalizados meetime5","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[704,-1040],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}},{"parameters":{"resource":"note","content":"=Anotações deixadas por {{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"salesman\"][\"name\"] }} na Meetime: \n\n{{ \n(() => {\n  const text = $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"annotations\"];\n  \n  // Decodificar caracteres especiais\n  let cleaned = text\n    .replace(/&ndash;/g, '–')\n    .replace(/&iacute;/g, 'í')\n    .replace(/&ccedil;/g, 'ç')\n    .replace(/&atilde;/g, 'ã')\n    .replace(/&otilde;/g, 'õ')\n    .replace(/&aacute;/g, 'á')\n    .replace(/&eacute;/g, 'é')\n    .replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú')\n    .replace(/&ecirc;/g, 'ê')\n    .replace(/&ocirc;/g, 'ô')\n    .replace(/&amp;/g, '&')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&Eacute;/g, 'É');\n\n  // CONVERTER TODOS OS <br> PRIMEIRO - de forma mais abrangente\n  cleaned = cleaned\n    // Capturar todas as variações de <br>\n    .replace(/<br\\s*\\/?>\\s*/gi, '\\n')  // <br>, <br/>, <br />\n    .replace(/<br\\s*\\/?>/gi, '\\n')     // Fallback\n    // Depois processar outras tags\n    .replace(/<h[1-6][^>]*>/gi, '\\n')\n    .replace(/<\\/h[1-6]>/gi, '\\n')\n    .replace(/<p[^>]*>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<div[^>]*>/gi, '\\n')\n    .replace(/<\\/div>/gi, '\\n')\n    .replace(/<ul[^>]*>/gi, '\\n')\n    .replace(/<\\/ul>/gi, '\\n')\n    .replace(/<li[^>]*>/gi, '\\n• ')\n    .replace(/<\\/li>/gi, '\\n')\n    .replace(/<hr[^>]*>/gi, '\\n---\\n')\n    // Remover outras tags mas preservar conteúdo\n    .replace(/<[^>]*>/g, ' ')\n    // Preservar quebras mas limpar espaços extras\n    .replace(/[ ]+/g, ' ')\n    .replace(/ \\n/g, '\\n')\n    .replace(/\\n /g, '\\n')\n    .trim();\n\n  // Processar emojis e pontuação\n  cleaned = cleaned\n    .replace(/(🔎|🧩|🎯|💡|🤔|📅)/g, '\\n$1')\n    .replace(/\\s*\\.\\s*/g, '. ')\n    .replace(/\\s*,\\s*/g, ', ')\n    .replace(/\\s*:\\s*/g, ': ');\n\n  // Limpar formatação final\n  cleaned = cleaned\n    .replace(/\\n\\s*\\n/g, '\\n\\n')  // Duas quebras viram parágrafo\n    .replace(/\\n{3,}/g, '\\n\\n');  // Mais de 2 quebras viram 2\n\n  return cleaned;\n})()\n}}","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","person_id":"={{ $item(\"0\").$node[\"Pipedrive14\"].json[\"Pessoa de contato\"][\"value\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[512,2016],"id":"e73358d0-9aa3-4e3e-975f-488b17c63dd4","name":"Create a note3","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5f50026-9c74-4e5d-a064-c89fe5d4f0ac","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-464,80],"id":"b9de4374-c1cb-407f-9c09-15724591dc73","name":"Filter3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5f50026-9c74-4e5d-a064-c89fe5d4f0ac","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-368,800],"id":"bd2fd89d-712c-4a1f-87c4-ad08a6b5ec23","name":"Filter4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5f50026-9c74-4e5d-a064-c89fe5d4f0ac","leftValue":"={{ $item(\"0\").$node[\"Switch\"].json[\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-656,1056],"id":"295cc270-e627-4a22-a061-865a10fbc26c","name":"Filter5"},{"parameters":{"url":"https://api.pipedrive.com/v1/stages","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"pipeline_id","value":"13"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1296,-912],"id":"cc7a52e3-1682-42bb-bba6-05c12d703fbd","name":"consulta geral","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=65"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[4368,-464],"id":"f23ecabc-6bfe-4a73-803b-09d345ac4226","name":"Pipedrive23","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=65"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[4304,432],"id":"288426dc-758f-4203-b227-5a8354264a7f","name":"Pipedrive24","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"queue":"Rilix_Lost","options":{}},"type":"n8n-nodes-base.rabbitmq","typeVersion":1.1,"position":[-560,1312],"id":"b1ccc2c8-39a4-4876-8ec7-9846691df93d","name":"RabbitMQ","credentials":{"rabbitmq":{"id":"bPpAsMWUjdkbQzoB","name":"RabbitMQ account"}}}],"connections":{"Webhook":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Filter3","type":"main","index":0}],[{"node":"Search a deal","type":"main","index":0}],[{"node":"Filter4","type":"main","index":0}],[{"node":"Filter5","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"templates","type":"main","index":0}],[{"node":"Pipedrive4","type":"main","index":0}],[{"node":"Update a deal","type":"main","index":0}],[{"node":"Pipedrive8","type":"main","index":0}]]},"Pipedrive2":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Pipedrive4":{"main":[[{"node":"If","type":"main","index":0}]]},"Pipedrive5":{"main":[[]]},"Filter1":{"main":[[{"node":"Cria atividade de reunião agendada2","type":"main","index":0}]]},"Switch2":{"main":[[{"node":"Pipedrive2","type":"main","index":0}],[{"node":"Pipedrive2","type":"main","index":0}],[{"node":"Pipedrive2","type":"main","index":0}],[{"node":"Pipedrive2","type":"main","index":0}],[{"node":"Switch1","type":"main","index":0}]]},"templates":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Cria task","type":"main","index":0}],[{"node":"Cria task2","type":"main","index":0}],[{"node":"Cria task3","type":"main","index":0}],[{"node":"Cria task4","type":"main","index":0}]]},"Pipedrive11":{"main":[[{"node":"Switch2","type":"main","index":0}]]},"Ler pessoa":{"main":[[{"node":"campos personalizados meetime1","type":"main","index":0}]]},"Ler deal":{"main":[[{"node":"If1","type":"main","index":0}]]},"Create a note":{"main":[[{"node":"Create a note1","type":"main","index":0}]]},"campos personalizados meetime1":{"main":[[{"node":"Pipedrive16","type":"main","index":0}]]},"Pipedrive16":{"main":[[{"node":"Pipedrive11","type":"main","index":0}]]},"Ler pessoa1":{"main":[[{"node":"campos personalizados meetime","type":"main","index":0}]]},"Ler deal1":{"main":[[{"node":"Ler pessoa1","type":"main","index":0}]]},"Pipedrive17":{"main":[[{"node":"Pipedrive15","type":"main","index":0}]]},"campos personalizados meetime":{"main":[[{"node":"Pipedrive17","type":"main","index":0}]]},"Pipedrive15":{"main":[[{"node":"Create a note","type":"main","index":0}]]},"Create a note1":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Switch4","type":"main","index":0}]]},"Pipedrive9":{"main":[[]]},"Switch4":{"main":[[{"node":"Pipedrive18","type":"main","index":0}],[{"node":"Pipedrive10","type":"main","index":0}],[{"node":"Pipedrive9","type":"main","index":0}],[{"node":"Pipedrive24","type":"main","index":0}]]},"Pipedrive8":{"main":[[{"node":"If","type":"main","index":0}]]},"campos personalizados meetime2":{"main":[[]]},"If":{"main":[[{"node":"Switch5","type":"main","index":0}],[{"node":"Filter","type":"main","index":0}]]},"Switch5":{"main":[[{"node":"Pipedrive20","type":"main","index":0}],[{"node":"Pipedrive19","type":"main","index":0}],[{"node":"Pipedrive12","type":"main","index":0}],[{"node":"Pipedrive23","type":"main","index":0}]]},"If1":{"main":[[{"node":"Cria ORG","type":"main","index":0}],[{"node":"Ler pessoa","type":"main","index":0}]]},"Cria ORG":{"main":[[{"node":"Update deal","type":"main","index":0}]]},"Update deal":{"main":[[{"node":"Ler pessoa","type":"main","index":0}]]},"Pipedrive22":{"main":[[]]},"Ler pessoa2":{"main":[[{"node":"Cria task1","type":"main","index":0}]]},"Ler deal3":{"main":[[{"node":"Ler pessoa2","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Pesquisa Pesoa","type":"main","index":0}]]},"Update a deal":{"main":[[{"node":"If","type":"main","index":0}]]},"Search a deal":{"main":[[{"node":"Ler deal3","type":"main","index":0}]]},"Cria task4":{"main":[[{"node":"If","type":"main","index":0}]]},"Cria task3":{"main":[[{"node":"If","type":"main","index":0}]]},"Cria task2":{"main":[[{"node":"If","type":"main","index":0}]]},"Cria task":{"main":[[{"node":"If","type":"main","index":0}]]},"campos personalizados meetime3":{"main":[[{"node":"Ler deal1","type":"main","index":0}]]},"campos personalizados meetime5":{"main":[[]]},"Filter3":{"main":[[{"node":"Ler deal","type":"main","index":0}]]},"Filter4":{"main":[[{"node":"campos personalizados meetime3","type":"main","index":0}]]},"Filter5":{"main":[[{"node":"RabbitMQ","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"wlpahpLREEEcju2c"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook2.automatisales.com.br","user-agent":"Meetime","content-length":"3680","accept":"*/*","content-type":"application/json","x-forwarded-for":"34.74.246.245","x-forwarded-host":"webhook2.automatisales.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2c1c4eafa7e2","x-meetime-delivery":"a89549b7-3690-45df-b2fe-bff8c0be6540","x-meetime-signature":"Di4hWNeM76_wdN6HM1v4x0gZ9B0PgYHSU7zGc8F109I=","x-real-ip":"34.74.246.245","accept-encoding":"gzip"},"params":{},"query":{},"body":{"event":"LEAD.LOST","prospection":{"id":34495947,"lead":{"id":27440812,"email":"rosaria.carvalho84@hotmail.com","firstName":"Rosaria","name":"Rosaria Carvalho","company":null,"phones":[{"label":null,"phone":"+5531981062978","lastUsage":"2025-11-05T12:31:12.080Z"}],"position":null,"site":null,"state":"PA","city":"Carajas","twitter":null,"facebook":null,"linkedIn":null,"annotations":null,"customFields":{"termo":"Lista Retomada Com Fit 2025","pagoOrganico":"f31d293c-28c8-4452-bb85-cddbcf9e45e6","idDealPipe":"28681","campanha":"Pré-black 2025"},"publicUrl":"https://meetime.com.br/dashboard/public/leads/AIDLhpmAoU8vrD4mCDI2vwL2YGYEABTaP5EGDfeVQbEe","externalReference":null},"cadence":{"id":58229,"name":"Ativação Black 2025"},"originType":"SWITCHED_CADENCE","inbound":true,"startDate":"2025-11-03T18:34:34.001Z","endDate":"2025-11-08T06:00:48.071Z","status":"LOST","salesman":{"id":48152,"name":"Maria Araújo","email":"comercial@rilix.com.br"},"salesmanTeam":{"id":2125,"name":"Outbound"},"activities":[{"id":371295886,"status":"FINISHED","scope":"CADENCE","executionDate":"2025-11-03T19:09:05.808Z","annotation":"Lead tem um espaço para em (carajas-PA) dentro de um centro gastronomico de carajas que pertence a empresa Vale, que segundo ela que cuida.","type":"SEARCH","activityTemplateId":152973,"executedBy":{"id":48152,"name":"Maria Araújo","email":"comercial@rilix.com.br"},"executedByTeam":{"id":2125,"name":"Outbound"}},{"id":371295887,"status":"FINISHED","scope":"CADENCE","executionDate":"2025-11-03T19:09:21.265Z","type":"CALL","activityTemplateId":152987,"executedBy":{"id":48152,"name":"Maria Araújo","email":"comercial@rilix.com.br"},"executedByTeam":{"id":2125,"name":"Outbound"},"call":{"id":66700188,"user":{"id":48152,"name":"Maria Araújo","email":"comercial@rilix.com.br"},"team":{"id":2125,"name":"Outbound"},"receiverPhone":"+5531981062978","originStatus":"ANSWERED","receiverStatus":"NO_ANSWERED","originType":"EXTENSION","originStarted":"2025-11-03T19:09:56.000Z","duration":0,"status":"NOT_PERFORMED","output":"NO_CONTACT","originPrice":0,"receiverPrice":0,"callType":"VOIP","category":{"id":12985,"name":"Ligação","source":"PROSPECT"}}},{"id":371295889,"status":"FINISHED","scope":"CADENCE","executionDate":"2025-11-03T19:11:03.065Z","type":"SOCIAL_POINT","activityTemplateId":152988,"executedBy":{"id":48152,"name":"Maria Araújo","email":"comercial@rilix.com.br"},"executedByTeam":{"id":2125,"name":"Outbound"}},{"id":371295888,"status":"FINISHED","scope":"CADENCE","executionDate":"2025-11-05T12:31:12.080Z","type":"CALL","activityTemplateId":152987,"executedBy":{"id":48152,"name":"Maria Araújo","email":"comercial@rilix.com.br"},"executedByTeam":{"id":2125,"name":"Outbound"},"call":{"id":66773478,"user":{"id":48152,"name":"Maria Araújo","email":"comercial@rilix.com.br"},"team":{"id":2125,"name":"Outbound"},"originPhone":"+5547976020079","receiverPhone":"+5531981062978","originStatus":"ANSWERED","receiverStatus":"NO_ANSWERED","originType":"EXTENSION","receiverType":"MOBILE","originStarted":"2025-11-05T12:31:20.000Z","duration":0,"status":"NOT_PERFORMED","originPrice":0,"receiverPrice":0,"callType":"VOIP","category":{"id":12985,"name":"Ligação","source":"PROSPECT"}}},{"id":371295890,"status":"FINISHED","scope":"CADENCE","executionDate":"2025-11-05T14:37:15.799Z","type":"SOCIAL_POINT","activityTemplateId":152989,"executedBy":{"id":48152,"name":"Maria Araújo","email":"comercial@rilix.com.br"},"executedByTeam":{"id":2125,"name":"Outbound"}}],"extraActivities":[],"lostReason":{"id":51694,"name":"Não houve contato"},"origin":{"campaign":null,"source":null,"conversion":null,"channel":"UNKNOWN"},"meetings":[]}},"webhookUrl":"https://webhook2.automatisales.com.br/webhook/RilixAtividadeseStatusMeetime","executionMode":"production"}}]},"versionId":"7a970f6a-4439-43a5-8b25-db6362771247","triggerCount":1,"shared":[{"updatedAt":"2025-10-13T00:17:42.260Z","createdAt":"2025-10-13T00:17:42.260Z","role":"workflow:owner","workflowId":"9uFRDYEIDSTKYlNE","projectId":"5Z2b5yWkWWKq8wM8"}],"tags":[]}