[rilix]---lead-perdido-copy-F3v4MFCcICAiMvKe.json
{"updatedAt":"2025-11-11T12:36:53.528Z","createdAt":"2025-11-10T20:52:28.855Z","id":"F3v4MFCcICAiMvKe","name":"[RILIX] - Lead Perdido copy","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://api.pipedrive.com/v1/users","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,2528],"id":"a03f9360-9f04-4c5f-8e31-18837dca38f4","name":"Users pipedrive","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"get","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[144,2464],"id":"1c6ed96b-1c60-4a88-a29e-51a404633669","name":"Ler deal2","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=61"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[5264,1440],"id":"27700126-6973-4cbc-af02-83f3a4eba16b","name":"Pipedrive29","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"url":"=https://api.meetime.com.br/v2/leads?id={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"0b34049c-af9c-478e-afd4-0febdfd59130","name":"campos personalizados meetime4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16,1600],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Meetime - Rilix"}}},{"parameters":{"resource":"person","operation":"update","personId":"={{ $item(\"0\").$node[\"Pipedrive14\"].json[\"Pessoa de contato\"][\"value\"] }}","updateFields":{"customProperties":{"property":[{"name":"161520b108dba339c1096c546ea17ee7560a9d14","value":"={{\n(() => {\n    try {\n        // Verifica se existe o campo personalizado\n        const campoPersonalizado = $item(\"0\").$node[\"campos personalizados meetime\"].json[\"data\"];\n        if (!campoPersonalizado) return $('Pipedrive21').item.json['tipoDeNegocio'] || '';\n        \n        // Busca o campo tipoDeNegocio\n        const tipoNegocioField = campoPersonalizado.find(item => item.field_key == 'tipoDeNegocio');\n        if (!tipoNegocioField || !tipoNegocioField.options) return $('Pipedrive21').item.json['tipoDeNegocio'] || '';\n        \n        // Pega o ID do customFields\n        const tipoNegocioId = $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"tipoDeNegocio\"];\n        if (!tipoNegocioId) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        // Busca a opção pelo ID\n        const opcao = tipoNegocioField.options.find(item => item.id == tipoNegocioId);\n        if (!opcao || !opcao.label) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        return opcao.label;\n        \n    } catch (error) {\n        return $('Pipedrive21').item.json['tipoDeNegocio'] || '';\n    }\n})()\n}}"},{"name":"a904218da6ca209deeee9417d3c712cf666c722e","value":"={{ $item(\"0\").$node[\"campos personalizados meetime4\"].json[\"data\"][\"0\"][\"lead_fit_score\"] }}"}]},"email":["={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"email\"] ||$item(\"0\").$node[\"Pipedrive21\"].json[\"E-mail\"][\"0\"][\"value\"] }}"],"name":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"name\"] || $item(\"0\").$node[\"Ler pessoa1\"].json[\"Nome\"] }}","phone":["={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"phones\"][\"1\"][\"phone\"]? $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"phones\"][\"0\"][\"phone\"] + \",\"+ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"phones\"][\"1\"][\"phone\"]: $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"phones\"][\"0\"][\"phone\"] ||''}}"]}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[304,1792],"id":"154ff257-15c1-4695-a01b-a6657e62997a","name":"Pipedrive","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"note","content":"=URL pública lead na Meetime: {{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"publicUrl\"] }}","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","person_id":"={{ $item(\"0\").$node[\"Pipedrive14\"].json[\"Pessoa de contato\"][\"value\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[512,1760],"id":"5cdcdb31-729a-4688-be43-eeb983041132","name":"Create a note2","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"note","content":"=Anotações deixadas por {{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"salesman\"][\"name\"] }} na Meetime: \n\n{{ \n(() => {\n  const text = $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"annotations\"];\n  \n  // Decodificar caracteres especiais\n  let cleaned = text\n    .replace(/&ndash;/g, '–')\n    .replace(/&iacute;/g, 'í')\n    .replace(/&ccedil;/g, 'ç')\n    .replace(/&atilde;/g, 'ã')\n    .replace(/&otilde;/g, 'õ')\n    .replace(/&aacute;/g, 'á')\n    .replace(/&eacute;/g, 'é')\n    .replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú')\n    .replace(/&ecirc;/g, 'ê')\n    .replace(/&ocirc;/g, 'ô')\n    .replace(/&amp;/g, '&')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&Eacute;/g, 'É');\n\n  // CONVERTER TODOS OS <br> PRIMEIRO - de forma mais abrangente\n  cleaned = cleaned\n    // Capturar todas as variações de <br>\n    .replace(/<br\\s*\\/?>\\s*/gi, '\\n')  // <br>, <br/>, <br />\n    .replace(/<br\\s*\\/?>/gi, '\\n')     // Fallback\n    // Depois processar outras tags\n    .replace(/<h[1-6][^>]*>/gi, '\\n')\n    .replace(/<\\/h[1-6]>/gi, '\\n')\n    .replace(/<p[^>]*>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<div[^>]*>/gi, '\\n')\n    .replace(/<\\/div>/gi, '\\n')\n    .replace(/<ul[^>]*>/gi, '\\n')\n    .replace(/<\\/ul>/gi, '\\n')\n    .replace(/<li[^>]*>/gi, '\\n• ')\n    .replace(/<\\/li>/gi, '\\n')\n    .replace(/<hr[^>]*>/gi, '\\n---\\n')\n    // Remover outras tags mas preservar conteúdo\n    .replace(/<[^>]*>/g, ' ')\n    // Preservar quebras mas limpar espaços extras\n    .replace(/[ ]+/g, ' ')\n    .replace(/ \\n/g, '\\n')\n    .replace(/\\n /g, '\\n')\n    .trim();\n\n  // Processar emojis e pontuação\n  cleaned = cleaned\n    .replace(/(🔎|🧩|🎯|💡|🤔|📅)/g, '\\n$1')\n    .replace(/\\s*\\.\\s*/g, '. ')\n    .replace(/\\s*,\\s*/g, ', ')\n    .replace(/\\s*:\\s*/g, ': ');\n\n  // Limpar formatação final\n  cleaned = cleaned\n    .replace(/\\n\\s*\\n/g, '\\n\\n')  // Duas quebras viram parágrafo\n    .replace(/\\n{3,}/g, '\\n\\n');  // Mais de 2 quebras viram 2\n\n  return cleaned;\n})()\n}}","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","person_id":"={{ $item(\"0\").$node[\"Pipedrive14\"].json[\"Pessoa de contato\"][\"value\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[768,1856],"id":"17047258-5658-489c-aa21-8135da3f06e2","name":"Create a note3","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"lost_reason":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lostReason\"][\"name\"] }}","status":"lost"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-224,1600],"id":"a9c00077-72fe-4421-8d99-72f700fe4182","name":"Pipedrive13","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"get","dealId":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-48,1840],"id":"50c60070-6993-4133-99b5-dd4b216b04a6","name":"Pipedrive14","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"person","operation":"get","personId":"={{ $item(\"0\").$node[\"Pipedrive14\"].json[\"Pessoa de contato\"][\"value\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[128,2000],"id":"9861ad9a-d2d6-40f2-b85c-83fac8652982","name":"Pipedrive21","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"queue":"Rilix_Lost","options":{"acknowledge":"executionFinishesSuccessfully","durable":true,"jsonParseBody":true,"parallelMessages":1}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-880,1408],"id":"72f1ffe7-a265-43c8-be43-ae749f57e4a4","name":"Webhook1","credentials":{"rabbitmq":{"id":"bPpAsMWUjdkbQzoB","name":"RabbitMQ account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-672,1408],"id":"6d5f1375-00c0-4611-b122-2f14170a2fac","name":"Wait","webhookId":"d033ee4b-250a-4796-b4d7-0f8390b24aac"}],"connections":{"campos personalizados meetime4":{"main":[[{"node":"Pipedrive14","type":"main","index":0}]]},"Pipedrive13":{"main":[[{"node":"campos personalizados meetime4","type":"main","index":0}]]},"Pipedrive14":{"main":[[{"node":"Pipedrive21","type":"main","index":0}]]},"Pipedrive21":{"main":[[{"node":"Pipedrive","type":"main","index":0}]]},"Pipedrive":{"main":[[{"node":"Create a note2","type":"main","index":0}]]},"Create a note2":{"main":[[{"node":"Create a note3","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Pipedrive13","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"wlpahpLREEEcju2c"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"fields":{"consumerTag":"amq.ctag-9nhBIhoPe08FM2yvk9PXqg","deliveryTag":763,"redelivered":true,"exchange":"","routingKey":"Rilix_Lost"},"properties":{"headers":{"x-delivery-count":6}},"content":{"headers":{"host":"webhook2.automatisales.com.br","user-agent":"Meetime","content-length":"3223","accept":"*/*","content-type":"application/json","x-forwarded-for":"34.74.246.245","x-forwarded-host":"webhook2.automatisales.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2c1c4eafa7e2","x-meetime-delivery":"0b1d6073-655c-4207-878d-8ab602522da0","x-meetime-signature":"8ox3MI4_imxJ0TYVI4NUPHUSM9Qxs-_RbxRqZf0gEY4=","x-real-ip":"34.74.246.245","accept-encoding":"gzip"},"params":{},"query":{},"body":{"event":"LEAD.LOST","prospection":{"id":34670810,"lead":{"id":27532319,"email":"teste@teste.com","firstName":"teste","name":"teste teste","company":null,"phones":[{"label":null,"phone":"+5545999014393","lastUsage":null},{"label":null,"phone":"+5599999999999","lastUsage":null}],"position":null,"site":null,"state":"PR","city":null,"twitter":null,"facebook":null,"linkedIn":null,"annotations":"teste","customFields":{"anotacoesIniciais":"Data: 10/11/2025, 10:44:33 Cliente já conversou com a gente, verificar histórico do cliente: https://rilixllc.pipedrive.com/person/21428.","termo":"{{ad.name}}","pagoOrganico":"pago","conjunto":"geral","idDealPipe":"30060","houveContato":"c4c8f1aa-1a05-419e-bcff-874bdb0c2fe7","canalDeOrigem":"meta_cont","content":"LP","campanha":"{{campaign.name}}"},"publicUrl":"https://meetime.com.br/dashboard/public/leads/Wr-nI_2rglqUVGK5VQ8HfD2Ms355lb3WHFK-B-6dv4M","externalReference":null},"cadence":{"id":56461,"name":"Padrão"},"originType":"EXTERNAL_SOURCE","inbound":true,"startDate":"2025-11-10T13:44:39.176Z","endDate":"2025-11-11T12:30:34.881Z","status":"LOST","salesman":{"id":47952,"name":"Rany Assis","email":"rany.assis@rilix.com.br"},"salesmanTeam":{"id":2124,"name":"Inbound"},"activities":[{"id":373563710,"status":"IGNORED","scope":"CADENCE","goalDate":"2025-11-10T13:44:39.176Z","executionDate":"2025-11-10T13:45:15.764Z","type":"SEARCH","activityTemplateId":147353,"executedBy":{"id":47952,"name":"Rany Assis","email":"rany.assis@rilix.com.br"},"executedByTeam":{"id":2124,"name":"Inbound"}},{"id":373563711,"status":"IGNORED","scope":"CADENCE","goalDate":"2025-11-10T13:44:39.176Z","executionDate":"2025-11-10T13:50:21.822Z","type":"E_MAIL","activityTemplateId":147356,"executedBy":{"id":47952,"name":"Rany Assis","email":"rany.assis@rilix.com.br"},"executedByTeam":{"id":2124,"name":"Inbound"}},{"id":373563714,"status":"IGNORED","scope":"CADENCE","goalDate":"2025-11-10T13:44:39.176Z","executionDate":"2025-11-10T13:52:27.689Z","type":"CALL","activityTemplateId":147243,"executedBy":{"id":47952,"name":"Rany Assis","email":"rany.assis@rilix.com.br"},"executedByTeam":{"id":2124,"name":"Inbound"}},{"id":373563721,"status":"IGNORED","scope":"CADENCE","goalDate":"2025-11-10T13:44:39.176Z","executionDate":"2025-11-10T13:52:30.706Z","type":"SOCIAL_POINT","activityTemplateId":147270,"executedBy":{"id":47952,"name":"Rany Assis","email":"rany.assis@rilix.com.br"},"executedByTeam":{"id":2124,"name":"Inbound"}},{"id":373563715,"status":"IGNORED","scope":"CADENCE","goalDate":"2025-11-10T13:44:39.176Z","executionDate":"2025-11-10T13:52:35.226Z","type":"CALL","activityTemplateId":147243,"executedBy":{"id":47952,"name":"Rany Assis","email":"rany.assis@rilix.com.br"},"executedByTeam":{"id":2124,"name":"Inbound"}},{"id":373563716,"status":"IGNORED","scope":"CADENCE","goalDate":"2025-11-10T13:44:39.176Z","executionDate":"2025-11-10T13:52:41.360Z","type":"CALL","activityTemplateId":147243,"executedBy":{"id":47952,"name":"Rany Assis","email":"rany.assis@rilix.com.br"},"executedByTeam":{"id":2124,"name":"Inbound"}}],"extraActivities":[],"lostReason":{"id":52340,"name":"Outro"},"origin":{"campaign":null,"source":null,"conversion":null,"channel":"UNKNOWN"},"meetings":[]}},"webhookUrl":"https://webhook2.automatisales.com.br/webhook/RilixAtividadeseStatusMeetime","executionMode":"production"}}}]},"versionId":"3e94c03f-6399-49ca-a1f6-a58e75f126b2","triggerCount":1,"shared":[{"updatedAt":"2025-11-10T20:52:28.855Z","createdAt":"2025-11-10T20:52:28.855Z","role":"workflow:owner","workflowId":"F3v4MFCcICAiMvKe","projectId":"5Z2b5yWkWWKq8wM8"}],"tags":[]}