[rilix]---novo-negócio-jYG9vy20XrTjTt6T.json
{"updatedAt":"2025-11-19T18:57:22.076Z","createdAt":"2025-10-29T21:25:52.529Z","id":"jYG9vy20XrTjTt6T","name":"[Rilix] - Novo negócio","active":true,"isArchived":false,"nodes":[{"parameters":{"content":"Adicionar lead:\nbody:\n{\n  \"subscription_url\": \"https://webhook.automatisales.com.br/webhook/b8e2ca3b-92e2-4911-aa23-deaf2e8f3513\",\n  \"event_action\": \"added\",\n  \"event_object\": \"deal\"\n}\n\nhttps://developers.pipedrive.com/docs/api/v1/Webhooks#addWebhook","height":280,"width":440},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"544551e3-5568-4580-91e2-2d0580744ab8","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79a06377-b8b5-4ecf-8fe3-ee4c8b98088c","leftValue":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"data\"][\"stage_id\"] }}","rightValue":32,"operator":{"type":"number","operation":"equals"}},{"id":"bc805b3a-ea06-4183-89d9-7ea95e5d725b","leftValue":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"data\"][\"stage_id\"] }}","rightValue":48,"operator":{"type":"number","operation":"equals"}},{"id":"00d327dd-aff3-450a-9730-d603686ac383","leftValue":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"data\"][\"stage_id\"] }}","rightValue":58,"operator":{"type":"number","operation":"equals"}},{"id":"5b734ced-c708-43f3-a004-67c5e8f2a1ac","leftValue":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"data\"][\"stage_id\"] }}","rightValue":63,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-352,528],"id":"a9bdda2d-b6ee-493c-b697-ec48a4214ce9","name":"Filter"},{"parameters":{"operation":"get","dealId":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"meta\"][\"entity_id\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[208,544],"id":"b3c5aafa-096b-454d-8c6b-1b3935b93fab","name":"Get Negócio","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"person","operation":"get","personId":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Pessoa de contato\"][\"value\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1120,528],"id":"f371ac3a-6e0e-442e-80b7-2348122199c3","name":"Get Pessoa","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"method":"POST","url":"={{\n(() => {\n    const cadencia = $item(\"0\").$node[\"Fields Deal\"].json[\"cadência\"];\n    \n    const urlMap = {\n        'vending-machine': 'https://api.meetime.com.br/v2/prospections/cadence/57696/lead?token=ANtLf6Pd9o9LeoWxSgNBaVArACy-auOChs3LZbBPD3-M',\n        'buffet-infantil': 'https://api.meetime.com.br/v2/prospections/cadence/57697/lead?token=bVG6S1EvHDrXq-udz1aUbAEmky1bmWYdpMYonU_j0pY',\n        'arcade': 'https://api.meetime.com.br/v2/prospections/cadence/57695/lead?token=NFvumvV2peJoyBoa5JS5Adsen8GktlPB914jx36QkF8',\n        'eventos': 'https://api.meetime.com.br/v2/prospections/cadence/57694/lead?token=IoQXw4ovE_4CSh59XBRmdEC4ZLZtNMXQzrrpOcYSc_M',\n        'estabelecimentos': 'https://api.meetime.com.br/v2/prospections/cadence/57693/lead?token=OHRqMdIrTjO2xZMg-8CVRbKFAbx4bMnzzeHkzwYxmCk',\n        'ebook-vm': 'https://api.meetime.com.br/v2/prospections/cadence/57684/lead?token=AK_yac8RThR9sOkDtKXWPJSvdxwgY1S6MGJf7moS5lZM',\n        'ebook-bi': 'https://api.meetime.com.br/v2/prospections/cadence/57687/lead?token=AtVHAS9SIYSxEM95biUAMXOgVoivM-ILGVfyWqs5RPQ',\n        'ebook-ar': 'https://api.meetime.com.br/v2/prospections/cadence/57688/lead?token=NxAPaYKwkMdaJBB8DdCGZ1If9rUuq649hy60Xhzrfzc',\n        'ebook-ev': 'https://api.meetime.com.br/v2/prospections/cadence/57689/lead?token=QIE-I2od68nv1RTvauSeCUhQraXkYNP97kD_YV3_5C4',\n        'ebook-es': 'https://api.meetime.com.br/v2/prospections/cadence/57691/lead?token=Vn6qAuq5qh1WNFoINMAgDGZu7sEPaUKigq83hCesEWI',\n        'out-arcade': 'https://api.meetime.com.br/v2/prospections/cadence/57692/lead?token=Q-NdXga5wsu7JfN0sUtQJOu99hvVLN2OwNd4So5K-sA',\n        'out-buffet': 'https://api.meetime.com.br/v2/prospections/cadence/56484/lead?token=AN1gtrmL4o-N1Yyr47q940m7iKFxBBtJT57veRTO-ZN_'\n    };\n    \n    // Fallback para quando estiver nulo ou não encontrado\n    const fallback = 'https://api.meetime.com.br/v2/prospections/cadence/56461/lead?token=LwDJOhLokK-wuvCa-TV0nNr81A5lTCsu2BYRYAq3iGg';\n    \n    // Verifica se a cadência existe no mapa, se não usa o fallback\n    return urlMap[cadencia] || fallback;\n})()\n}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={       \n  \"name\": \"{{ $item(\"0\").$node[\"Fields Person\"].json[\"Nome Completo\"] }}\",\n  \"email\": \"{{ $('Fields Person').item.json.Email.replace('clenario_p@hotmail.con','clenario_p@hotmail.com') }}\",\n  \"ownerEmail\": \"{{ $item(\"0\").$node[\"campos personalizados meetime4\"].json[\"data\"].find(item =>item.name ==$('Fields Person').item.json.SDR).email||'' }}\",\n  \"city\": \"{{ $('Fields Person').item.json.Cidade }}\",\n  \"company\": \"{{ $json.Nome ?? $json.company ?? $json.Company ?? '' }}\",\n  \"facebook\": \"{{ $json.Facebook ?? $json.facebook ?? '' }}\",\n  \"linkedId\": \"{{ $json['Perfil do LinkedIn'] ?? $json.linkedin ?? $json.LinkedIn ?? '' }}\",\n  \"position\": \"{{ $('Fields Person').item.json.Cargo }}\",\n  \"site\": \"{{ $json.Site ?? $json.site ?? $json.website ?? $json.Website ?? '' }}\",\n  \"state\": \"{{ $('Fields Person').item.json.Estado }}\",\n    \"phones\": [\n        {\n            \"phone\": \"{{ $('Fields Person').item.json.Telefone.trim() }}\"\n        }\n    ],\n  \"customFields\": {\n  \"canalDeOrigem\": \"{{ $('Fields Deal').item.json['Canal de Origem'] }}\",\n  \"campanha\": \"{{ $('Fields Deal').item.json.Campanha }}\",\n  \"termo\": \"{{ $('Fields Deal').item.json.Termo }}\",\n  \"instagram\": \"{{ $json.Instagram ?? $json.instagram ?? $json.InstagramProfile ?? '' }}\",{{\n(() => {\n    const Jornada = $('Fields Deal').item.json['Jornada do cliente'];\n    \n    if (!Jornada || Jornada === '' || Jornada === 'null') {\n        return '';\n    }\n    \n    const campo = $('campos personalizados meetime1').item.json.data\n        .find(item => item.field_key == 'jornadaDoCliente');\n    \n    if (!campo || !campo.options) return '';\n    \n    const opcao = campo.options.find(item => item.label == Jornada);\n    \n    return opcao ? `  \"jornadaDoCliente\": \"${opcao.id}\",` : '';\n})()\n}}{{\n(() => {\n    const tipoNegocio = $('Fields Person').item.json['Tipo de negócio'];\n    \n    if (!tipoNegocio || tipoNegocio === '' || tipoNegocio === 'null') {\n        return '';\n    }\n    \n    const campo = $('campos personalizados meetime1').item.json.data\n        .find(item => item.field_key == 'tipoDeNegocio');\n    \n    if (!campo || !campo.options) return '';\n    \n    const opcao = campo.options.find(item => item.label == tipoNegocio);\n    \n    return opcao ? `\"tipoDeNegocio\": \"${opcao.id}\",` : '';\n})()\n}}\n  \"idDealPipe\": \"{{ $('Fields Deal').item.json['ID Negócio'] }}\",\n  \"anotacoesIniciais\": {{\n  (function() {\n    const value = $('Fields Deal').item.json['Anotações iniciais'];\n    if (!value || value === 'N/A' || value === 'undefined' || value.includes('undefined')) {\n      return `\"\"`;\n    }\n    return JSON.stringify(value);\n  })()\n}},\n  \"conjunto\": \"{{ $('Fields Deal').item.json['Conjunto '] }}\",\n  \"pagoOrganico\": \"{{ $('Fields Deal').item.json['ID de Origem'] }}\",\n  \"content\": \"{{ $('Fields Deal').item.json.Content }}\"\n},\n    \"startImmediately\": {{ $item(\"0\").$node[\"Fields Deal\"].json[\"cadência\"] =='out-buffet'? false: $item(\"0\").$node[\"Fields Deal\"].json[\"cadência\"] =='out-arcade'? false:true}}\n}\n","options":{}},"id":"f00a11fa-2c1b-450b-9346-c416d0a66ed9","name":"Produção1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2832,624],"retryOnFail":true,"alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Meetime - Rilix"}},"onError":"continueErrorOutput"},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"e314fc6a-bf74-40d3-9473-1ed76263c002","name":"campos personalizados meetime","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,-480],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"ydtbjXWWkeniXwTF","name":"Conta teste"}}},{"parameters":{"errorMessage":"deu merda"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[3536,896],"id":"89ad10c7-fdac-473c-be21-f1c37d88b6bc","name":"Stop and Error"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b17c829-ddaa-4137-9de2-8445e10972b2","leftValue":"={{ $item(\"0\").$node[\"Produção1\"].json[\"error\"][\"message\"] }}","rightValue":"400 - \"{\\\"errors\\\":[{\\\"type\\\":\\\"thereIsAlreadyAnActiveProspectionWithThisLead\\\",\\\"description\\\":\\\"There is already an active prospection with lead","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3056,768],"id":"390a4274-3756-4e11-9272-8cf5b6db83ee","name":"If2"},{"parameters":{"method":"POST","url":"https://api.pipedrive.com/v1/webhooks","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"subscription_url\": \"https://webhook2.automatisales.com.br/webhook/CrialDealRilixNaMeetime\",\n  \"event_action\": \"create\",\n  \"event_object\": \"deal\",\n  \"name\": \"Webhook Meetime\"\n}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,-368],"id":"eb50aa60-5bb5-405f-84c3-3d08546165c3","name":"add webhook","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"content":"\n        \"id\": 7,\n        \"name\": \"SDR\",\n\n\n{\n        \"id\": 32,\n        \"order_nr\": 1,\n        \"name\": \"Sem Interação\",\n        \"active_flag\": true,\n        \"deal_probability\": 100,\n        \"pipeline_id\": 7,\n\n      },\n      {\n        \"id\": 10,\n        \"name\": \"BDR\",\n        \"url_title\": \"BDR1\",42\",\n\n\n   \"id\": 48,\n        \"order_nr\": 1,\n        \"name\": \"Leads Mapeados\",\n        \"active_flag\": true,\n        \"deal_probability\": 100,\n        \"pipeline_id\": 10,\n      \n      },\n\n      {\n        \"id\": 12,\n        \"name\": \"Ebooks\",\n        \"url_title\": \"Ebooks\",\n\n\ndata\": [\n      {\n        \"id\": 58,\n        \"order_nr\": 1,\n        \"name\": \"Sem Interação\",\n        \"active_flag\": true,\n        \"deal_probability\": 100,\n        \"pipeline_id\": 12,\n  ","height":624,"width":1024},"type":"n8n-nodes-base.stickyNote","position":[1456,-432],"typeVersion":1,"id":"707b55d3-c409-4eac-95c7-564d12317034","name":"Sticky Note1"},{"parameters":{"url":"https://api.pipedrive.com/v1/stages","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"pipeline_id","value":"7"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,-320],"id":"8068ecc8-ce2b-4ca7-b39b-748f44704daa","name":"consulta geral","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"organization","operation":"get","organizationId":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Organização\"][\"value\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1728,336],"id":"ab98faee-7a4f-4bf9-bc4f-41cad34f7a29","name":"Get Organization","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"note","operation":"getAll","returnAll":true,"additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"ID\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[448,528],"id":"ea6b4104-3194-4b85-88a4-bf62da95c95d","name":"Ler notes","alwaysOutputData":true,"credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ee190944-2290-4b6c-a5b8-89152221c8f7","leftValue":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Organização\"][\"value\"] }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1552,528],"id":"d21d9c09-d742-4d7f-80da-7333d862cb86","name":"If1"},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"e3af39aa-e999-4121-a09f-fd9119dd836d","name":"campos personalizados meetime1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,624],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Meetime - Rilix"}}},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"0877fb34-7fa5-4c88-af58-49c302688ad8","name":"campos personalizados meetime2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,800],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"ydtbjXWWkeniXwTF","name":"Conta teste"}}},{"parameters":{"url":"https://api.pipedrive.com/v1/users","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,864],"id":"63418885-f510-4aea-9721-38cff3e46a36","name":"Users pipedrive","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"assignments":{"assignments":[{"id":"166a38e8-bc87-495b-b94f-fb0852246273","name":"ID Negócio","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"ID\"] }}","type":"string"},{"id":"40f8b9b0-196d-4849-be10-3295fc3a942c","name":"Anotações iniciais","value":"={{\n  $items(\"Ler notes\").map((item, index) => {\n    if (index === 0) {\n      // Primeira anotação - com data/hora\n      return \"Data: \" + \n             (item.json.add_time ? \n               new Date(new Date(item.json.add_time).getTime() - 3 * 60 * 60 * 1000).toLocaleString('pt-BR') \n               : \"N/A\"\n             ) + \n             \"\\n\" + \n             item.json.content;\n    } else {\n      // Demais anotações - apenas o prefixo\n      return \"Outra anotação: \" + item.json.content;\n    }\n  }).join(\"\\n\\n\")\n}}","type":"string"},{"id":"5580e946-9c19-4bf5-a37e-325feafd010d","name":"ICP","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Cadência\"]}}","type":"string"},{"id":"9b25aa32-f257-4ece-9092-45acf3baf586","name":"Jornada do cliente","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Jornada Do Cliente\"][0] ||''}}","type":"string"},{"id":"e04bc680-3f37-487f-a806-5be976a654f9","name":"ID de Origem","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"ID de origem\"] }}","type":"string"},{"id":"18b4f0d6-71d2-4595-8b76-73816b40ef5e","name":"Canal de Origem","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Canal de origem\"] }}","type":"string"},{"id":"cd8c6f6d-1ecb-4787-96df-63838db08b2d","name":"Termo","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"ID do canal de origem\"] }}","type":"string"},{"id":"78116ece-36d0-4406-b7ea-e7326e98ebd5","name":"Campanha","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Campanha\"] }}","type":"string"},{"id":"5f8e5ba7-f1a4-40df-8115-a81fa706df2f","name":"Content","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Content\"] }}","type":"string"},{"id":"28803970-098a-42b7-bd87-65dcd409124b","name":"Conjunto ","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Conjunto\"] }}","type":"string"},{"id":"efaeb765-1485-4d0f-af9a-a5b2a7e897d4","name":"cadência","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Cadência\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,528],"id":"c38c7050-4f81-419e-bfb5-d28984d5095d","name":"Fields Deal"},{"parameters":{"assignments":{"assignments":[{"id":"70a747e4-95a3-4db3-9929-dca3560bbced","name":"Nome Completo","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"Nome\"] }}","type":"string"},{"id":"d246ae5f-935e-467d-abcd-74617563459f","name":"Email","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"E-mail\"][\"0\"][\"value\"] }}","type":"string"},{"id":"0ae1ac18-f645-4215-ae2f-bc30446c2dae","name":"Telefone","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"Telefone\"][\"0\"][\"value\"] }}","type":"string"},{"id":"1f4caf5a-f585-473d-80f9-5ab5a58bb74a","name":"Estado","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"Estado\"] }}","type":"string"},{"id":"e4417c87-e8d0-416d-847f-2dc845ef0916","name":"Cidade","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"Cidade\"] }}","type":"string"},{"id":"6eefe702-9fe9-4913-9c83-4c6fcb811c37","name":"Tipo de negócio","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"Tipo de negócio\"][0] }}","type":"string"},{"id":"4c8d34ea-ed92-4824-a076-6758c543ea8c","name":"Cargo","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"Cargo\"] }}","type":"string"},{"id":"0366eeb6-3355-4f8d-9b1a-18af87f45eb1","name":"SDR","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"SDR\"][\"0\"] }}","type":"string"},{"id":"92cbb085-6ef8-4a18-b773-fd7561fe7296","name":"Fit Score","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"Fit Score\"] }}","type":"string"},{"id":"b428f65c-a8e9-46a8-a9f4-20c35f7736af","name":"User Agent","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"User Agent\"] }}","type":"string"},{"id":"45a2d159-1ed1-44ee-97f8-ce12d69c3172","name":"User IP","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"User IP\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1344,528],"id":"ceff76cc-91c0-4409-8854-76ba7bfcb3ca","name":"Fields Person"},{"parameters":{"assignments":{"assignments":[{"id":"c3dee0e6-9e16-4261-931d-8d11ce5cadab","name":"Perfil do LinkedIn","value":"={{ $item(\"0\").$node[\"Get Organization\"].json[\"Perfil do LinkedIn\"] }}","type":"string"},{"id":"119fab6d-116f-45fc-af01-057512a43296","name":"Facebook","value":"={{ $item(\"0\").$node[\"Get Organization\"].json[\"Facebook\"] }}","type":"string"},{"id":"be4ec826-8ca6-496a-96a7-8eae64936f6d","name":"Instagram","value":"={{ $item(\"0\").$node[\"Get Organization\"].json[\"Instagram\"] }}","type":"string"},{"id":"96390e96-b69c-4e81-acb7-c3135689faa4","name":"Site","value":"={{ $item(\"0\").$node[\"Get Organization\"].json[\"Site\"] }}","type":"string"},{"id":"737c09b4-d504-4e6a-ab91-c972dbff77de","name":"Nome","value":"={{ $item(\"0\").$node[\"Get Organization\"].json[\"Nome\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1936,336],"id":"ca0fe404-84ff-4a23-b591-0ad79ba02fb4","name":"Fields Organization"},{"parameters":{"url":"https://api.meetime.com.br/v2/cadences","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"762e83ab-82f7-4f3c-a1b9-19051adcda51","name":"campos personalizados meetime3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2224,288],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Meetime - Rilix"}}},{"parameters":{},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[832,528],"id":"670e7aa8-db74-4c6d-b305-1925072e6553","name":"Limit"},{"parameters":{"url":"https://api.meetime.com.br/v2/users","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"c74bfc21-2318-4585-8e22-3ac07f7ca5d0","name":"campos personalizados meetime4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2144,656],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Meetime - Rilix"}}},{"parameters":{"method":"POST","url":"=https://api.pipedrive.com/api/v2/activities","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \n    \"subject\": \"{{ $item(\"0\").$node[\"Get Negócio\"].json[\"Título\"] }}\",\n    \"due_date\":\"{{ $now.format('yyyy-LL-dd') }}\",\n    \"due_time\":\"{{ $now.plus(3,'hours').format('HH:mm') }}\",\n    \"done\":true,\n    \"type\":\"converteu_novamente\",\n    \"participants\":[\n{\n        \"person_id\":{{ $('Get Pessoa').item.json.ID }},\n        \"primary\":true\n}\n]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3536,688],"id":"39b8a3ec-dcbf-4b25-9e67-9e75daffc238","name":"Cria task","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"577b51fa-8650-42a3-8d40-8d5f6281f808","leftValue":"={{ $('Fields Person').item.json.Telefone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2656,896],"id":"7d75dc9d-cda1-436b-8eab-028837988df0","name":"If"},{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"If\"].json[\"data\"].find(item=> item.name ==  $item(\"0\").$node[\"Fields Deal\"].json[\"cadência\"]).api_endpoint }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={       \n  \"name\": \"{{ $item(\"0\").$node[\"Fields Person\"].json[\"Nome Completo\"] }}\",\n  \"email\": \"{{ $('Fields Person').item.json.Email }}\",\n  \"ownerEmail\": \"{{ $item(\"0\").$node[\"campos personalizados meetime4\"].json[\"data\"].find(item =>item.name ==$('Fields Person').item.json.SDR).email||'' }}\",\n  \"city\": \"{{ $('Fields Person').item.json.Cidade }}\",\n  \"company\": \"{{ $json.Nome ?? $json.company ?? $json.Company ?? '' }}\",\n  \"facebook\": \"{{ $json.Facebook ?? $json.facebook ?? '' }}\",\n  \"linkedId\": \"{{ $json['Perfil do LinkedIn'] ?? $json.linkedin ?? $json.LinkedIn ?? '' }}\",\n  \"position\": \"{{ $('Fields Person').item.json.Cargo }}\",\n  \"site\": \"{{ $json.Site ?? $json.site ?? $json.website ?? $json.Website ?? '' }}\",\n  \"state\": \"{{ $('Fields Person').item.json.Estado }}\",\n  \"customFields\": {\n  \"canalDeOrigem\": \"{{ $('Fields Deal').item.json['Canal de Origem'] }}\",\n  \"campanha\": \"{{ $('Fields Deal').item.json.Campanha }}\",\n  \"termo\": \"{{ $('Fields Deal').item.json.Termo }}\",\n  \"instagram\": \"{{ $json.Instagram ?? $json.instagram ?? $json.InstagramProfile ?? '' }}\",{{\n(() => {\n    const Jornada = $('Fields Deal').item.json['Jornada do cliente'];\n    \n    if (!Jornada || Jornada === '' || Jornada === 'null') {\n        return '';\n    }\n    \n    const campo = $('campos personalizados meetime1').item.json.data\n        .find(item => item.field_key == 'jornadaDoCliente');\n    \n    if (!campo || !campo.options) return '';\n    \n    const opcao = campo.options.find(item => item.label == Jornada);\n    \n    return opcao ? `  \"jornadaDoCliente\": \"${opcao.id}\",` : '';\n})()\n}}{{\n(() => {\n    const tipoNegocio = $('Fields Person').item.json['Tipo de negócio'];\n    \n    if (!tipoNegocio || tipoNegocio === '' || tipoNegocio === 'null') {\n        return '';\n    }\n    \n    const campo = $('campos personalizados meetime1').item.json.data\n        .find(item => item.field_key == 'tipoDeNegocio');\n    \n    if (!campo || !campo.options) return '';\n    \n    const opcao = campo.options.find(item => item.label == tipoNegocio);\n    \n    return opcao ? `\"tipoDeNegocio\": \"${opcao.id}\",` : '';\n})()\n}}\n  \"idDealPipe\": \"{{ $('Fields Deal').item.json['ID Negócio'] }}\",\n  \"anotacoesIniciais\": {{\n  (function() {\n    const value = $('Fields Deal').item.json['Anotações iniciais'];\n    if (!value || value === 'N/A' || value === 'undefined' || value.includes('undefined')) {\n      return `\"\"`;\n    }\n    return JSON.stringify(value);\n  })()\n}},\n  \"conjunto\": \"{{ $('Fields Deal').item.json['Conjunto '] }}\",\n  \"pagoOrganico\": \"{{ $('Fields Deal').item.json['ID de Origem'] }}\",\n  \"content\": \"{{ $('Fields Deal').item.json.Content }}\"\n},\n    \"startImmediately\": {{ $item(\"0\").$node[\"Fields Deal\"].json[\"cadência\"] =='out-buffet'? false: $item(\"0\").$node[\"Fields Deal\"].json[\"cadência\"] =='out-arcade'? false:true}}\n}\n","options":{}},"id":"1b6e3f2e-081e-4fcf-9e54-147cd2f1286f","name":"Produção","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2816,1088],"retryOnFail":true,"alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Meetime - Rilix"}},"onError":"continueErrorOutput"},{"parameters":{"errorMessage":"deu merda"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[3488,1360],"id":"98487c6d-f778-435c-95f6-0568c2e5a0d2","name":"Stop and Error1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b17c829-ddaa-4137-9de2-8445e10972b2","leftValue":"={{ $item(\"0\").$node[\"Produção\"].json[\"error\"][\"message\"] }}","rightValue":"400 - \"{\\\"errors\\\":[{\\\"type\\\":\\\"thereIsAlreadyAnActiveProspectionWithThisLead\\\",\\\"description\\\":\\\"There is already an active prospection with lead","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3008,1232],"id":"3347e7c3-34bf-4411-b17e-ecda968a4bb4","name":"If3"},{"parameters":{"method":"POST","url":"=https://api.pipedrive.com/api/v2/activities","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \n    \"subject\": \"{{ $item(\"0\").$node[\"Get Negócio\"].json[\"Título\"] }}\",\n    \"due_date\":\"{{ $now.format('yyyy-LL-dd') }}\",\n    \"due_time\":\"{{ $now.plus(3,'hours').format('HH:mm') }}\",\n    \"done\":true,\n    \"type\":\"converteu_novamente\",\n    \"participants\":[\n{\n        \"person_id\":{{ $('Get Pessoa').item.json.ID }},\n        \"primary\":true\n}\n]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3488,1152],"id":"c01d5de3-6a7a-4d76-895b-3668a0cd7085","name":"Cria task1","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"queue":"Rilix","options":{"acknowledge":"executionFinishesSuccessfully","durable":true,"jsonParseBody":true,"parallelMessages":1}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-1024,512],"id":"d814a0ee-0159-4d64-9b61-98ffdeff2d35","name":"Webhook1","credentials":{"rabbitmq":{"id":"bPpAsMWUjdkbQzoB","name":"RabbitMQ account"}}},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-96,544],"id":"e3761ba6-6b2c-4d26-81dd-5e521826cbdb","name":"Wait1","webhookId":"93c34974-31c5-4f2a-86d7-0eda3a3871af"},{"parameters":{},"type":"n8n-nodes-base.stickyNote","position":[2768,832],"typeVersion":1,"id":"6088e41b-ed92-4208-965f-cb2347455292","name":"Sticky Note2"},{"parameters":{"content":"{{ $item(\"0\").$node[\"If\"].json[\"data\"].find(item=> item.name ==  $item(\"0\").$node[\"Fields Deal\"].json[\"cadência\"]).api_endpoint }}","height":256,"width":560},"type":"n8n-nodes-base.stickyNote","position":[272,1024],"typeVersion":1,"id":"8b2b4308-1d54-4ec5-bf37-8faf555e079d","name":"Sticky Note3"},{"parameters":{"url":"https://api.pipedrive.com/v1/stages","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"pipeline_id","value":"13"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[992,-80],"id":"23d934bd-e2ac-4052-870d-ffb6a4c0548e","name":"consulta geral1","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"577b51fa-8650-42a3-8d40-8d5f6281f808","leftValue":"={{ $('Fields Person').item.json.Telefone }}","rightValue":",","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2384,1024],"id":"21d825ba-b1b3-4307-bdf1-0e82c7d3cb94","name":"If4"},{"parameters":{"method":"POST","url":"={{\n(() => {\n    const cadencia = $item(\"0\").$node[\"Fields Deal\"].json[\"cadência\"];\n    \n    const urlMap = {\n        'vending-machine': 'https://api.meetime.com.br/v2/prospections/cadence/57696/lead?token=ANtLf6Pd9o9LeoWxSgNBaVArACy-auOChs3LZbBPD3-M',\n        'buffet-infantil': 'https://api.meetime.com.br/v2/prospections/cadence/57697/lead?token=bVG6S1EvHDrXq-udz1aUbAEmky1bmWYdpMYonU_j0pY',\n        'arcade': 'https://api.meetime.com.br/v2/prospections/cadence/57695/lead?token=NFvumvV2peJoyBoa5JS5Adsen8GktlPB914jx36QkF8',\n        'eventos': 'https://api.meetime.com.br/v2/prospections/cadence/57694/lead?token=IoQXw4ovE_4CSh59XBRmdEC4ZLZtNMXQzrrpOcYSc_M',\n        'estabelecimentos': 'https://api.meetime.com.br/v2/prospections/cadence/57693/lead?token=OHRqMdIrTjO2xZMg-8CVRbKFAbx4bMnzzeHkzwYxmCk',\n        'ebook-vm': 'https://api.meetime.com.br/v2/prospections/cadence/57684/lead?token=AK_yac8RThR9sOkDtKXWPJSvdxwgY1S6MGJf7moS5lZM',\n        'ebook-bi': 'https://api.meetime.com.br/v2/prospections/cadence/57687/lead?token=AtVHAS9SIYSxEM95biUAMXOgVoivM-ILGVfyWqs5RPQ',\n        'ebook-ar': 'https://api.meetime.com.br/v2/prospections/cadence/57688/lead?token=NxAPaYKwkMdaJBB8DdCGZ1If9rUuq649hy60Xhzrfzc',\n        'ebook-ev': 'https://api.meetime.com.br/v2/prospections/cadence/57689/lead?token=QIE-I2od68nv1RTvauSeCUhQraXkYNP97kD_YV3_5C4',\n        'ebook-es': 'https://api.meetime.com.br/v2/prospections/cadence/57691/lead?token=Vn6qAuq5qh1WNFoINMAgDGZu7sEPaUKigq83hCesEWI',\n        'out-arcade': 'https://api.meetime.com.br/v2/prospections/cadence/57692/lead?token=Q-NdXga5wsu7JfN0sUtQJOu99hvVLN2OwNd4So5K-sA',\n        'out-buffet': 'https://api.meetime.com.br/v2/prospections/cadence/56484/lead?token=AN1gtrmL4o-N1Yyr47q940m7iKFxBBtJT57veRTO-ZN_'\n    };\n    \n    // Fallback para quando estiver nulo ou não encontrado\n    const fallback = 'https://api.meetime.com.br/v2/prospections/cadence/56461/lead?token=LwDJOhLokK-wuvCa-TV0nNr81A5lTCsu2BYRYAq3iGg';\n    \n    // Verifica se a cadência existe no mapa, se não usa o fallback\n    return urlMap[cadencia] || fallback;\n})()\n}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={       \n  \"name\": \"{{ $item(\"0\").$node[\"Fields Person\"].json[\"Nome Completo\"] }}\",\n  \"email\": \"{{ $('Fields Person').item.json.Email }}\",\n  \"ownerEmail\": \"{{ $item(\"0\").$node[\"campos personalizados meetime4\"].json[\"data\"].find(item =>item.name ==$('Fields Person').item.json.SDR).email||'' }}\",\n  \"city\": \"{{ $('Fields Person').item.json.Cidade }}\",\n  \"company\": \"{{ $json.Nome ?? $json.company ?? $json.Company ?? '' }}\",\n  \"facebook\": \"{{ $json.Facebook ?? $json.facebook ?? '' }}\",\n  \"linkedId\": \"{{ $json['Perfil do LinkedIn'] ?? $json.linkedin ?? $json.LinkedIn ?? '' }}\",\n  \"position\": \"{{ $('Fields Person').item.json.Cargo }}\",\n  \"site\": \"{{ $json.Site ?? $json.site ?? $json.website ?? $json.Website ?? '' }}\",\n  \"state\": \"{{ $('Fields Person').item.json.Estado }}\",\n    \"phones\": [\n        {\n            \"phone\": \"{{ $('Fields Person').item.json.Telefone.split(\",\",).first() }}\"\n        },\n        {\n            \"phone\": \"{{ $('Fields Person').item.json.Telefone.split(\",\",).last() }}\"\n        }\n    ],\n  \"customFields\": {\n  \"canalDeOrigem\": \"{{ $('Fields Deal').item.json['Canal de Origem'] }}\",\n  \"campanha\": \"{{ $('Fields Deal').item.json.Campanha }}\",\n  \"termo\": \"{{ $('Fields Deal').item.json.Termo }}\",\n  \"instagram\": \"{{ $json.Instagram ?? $json.instagram ?? $json.InstagramProfile ?? '' }}\",{{\n(() => {\n    const Jornada = $('Fields Deal').item.json['Jornada do cliente'];\n    \n    if (!Jornada || Jornada === '' || Jornada === 'null') {\n        return '';\n    }\n    \n    const campo = $('campos personalizados meetime1').item.json.data\n        .find(item => item.field_key == 'jornadaDoCliente');\n    \n    if (!campo || !campo.options) return '';\n    \n    const opcao = campo.options.find(item => item.label == Jornada);\n    \n    return opcao ? `  \"jornadaDoCliente\": \"${opcao.id}\",` : '';\n})()\n}}{{\n(() => {\n    const tipoNegocio = $('Fields Person').item.json['Tipo de negócio'];\n    \n    if (!tipoNegocio || tipoNegocio === '' || tipoNegocio === 'null') {\n        return '';\n    }\n    \n    const campo = $('campos personalizados meetime1').item.json.data\n        .find(item => item.field_key == 'tipoDeNegocio');\n    \n    if (!campo || !campo.options) return '';\n    \n    const opcao = campo.options.find(item => item.label == tipoNegocio);\n    \n    return opcao ? `\"tipoDeNegocio\": \"${opcao.id}\",` : '';\n})()\n}}\n  \"idDealPipe\": \"{{ $('Fields Deal').item.json['ID Negócio'] }}\",\n  \"anotacoesIniciais\": {{\n  (function() {\n    const value = $('Fields Deal').item.json['Anotações iniciais'];\n    if (!value || value === 'N/A' || value === 'undefined' || value.includes('undefined')) {\n      return `\"\"`;\n    }\n    return JSON.stringify(value);\n  })()\n}},\n  \"conjunto\": \"{{ $('Fields Deal').item.json['Conjunto '] }}\",\n  \"pagoOrganico\": \"{{ $('Fields Deal').item.json['ID de Origem'] }}\",\n  \"content\": \"{{ $('Fields Deal').item.json.Content }}\"\n},\n    \"startImmediately\": {{ $item(\"0\").$node[\"Fields Deal\"].json[\"cadência\"] =='out-buffet'? false: $item(\"0\").$node[\"Fields Deal\"].json[\"cadência\"] =='out-arcade'? false:true}}\n}\n","options":{}},"id":"caa72e6f-dfc3-41e9-b855-6bc2d3405b7e","name":"Produção2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2656,416],"retryOnFail":true,"alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Meetime - Rilix"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08bcaf47-d62d-4113-884b-eed0e431eedf","leftValue":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"properties\"][\"headers\"][\"x-delivery-count\"] }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-784,512],"id":"a790897f-fd1f-4ffa-9ab8-64e37da21fd9","name":"If5"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-448,352],"id":"e3a93fba-ce61-4cbe-ad47-5fe33d65b25c","name":"Wait","webhookId":"9224eead-251a-45ee-8302-a5866aa673d8"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79a06377-b8b5-4ecf-8fe3-ee4c8b98088c","leftValue":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"properties\"][\"headers\"][\"x-delivery-count\"] }}","rightValue":5,"operator":{"type":"number","operation":"lt"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-640,320],"id":"a364910c-6380-4ee3-8e30-c6e8955ca92e","name":"Filter1"}],"connections":{"Filter":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Get Negócio":{"main":[[{"node":"Ler notes","type":"main","index":0}]]},"Get Pessoa":{"main":[[{"node":"Fields Person","type":"main","index":0}]]},"campos personalizados meetime":{"main":[[]]},"Produção1":{"main":[[],[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Cria task","type":"main","index":0}],[{"node":"Stop and Error","type":"main","index":0}]]},"Ler notes":{"main":[[{"node":"Fields Deal","type":"main","index":0}]]},"If1":{"main":[[{"node":"Get Organization","type":"main","index":0}],[{"node":"campos personalizados meetime1","type":"main","index":0}]]},"Get Organization":{"main":[[{"node":"Fields Organization","type":"main","index":0}]]},"campos personalizados meetime1":{"main":[[{"node":"campos personalizados meetime4","type":"main","index":0}]]},"Users pipedrive":{"main":[[]]},"Fields Deal":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Fields Person":{"main":[[{"node":"If1","type":"main","index":0}]]},"Fields Organization":{"main":[[{"node":"campos personalizados meetime1","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Get Pessoa","type":"main","index":0}]]},"campos personalizados meetime4":{"main":[[{"node":"campos personalizados meetime3","type":"main","index":0}]]},"If":{"main":[[{"node":"Produção1","type":"main","index":0}],[{"node":"Produção","type":"main","index":0}]]},"Produção":{"main":[[],[{"node":"If3","type":"main","index":0}]]},"If3":{"main":[[{"node":"Cria task1","type":"main","index":0}],[{"node":"Stop and Error1","type":"main","index":0}]]},"campos personalizados meetime3":{"main":[[{"node":"If4","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"If5","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Get Negócio","type":"main","index":0}]]},"If4":{"main":[[{"node":"Produção2","type":"main","index":0}],[{"node":"If","type":"main","index":0}]]},"If5":{"main":[[{"node":"Filter1","type":"main","index":0}],[{"node":"Filter","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"wlpahpLREEEcju2c"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Users pipedrive":[{"json":{"success":true,"data":[{"id":10424340,"name":"Alexsandro Moura","email":"alexsandro@rilix.com.br","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":null,"active_flag":false,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2019-09-12 20:17:23","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2019-11-06 12:51:44","last_login":"2019-11-06 12:51:44"},{"id":6214158,"name":"Aline","email":"aline@rilix.com.br","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_6214158_5594511401386d655f0c90553f3931a2.jpg","active_flag":false,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2018-09-05 11:38:39","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":true,"permission_set_id":"02956e70-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2022-10-08 13:29:52","last_login":"2022-10-08 13:29:52"},{"id":22192145,"name":"Barbara","email":"barbara.marques@rilix.com.br","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_22192145_e875c96232a1a26d33f5ea6fc0379967.jpg","active_flag":false,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2024-09-25 15:20:25","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2024-12-13 17:34:15","last_login":"2024-12-13 17:34:15"},{"id":22664826,"name":"Barbara","email":"rilix.barbaramarques@gmail.com","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":null,"active_flag":false,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2024-12-13 19:45:41","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2025-01-17 14:55:43","last_login":"2025-01-17 14:55:43"},{"id":22151687,"name":"Bernardo","email":"bernardo.bank@rilix.com.br","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_22151687_ac907e7c680429e33c6ce29d18e32b2d.jpg","active_flag":false,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2024-09-18 17:37:55","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2024-11-29 13:56:10","last_login":"2024-11-29 13:56:10"},{"id":22664606,"name":"Bernardo","email":"rilix.bernardobank@gmail.com","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_22664606_932d0d13f3821b6a162f6758700a5227.jpg","active_flag":false,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2024-12-13 19:11:54","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2025-03-21 15:24:56","last_login":"2025-03-21 15:24:56"},{"id":16478558,"name":"bruno","email":"bruno.costa@rilix.com.br","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":null,"active_flag":false,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2022-09-29 15:11:38","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2022-10-10 17:04:28","last_login":"2022-10-10 17:04:28"},{"id":16478536,"name":"Edmilson","email":"edmilson.junior@rilix.com.br","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_16478536_4427f95e2ec50fd9872fd08aa20f29aa.jpg","active_flag":false,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2022-09-29 15:11:37","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2023-01-30 18:56:32","last_login":"2023-01-30 18:56:32"},{"id":15511174,"name":"Emi Kimura","email":"emi.kimura@rilix.com.br","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_15511174_85c907b65dd8a6ae26ca678325414036.jpg","active_flag":false,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2022-06-07 11:38:50","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":true,"permission_set_id":"02956e70-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2022-09-22 01:58:15","last_login":"2022-09-22 01:58:15"},{"id":12752807,"name":"Eric","email":"eric.bononi@rilix.com.br","lang":7,"locale":"pt_BR","timezone_name":"Etc/GMT+3","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_12752807_3484642c7db8719cee61dabfe9eda5e4.jpg","active_flag":false,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2023-02-16 14:33:26","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2024-12-09 19:32:40","last_login":"2024-12-09 19:32:40"},{"id":22664672,"name":"Eric","email":"rilix.ericbononi@gmail.com","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_22664672_e90241c388d59a69f78c08788b20270d.jpg","active_flag":true,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2024-12-13 19:15:28","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2025-10-15 11:52:06","last_login":"2025-10-15 11:52:06"},{"id":17002953,"name":"Everton","email":"everton.rodrigues@rilix.com.br","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_17002953_83712bdbdd27ebf86ea5d1281fff25ac.jpg","active_flag":false,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2024-01-19 19:00:02","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2024-02-29 16:30:16","last_login":"2024-02-29 16:30:16"},{"id":23538479,"name":"Geovana Steinchak","email":"rilix.geovana@gmail.com","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_23538479_d0520f5314501b48a46845775645b50d.jpg","active_flag":true,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2025-05-15 22:13:09","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2025-10-16 12:01:35","last_login":"2025-10-16 12:01:35"},{"id":20683528,"name":"Kaio Esmolare","email":"kaio.esmolare@rilix.com.br","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_20683528_920dcf50ceaa2fa88c83eadcefdbe532.jpg","active_flag":false,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2024-03-28 17:55:03","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2024-05-08 17:35:09","last_login":"2024-05-08 17:35:09"},{"id":23757610,"name":"Maria","email":"rilix.mariaaraujo@gmail.com","lang":7,"locale":"pt_BR","timezone_name":"America/Cayenne","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_23757610_0bccc076be0f4e242122579321bc75f9.jpg","active_flag":true,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2025-07-04 18:04:46","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2025-10-17 12:23:59","last_login":"2025-10-17 12:23:59"},{"id":16478547,"name":"Mauricio","email":"mauricio.romero@rilix.com.br","lang":7,"locale":"pt_BR","timezone_name":"Etc/GMT+3","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_16478547_be0bc3443c85f6369921ffcffb0dad97.jpg","active_flag":false,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2022-09-29 15:11:38","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2024-04-02 12:44:08","last_login":"2024-04-02 12:44:08"},{"id":6135773,"name":"Michael Carvalho","email":"michael@rilix.business","lang":1,"locale":"en_US","timezone_name":"Europe/Lisbon","timezone_offset":"+01:00","default_currency":"USD","icon_url":"https://usericons.pipedrive.com/profile_120x120_6135773_43b1d963a0e621b40a244449b217254f.jpg","active_flag":false,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2018-08-29 10:49:22","has_created_company":true,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2022-09-27 18:25:41","last_login":"2020-01-05 14:52:35"},{"id":16876175,"name":"Morgana","email":"morgana.goulartt@rilix.com.br","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_16876175_21ea3117408527abe00ad4bcdd481ff7.jpg","active_flag":false,"is_deleted":false,"is_admin":1,"role_id":1,"created":"2022-11-16 11:53:01","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":true,"permission_set_id":"02956e70-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":true,"permission_set_id":"a3334db0-db39-11ec-98a5-eb951b1a8491"}],"modified":"2024-11-13 11:22:33","last_login":"2024-11-13 11:22:33"},{"id":12626131,"name":"Pietro Tavares","email":"pietro.tavares@rilix.com.br","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_12626131_960e3245d6c6cfc994f480ffaee1a6f7.jpg","active_flag":false,"is_deleted":false,"is_admin":1,"role_id":1,"created":"2023-01-23 11:45:41","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":true,"permission_set_id":"02956e70-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":true,"permission_set_id":"a3334db0-db39-11ec-98a5-eb951b1a8491"}],"modified":"2023-03-31 13:59:02","last_login":"2023-03-31 13:59:02"},{"id":13273932,"name":"Polly","email":"polly.francisqueti@rilix.com.br","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_13273932_4df8fa97d4b349bd80254e24421c9252.jpg","active_flag":false,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2023-03-27 17:31:54","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2024-12-13 12:08:58","last_login":"2024-12-13 12:08:57"},{"id":22664716,"name":"Polly","email":"rilix.pollyfrancisqueti@gmail.com","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":null,"active_flag":true,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2024-12-13 19:18:02","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2025-10-17 11:54:49","last_login":"2025-10-17 11:54:49"},{"id":22151676,"name":"Rany Assis","email":"rany.assis@rilix.com.br","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_22151676_8fa40a59b86b649752eb9828015705f9.jpg","active_flag":false,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2024-09-18 17:37:54","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2024-12-13 12:00:21","last_login":"2024-12-13 12:00:21"},{"id":22664771,"name":"Rany Assis","email":"rilix.ranyassis@gmail.com","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_22664771_abea87a5cbbaf86949f62b8cd74d0695.jpg","active_flag":true,"is_deleted":false,"is_admin":0,"role_id":1,"created":"2024-12-13 19:42:16","has_created_company":false,"is_you":false,"access":[{"app":"sales","admin":false,"permission_set_id":"02956e71-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":false,"permission_set_id":"a34f1310-db39-11ec-98a5-eb951b1a8491"}],"modified":"2025-09-17 18:55:19","last_login":"2025-09-17 18:55:19"},{"id":16084461,"name":"Rilix ADM","email":"Contato@rilix.com.br","lang":7,"locale":"pt_BR","timezone_name":"America/Sao_Paulo","timezone_offset":"-03:00","default_currency":"BRL","icon_url":"https://usericons.pipedrive.com/profile_120x120_16084461_e413c6fc9761ca29c102fcd2f0582c5c.jpg","active_flag":true,"is_deleted":false,"is_admin":1,"role_id":1,"created":"2022-08-12 15:39:02","has_created_company":false,"is_you":true,"access":[{"app":"sales","admin":true,"permission_set_id":"02956e70-154f-11ec-905b-d96b2abf3c60"},{"app":"global","admin":true,"permission_set_id":"a3334db0-db39-11ec-98a5-eb951b1a8491"},{"app":"account_settings","admin":true,"permission_set_id":"e0120150-ed6c-11ec-93ef-f74641d79b13"}],"phone":null,"modified":"2025-10-17 13:16:32","last_login":"2025-10-17 13:16:32"}],"additional_data":{"company_id":3919609}}}],"Webhook1":[{"json":{"fields":{"consumerTag":"amq.ctag-qb41hMuDe2ntnuUZNRiTuQ","deliveryTag":408,"redelivered":false,"exchange":"","routingKey":"Rilix"},"properties":{"headers":{}},"content":{"headers":{"host":"webhook2.automatisales.com.br","user-agent":"Pipedrive Webhooks","content-length":"2454","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"44.233.144.126","x-forwarded-host":"webhook2.automatisales.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2c1c4eafa7e2","x-real-ip":"44.233.144.126"},"params":{},"query":{},"body":{"data":{"add_time":"2025-11-18T23:02:43Z","channel":127,"channel_id":"Motion_1_Black-11/25","close_time":null,"creator_user_id":16084461,"currency":"BRL","custom_fields":{"26b36a80bee81c4d25d6bfbcacd7b9c84f606eee":{"values":[{"id":162}],"type":"set"},"66fbc2dbbe08cb1768b2d8d7b66c6296a75d7f18":null,"a44a6ef5b8293ab858a00c8991cdc9ad8eb2dccb":null,"beeea7154b1547690463139cec4fab1dea40be20":{"type":"varchar","value":"black_november"},"f67902b283b34678c307b077b3f63c41df78eec0":null,"8b8d1412e1291ed1c05d157300e6ad3dd62ea929":null,"43af916c23a13ab103baafb0de40f9560793e553":{"type":"varchar","value":"Funil_Leads_CAPI"},"be1f2cdab1dad892e596f3da4769de95c1419587":null,"7a7cd45e769f8adf146cb210f13ca170da7c5d42":{"type":"varchar","value":"Brasil | 30+ | Advantage+"},"adc3f60e69d4bad77ef13911880a4dc5e3d896f3":{"type":"varchar","value":"{{placement}}"},"d23eba44401ece6f3f9750fb46e13234e0c881e7":{"type":"varchar","value":"API"},"e195bf31373e8c64c7d7968dec7ebb731b2afece":{"type":"varchar","value":"{{site_source_name}}"},"2734b5707b0a04e8382c1fc566f274bec2c055b6":null,"39f287b6eeecd4743a6d9a396f2e2b3471484f0a":{"type":"varchar","value":"1955540175016548"},"9124c94a4484aabbbe9fae6c0ac13248fa0f16ff":null,"a3d92d403b3e5983141d533942bee310712123d6":null,"1c0a33d5f97abf95db6013af717ba46db7b72e64":null},"expected_close_date":null,"first_won_time":null,"id":30427,"label_ids":[],"lost_reason":null,"lost_time":null,"org_id":1155,"origin":"API","origin_id":"pago","owner_id":16084461,"person_id":26352,"pipeline_id":7,"probability":null,"stage_change_time":null,"stage_id":32,"status":"open","title":"(FB) Leandro Sacchi","update_time":null,"value":0,"visible_to":"3","won_time":null,"is_archived":false,"archive_time":null},"previous":null,"meta":{"action":"create","company_id":"3919609","correlation_id":"e2257f5e-dd2b-4c33-bc60-fef3d707342d","entity_id":"30427","entity":"deal","id":"a0b9044c-84e9-48e1-ae93-12eecb5194d7","is_bulk_edit":false,"timestamp":"2025-11-18T23:02:43.931Z","type":"general","user_id":"16084461","version":"2.0","webhook_id":"2095282","webhook_owner_id":"16084461","change_source":"api","permitted_user_ids":["6135773","6214158","10424340","12626131","12752807","13273932","15511174","16084461","16478536","16478547","16478558","16876175","17002953","20683528","22151676","22151687","22192145","22664606","22664672","22664716","22664771","22664826","23538479","23757610","24254348"],"attempt":1,"host":"rilixllc.pipedrive.com"}},"webhookUrl":"https://webhook2.automatisales.com.br/webhook/CrialDealRilixNaMeetime","executionMode":"production"}}}]},"versionId":"c8d98803-8c4e-4a31-aeef-73df367ff1f4","triggerCount":1,"shared":[{"updatedAt":"2025-10-29T21:25:52.529Z","createdAt":"2025-10-29T21:25:52.529Z","role":"workflow:owner","workflowId":"jYG9vy20XrTjTt6T","projectId":"5Z2b5yWkWWKq8wM8"}],"tags":[]}