[rilix]---lead-perdido-copy-F3v4MFCcICAiMvKe.json
{"updatedAt":"2025-11-10T21:00:55.142Z","createdAt":"2025-11-10T20:52:28.855Z","id":"F3v4MFCcICAiMvKe","name":"[RILIX] - Lead Perdido copy","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://api.pipedrive.com/v1/users","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,2528],"id":"a03f9360-9f04-4c5f-8e31-18837dca38f4","name":"Users pipedrive","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"get","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[144,2464],"id":"1c6ed96b-1c60-4a88-a29e-51a404633669","name":"Ler deal2","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"activity\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"stage_id":"=61"},"encodeProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[5264,1440],"id":"27700126-6973-4cbc-af02-83f3a4eba16b","name":"Pipedrive29","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"url":"=https://api.meetime.com.br/v2/leads?id={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"0b34049c-af9c-478e-afd4-0febdfd59130","name":"campos personalizados meetime4","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-16,1600],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}},{"parameters":{"resource":"person","operation":"update","personId":"={{ $item(\"0\").$node[\"Pipedrive14\"].json[\"Pessoa de contato\"][\"value\"] }}","updateFields":{"customProperties":{"property":[{"name":"161520b108dba339c1096c546ea17ee7560a9d14","value":"={{\n(() => {\n    try {\n        // Verifica se existe o campo personalizado\n        const campoPersonalizado = $item(\"0\").$node[\"campos personalizados meetime\"].json[\"data\"];\n        if (!campoPersonalizado) return $('Pipedrive21').item.json['tipoDeNegocio'] || '';\n        \n        // Busca o campo tipoDeNegocio\n        const tipoNegocioField = campoPersonalizado.find(item => item.field_key == 'tipoDeNegocio');\n        if (!tipoNegocioField || !tipoNegocioField.options) return $('Pipedrive21').item.json['tipoDeNegocio'] || '';\n        \n        // Pega o ID do customFields\n        const tipoNegocioId = $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"tipoDeNegocio\"];\n        if (!tipoNegocioId) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        // Busca a opção pelo ID\n        const opcao = tipoNegocioField.options.find(item => item.id == tipoNegocioId);\n        if (!opcao || !opcao.label) return $('Ler pessoa').item.json['tipoDeNegocio'] || '';\n        \n        return opcao.label;\n        \n    } catch (error) {\n        return $('Pipedrive21').item.json['tipoDeNegocio'] || '';\n    }\n})()\n}}"},{"name":"a904218da6ca209deeee9417d3c712cf666c722e","value":"={{ $item(\"0\").$node[\"campos personalizados meetime4\"].json[\"data\"][\"0\"][\"lead_fit_score\"] }}"}]},"email":["={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"email\"]||$item(\"0\").$node[\"Pipedrive21\"].json[\"E-mail\"][\"0\"][\"value\"] }}"],"name":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"name\"] || $item(\"0\").$node[\"Ler pessoa1\"].json[\"Nome\"] }}","phone":["={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"prospection\"][\"lead\"][\"phones\"][\"0\"][\"phone\"]|| $item(\"0\").$node[\"Ler pessoa1\"].json[\"Telefone\"][\"0\"][\"value\"] }}"]}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[304,1792],"id":"154ff257-15c1-4695-a01b-a6657e62997a","name":"Pipedrive","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"note","content":"=URL pública lead na Meetime: {{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"publicUrl\"] }}","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","person_id":"={{ $item(\"0\").$node[\"Pipedrive14\"].json[\"Pessoa de contato\"][\"value\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[512,1760],"id":"5cdcdb31-729a-4688-be43-eeb983041132","name":"Create a note2","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"note","content":"=Anotações deixadas por {{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"salesman\"][\"name\"] }} na Meetime: \n\n{{ \n(() => {\n  const text = $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"annotations\"];\n  \n  // Decodificar caracteres especiais\n  let cleaned = text\n    .replace(/&ndash;/g, '–')\n    .replace(/&iacute;/g, 'í')\n    .replace(/&ccedil;/g, 'ç')\n    .replace(/&atilde;/g, 'ã')\n    .replace(/&otilde;/g, 'õ')\n    .replace(/&aacute;/g, 'á')\n    .replace(/&eacute;/g, 'é')\n    .replace(/&oacute;/g, 'ó')\n    .replace(/&uacute;/g, 'ú')\n    .replace(/&ecirc;/g, 'ê')\n    .replace(/&ocirc;/g, 'ô')\n    .replace(/&amp;/g, '&')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&Eacute;/g, 'É');\n\n  // CONVERTER TODOS OS <br> PRIMEIRO - de forma mais abrangente\n  cleaned = cleaned\n    // Capturar todas as variações de <br>\n    .replace(/<br\\s*\\/?>\\s*/gi, '\\n')  // <br>, <br/>, <br />\n    .replace(/<br\\s*\\/?>/gi, '\\n')     // Fallback\n    // Depois processar outras tags\n    .replace(/<h[1-6][^>]*>/gi, '\\n')\n    .replace(/<\\/h[1-6]>/gi, '\\n')\n    .replace(/<p[^>]*>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<div[^>]*>/gi, '\\n')\n    .replace(/<\\/div>/gi, '\\n')\n    .replace(/<ul[^>]*>/gi, '\\n')\n    .replace(/<\\/ul>/gi, '\\n')\n    .replace(/<li[^>]*>/gi, '\\n• ')\n    .replace(/<\\/li>/gi, '\\n')\n    .replace(/<hr[^>]*>/gi, '\\n---\\n')\n    // Remover outras tags mas preservar conteúdo\n    .replace(/<[^>]*>/g, ' ')\n    // Preservar quebras mas limpar espaços extras\n    .replace(/[ ]+/g, ' ')\n    .replace(/ \\n/g, '\\n')\n    .replace(/\\n /g, '\\n')\n    .trim();\n\n  // Processar emojis e pontuação\n  cleaned = cleaned\n    .replace(/(🔎|🧩|🎯|💡|🤔|📅)/g, '\\n$1')\n    .replace(/\\s*\\.\\s*/g, '. ')\n    .replace(/\\s*,\\s*/g, ', ')\n    .replace(/\\s*:\\s*/g, ': ');\n\n  // Limpar formatação final\n  cleaned = cleaned\n    .replace(/\\n\\s*\\n/g, '\\n\\n')  // Duas quebras viram parágrafo\n    .replace(/\\n{3,}/g, '\\n\\n');  // Mais de 2 quebras viram 2\n\n  return cleaned;\n})()\n}}","additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","person_id":"={{ $item(\"0\").$node[\"Pipedrive14\"].json[\"Pessoa de contato\"][\"value\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[768,1856],"id":"17047258-5658-489c-aa21-8135da3f06e2","name":"Create a note3","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"update","dealId":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","updateFields":{"lost_reason":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lostReason\"][\"name\"] }}","status":"lost"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-224,1600],"id":"a9c00077-72fe-4421-8d99-72f700fe4182","name":"Pipedrive13","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"operation":"get","dealId":"={{ $item(\"0\").$node[\"Webhook1\"].json[\"content\"][\"body\"][\"prospection\"][\"lead\"][\"customFields\"][\"idDealPipe\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-48,1840],"id":"50c60070-6993-4133-99b5-dd4b216b04a6","name":"Pipedrive14","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"person","operation":"get","personId":"={{ $item(\"0\").$node[\"Pipedrive14\"].json[\"Pessoa de contato\"][\"value\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[128,2000],"id":"9861ad9a-d2d6-40f2-b85c-83fac8652982","name":"Pipedrive21","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"queue":"Rilix_Lost","options":{"acknowledge":"executionFinishesSuccessfully","durable":true,"jsonParseBody":true,"parallelMessages":1}},"type":"n8n-nodes-base.rabbitmqTrigger","typeVersion":1,"position":[-880,1408],"id":"72f1ffe7-a265-43c8-be43-ae749f57e4a4","name":"Webhook1","credentials":{"rabbitmq":{"id":"bPpAsMWUjdkbQzoB","name":"RabbitMQ account"}}},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-672,1408],"id":"6d5f1375-00c0-4611-b122-2f14170a2fac","name":"Wait","webhookId":"d033ee4b-250a-4796-b4d7-0f8390b24aac"}],"connections":{"campos personalizados meetime4":{"main":[[{"node":"Pipedrive14","type":"main","index":0}]]},"Pipedrive13":{"main":[[{"node":"campos personalizados meetime4","type":"main","index":0}]]},"Pipedrive14":{"main":[[{"node":"Pipedrive21","type":"main","index":0}]]},"Pipedrive21":{"main":[[{"node":"Pipedrive","type":"main","index":0}]]},"Pipedrive":{"main":[[{"node":"Create a note2","type":"main","index":0}]]},"Create a note2":{"main":[[{"node":"Create a note3","type":"main","index":0}]]},"Webhook1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Pipedrive13","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"wlpahpLREEEcju2c"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook1":[{"json":{"fields":{"consumerTag":"amq.ctag-WlayPmk819M27k8RYZMxZA","deliveryTag":2,"redelivered":false,"exchange":"","routingKey":"Rilix_Lost"},"properties":{"headers":{}},"content":{"headers":{"host":"webhook2.automatisales.com.br","user-agent":"Meetime","content-length":"3680","accept":"*/*","content-type":"application/json","x-forwarded-for":"34.74.246.245","x-forwarded-host":"webhook2.automatisales.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2c1c4eafa7e2","x-meetime-delivery":"a89549b7-3690-45df-b2fe-bff8c0be6540","x-meetime-signature":"Di4hWNeM76_wdN6HM1v4x0gZ9B0PgYHSU7zGc8F109I=","x-real-ip":"34.74.246.245","accept-encoding":"gzip"},"params":{},"query":{},"body":{"event":"LEAD.LOST","prospection":{"id":34495947,"lead":{"id":27440812,"email":"rosaria.carvalho84@hotmail.com","firstName":"Rosaria","name":"Rosaria Carvalho","company":null,"phones":[{"label":null,"phone":"+5531981062978","lastUsage":"2025-11-05T12:31:12.080Z"}],"position":null,"site":null,"state":"PA","city":"Carajas","twitter":null,"facebook":null,"linkedIn":null,"annotations":null,"customFields":{"termo":"Lista Retomada Com Fit 2025","pagoOrganico":"f31d293c-28c8-4452-bb85-cddbcf9e45e6","idDealPipe":"28681","campanha":"Pré-black 2025"},"publicUrl":"https://meetime.com.br/dashboard/public/leads/AIDLhpmAoU8vrD4mCDI2vwL2YGYEABTaP5EGDfeVQbEe","externalReference":null},"cadence":{"id":58229,"name":"Ativação Black 2025"},"originType":"SWITCHED_CADENCE","inbound":true,"startDate":"2025-11-03T18:34:34.001Z","endDate":"2025-11-08T06:00:48.071Z","status":"LOST","salesman":{"id":48152,"name":"Maria Araújo","email":"comercial@rilix.com.br"},"salesmanTeam":{"id":2125,"name":"Outbound"},"activities":[{"id":371295886,"status":"FINISHED","scope":"CADENCE","executionDate":"2025-11-03T19:09:05.808Z","annotation":"Lead tem um espaço para em (carajas-PA) dentro de um centro gastronomico de carajas que pertence a empresa Vale, que segundo ela que cuida.","type":"SEARCH","activityTemplateId":152973,"executedBy":{"id":48152,"name":"Maria Araújo","email":"comercial@rilix.com.br"},"executedByTeam":{"id":2125,"name":"Outbound"}},{"id":371295887,"status":"FINISHED","scope":"CADENCE","executionDate":"2025-11-03T19:09:21.265Z","type":"CALL","activityTemplateId":152987,"executedBy":{"id":48152,"name":"Maria Araújo","email":"comercial@rilix.com.br"},"executedByTeam":{"id":2125,"name":"Outbound"},"call":{"id":66700188,"user":{"id":48152,"name":"Maria Araújo","email":"comercial@rilix.com.br"},"team":{"id":2125,"name":"Outbound"},"receiverPhone":"+5531981062978","originStatus":"ANSWERED","receiverStatus":"NO_ANSWERED","originType":"EXTENSION","originStarted":"2025-11-03T19:09:56.000Z","duration":0,"status":"NOT_PERFORMED","output":"NO_CONTACT","originPrice":0,"receiverPrice":0,"callType":"VOIP","category":{"id":12985,"name":"Ligação","source":"PROSPECT"}}},{"id":371295889,"status":"FINISHED","scope":"CADENCE","executionDate":"2025-11-03T19:11:03.065Z","type":"SOCIAL_POINT","activityTemplateId":152988,"executedBy":{"id":48152,"name":"Maria Araújo","email":"comercial@rilix.com.br"},"executedByTeam":{"id":2125,"name":"Outbound"}},{"id":371295888,"status":"FINISHED","scope":"CADENCE","executionDate":"2025-11-05T12:31:12.080Z","type":"CALL","activityTemplateId":152987,"executedBy":{"id":48152,"name":"Maria Araújo","email":"comercial@rilix.com.br"},"executedByTeam":{"id":2125,"name":"Outbound"},"call":{"id":66773478,"user":{"id":48152,"name":"Maria Araújo","email":"comercial@rilix.com.br"},"team":{"id":2125,"name":"Outbound"},"originPhone":"+5547976020079","receiverPhone":"+5531981062978","originStatus":"ANSWERED","receiverStatus":"NO_ANSWERED","originType":"EXTENSION","receiverType":"MOBILE","originStarted":"2025-11-05T12:31:20.000Z","duration":0,"status":"NOT_PERFORMED","originPrice":0,"receiverPrice":0,"callType":"VOIP","category":{"id":12985,"name":"Ligação","source":"PROSPECT"}}},{"id":371295890,"status":"FINISHED","scope":"CADENCE","executionDate":"2025-11-05T14:37:15.799Z","type":"SOCIAL_POINT","activityTemplateId":152989,"executedBy":{"id":48152,"name":"Maria Araújo","email":"comercial@rilix.com.br"},"executedByTeam":{"id":2125,"name":"Outbound"}}],"extraActivities":[],"lostReason":{"id":51694,"name":"Não houve contato"},"origin":{"campaign":null,"source":null,"conversion":null,"channel":"UNKNOWN"},"meetings":[]}},"webhookUrl":"https://webhook2.automatisales.com.br/webhook/RilixAtividadeseStatusMeetime","executionMode":"production"}}}]},"versionId":"2b8aae35-717a-4fe5-9ee3-4f8468df75c3","triggerCount":1,"shared":[{"updatedAt":"2025-11-10T20:52:28.855Z","createdAt":"2025-11-10T20:52:28.855Z","role":"workflow:owner","workflowId":"F3v4MFCcICAiMvKe","projectId":"5Z2b5yWkWWKq8wM8"}],"tags":[]}