[rilix]---novo-negócio-GcnzFVoRaTErctkD.json
{"createdAt":"2025-10-10T15:45:02.572Z","updatedAt":"2025-10-10T16:04:16.736Z","id":"GcnzFVoRaTErctkD","name":"[Rilix] - Novo negócio","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"CrialDealRilixNaMeetime","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-336,528],"id":"0793603f-4b0b-4eaf-8792-fd584bacfac3","name":"Webhook","webhookId":"b8e2ca3b-92e2-4911-aa23-deaf2e8f3513"},{"parameters":{"content":"Adicionar lead:\nbody:\n{\n  \"subscription_url\": \"https://webhook.automatisales.com.br/webhook/b8e2ca3b-92e2-4911-aa23-deaf2e8f3513\",\n  \"event_action\": \"added\",\n  \"event_object\": \"deal\"\n}\n\nhttps://developers.pipedrive.com/docs/api/v1/Webhooks#addWebhook","height":280,"width":440},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"8cd8b783-3dcb-458f-95e3-5d4e287ebf3f","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79a06377-b8b5-4ecf-8fe3-ee4c8b98088c","leftValue":"={{ $json.body.current.stage_id }}","rightValue":46,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[0,528],"id":"f2817bce-cf94-4e38-b88b-5c5d890e04a4","name":"Filter"},{"parameters":{"operation":"get","dealId":"={{ $json.body.meta.id }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[304,544],"id":"cd3a12ba-ccb9-4af4-b33c-c7654adb440a","name":"Get Negócio","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"person","operation":"get","personId":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Pessoa de contato\"][\"value\"] }}"},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[560,544],"id":"46e10dce-8000-4525-ab28-30817083d5fb","name":"Get Pessoa","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"method":"POST","url":"https://api.meetime.com.br/v2/prospections/cadence/51351/lead?token=AMw7rwOzzVIfuPPzvm37T4hC8LABOfL8ETtXfjTPQduA","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=\n{   \n    \"firstName\": \"{{ $item('0').$node['Get Pessoa'].json['first_name'] }}\",\n    \"name\": \"{{ $item('0').$node['Get Pessoa'].json['name'] }}\",\n    \"email\": \"{{ $item('0').$node['Get Pessoa'].json['email']['0']['value'] }}\",\n    \"ownerEmail\": \"{{ $('Get Negócio').item.json['[BLI] SDR'].email }}\",\n    \"phones\": [\n        {\n            \"phone\": \"{{ $item('0').$node['Get Pessoa'].json['phone']['0']['value'] }}\"\n        }\n    ],\n    \"customFields\": {\n       {{ $json.qualEOSeuPapelOuFuncaoAtual ? '\"qualEOSeuPapelOuFuncaoAtual\": \"'+  $json.qualEOSeuPapelOuFuncaoAtual + '\",\\n      ':''}} {{ $json.qualEOFaturamentoMedioAnualDoSeuNegocio ? '\"qualEOFaturamentoMedioAnualDoSeuNegocio\": \"' +  $json.qualEOFaturamentoMedioAnualDoSeuNegocio + '\",' : ''}}\n        \"qualEODoSeuInstagram\": \"{{ $('Get Negócio').item.json['[BLI] Instagram'] }}\",\n        \"ipmScore\": \"{{ $('Get Negócio').item.json['[BLI] Score'] }}\",\n        \"ipmPersona\": \"{{ $ifEmpty($('Get Negócio').item.json['[BLI] Perfil Financeiro'], \"Não preenchido\") }}\",\n        \"idPipedriveDeal\": \"https://beleadergroup.pipedrive.com/deal/{{ $item(\"0\").$node[\"Filter\"].json[\"body\"][\"meta\"][\"id\"].toString().replace(/\\n/g, \"\")  }}\",\n        \"quaisDificuldadesVoceEnfrentaAtualmenteNoSeuPosicionamento\": \"{{ ($('Get Negócio').item.json['[IPM] Dificuldades'] || \"Não preenchido\").replace(/\\n/g, \"\").replace(/(?<!\\\\)\"/g, '\\\\\"')  }}\",\n        \"porFavorDescrevaOSeuNegocioEmNoMaximo3Linhas\": \"{{ ($('Get Negócio').item.json['[IPM] Descrição Negócio'] ||\"Não preenchido\").replace(/\\n/g, \"\").replace(/(?<!\\\\)\"/g, '\\\\\"')   }}\"\n    },\n    \"startImmediately\": true\n}","options":{}},"id":"d0e05efd-1c24-4638-bae5-c3d3d7be9d06","name":"Produção1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1584,448],"retryOnFail":true,"alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}},"onError":"continueErrorOutput"},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"40ac98b5-0c24-4009-a9ba-26726d23b5cf","name":"campos personalizados meetime","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[832,544],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"577b51fa-8650-42a3-8d40-8d5f6281f808","leftValue":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"phone\"][\"0\"][\"value\"] }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1280,544],"id":"ad3a6566-a3c3-4bb8-98ad-42ed8812bba9","name":"If"},{"parameters":{"method":"POST","url":"https://api.meetime.com.br/v2/prospections/cadence/51351/lead?token=AMw7rwOzzVIfuPPzvm37T4hC8LABOfL8ETtXfjTPQduA","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=\n{   \n    \"firstName\": \"{{ $item('0').$node['Get Pessoa'].json['first_name'] }}\",\n    \"name\": \"{{ $item('0').$node['Get Pessoa'].json['name'] }}\",\n    \"email\": \"{{ $item('0').$node['Get Pessoa'].json['email']['0']['value'] }}\",\n    \"ownerEmail\": \"{{ $('Get Negócio').item.json['[BLI] SDR'].email }},\n    \"customFields\": {\n       {{ $json.qualEOSeuPapelOuFuncaoAtual ? '\"qualEOSeuPapelOuFuncaoAtual\": \"'+  $json.qualEOSeuPapelOuFuncaoAtual + '\",\\n      ':''}} {{ $json.qualEOFaturamentoMedioAnualDoSeuNegocio ? '\"qualEOFaturamentoMedioAnualDoSeuNegocio\": \"' +  $json.qualEOFaturamentoMedioAnualDoSeuNegocio + '\",' : ''}}\n        \"qualEODoSeuInstagram\": \"{{ $('Get Negócio').item.json['[BLI] Instagram'] }}\",\n        \"ipmScore\": \"{{ $('Get Negócio').item.json['[BLI] Score'] }}\",\n        \"ipmPersona\": \"{{ $ifEmpty($('Get Negócio').item.json['[BLI] Perfil Financeiro'], \"Não preenchido\") }}\",\n        \"idPipedriveDeal\": \"https://beleadergroup.pipedrive.com/deal/{{ $item(\"0\").$node[\"Filter\"].json[\"body\"][\"meta\"][\"id\"].toString().replace(/\\n/g, \"\")  }}\",\n        \"quaisDificuldadesVoceEnfrentaAtualmenteNoSeuPosicionamento\": \"{{ ($('Get Negócio').item.json['[IPM] Dificuldades'] || \"Não preenchido\").replace(/\\n/g, \"\")}}\",\n        \"porFavorDescrevaOSeuNegocioEmNoMaximo3Linhas\": \"{{ ($('Get Negócio').item.json['[IPM] Descrição Negócio'] ||\"Não preenchido\").replace(/\\n/g, \"\") }}\"\n    },\n    \"startImmediately\": true\n}","options":{}},"id":"ae820e39-bd86-4029-9699-15b9a1fe43d6","name":"Produção","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1568,736],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}},{"parameters":{"method":"POST","url":"https://api.meetime.com.br/v2/prospections/cadence/51351/lead?token=AMw7rwOzzVIfuPPzvm37T4hC8LABOfL8ETtXfjTPQduA","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=\n{   \n    \"firstName\": \"{{ $item('0').$node['Get Pessoa'].json['first_name'] }}\",\n    \"name\": \"{{ $item('0').$node['Get Pessoa'].json['name'] }}\",\n    \"email\": \"{{ $item('0').$node['Get Pessoa'].json['email']['0']['value'] }}\",\n    \"ownerEmail\": \"{{ $('Get Negócio').item.json['[BLI] SDR'].email }}\",\n    \"phones\": [\n        {\n            \"phone\": \"{{ $item('0').$node['Get Pessoa'].json['phone']['0']['value'] }}\"\n        }\n    ],\n    \"customFields\": {\n       {{ $json.qualEOSeuPapelOuFuncaoAtual ? '\"qualEOSeuPapelOuFuncaoAtual\": \"'+  $json.qualEOSeuPapelOuFuncaoAtual + '\",\\n      ':''}} {{ $json.qualEOFaturamentoMedioAnualDoSeuNegocio ? '\"qualEOFaturamentoMedioAnualDoSeuNegocio\": \"' +  $json.qualEOFaturamentoMedioAnualDoSeuNegocio + '\",' : ''}}\n        \"qualEODoSeuInstagram\": \"{{ $('Get Negócio').item.json['[BLI] Instagram'] }}\",\n        \"ipmScore\": \"{{ $('Get Negócio').item.json['[BLI] Score'] }}\",\n        \"ipmPersona\": \"{{ $ifEmpty($('Get Negócio').item.json['[BLI] Perfil Financeiro'], \"Não preenchido\") }}\",\n        \"idPipedriveDeal\": \"https://beleadergroup.pipedrive.com/deal/{{ $item(\"0\").$node[\"Filter\"].json[\"body\"][\"meta\"][\"id\"].toString().replace(/\\n/g, \"\")  }}\",\n        \"quaisDificuldadesVoceEnfrentaAtualmenteNoSeuPosicionamento\": \"{{ ($('Get Negócio').item.json['[IPM] Dificuldades'] || \"Não preenchido\").replace(/\\n/g, \"\")}}\",\n        \"porFavorDescrevaOSeuNegocioEmNoMaximo3Linhas\": \"{{ ($('Get Negócio').item.json['[IPM] Descrição Negócio'] ||\"Não preenchido\").replace(/\\n/g, \"\").replace(/(?<!\\\\)\"/g, '\\\\\"')  }}\"\n    },\n    \"startImmediately\": true\n}","options":{}},"id":"9914781b-3a88-4642-a011-b0b3eb1ce9f6","name":"Produção2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2272,688],"retryOnFail":true,"alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2032,656],"id":"b60f9fac-ea65-42a3-841c-fea8991a5751","name":"Wait","webhookId":"6569aa35-145e-42ff-94f8-0f8673922010"},{"parameters":{"errorMessage":"deu merda"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2448,848],"id":"7a1e9233-40bd-4f98-bb38-7b345305300c","name":"Stop and Error"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b17c829-ddaa-4137-9de2-8445e10972b2","leftValue":"={{ $item(\"0\").$node[\"Produção1\"].json[\"error\"][\"message\"] }}","rightValue":"400 - \"{\\\"errors\\\":[{\\\"type\\\":\\\"thereIsAlreadyAnActiveProspectionWithThisLead\\\",\\\"description\\\":\\\"There is already an active prospection with lead","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1824,592],"id":"3195c3b0-ae45-4e84-ad00-36bfe34e6991","name":"If2"},{"parameters":{"operation":"get","dealId":"=500","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[896,176],"id":"218fbe4c-dbdc-4826-895b-5b1fea038f09","name":"Get Negócio1","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"method":"POST","url":"https://api.pipedrive.com/v1/webhooks","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"subscription_url\": \"https://webhook2.automatisales.com.br/webhook/CrialDealRilixNaMeetime\",\n  \"event_action\": \"create\",\n  \"event_object\": \"deal\",\n  \"name\": \"Webhook Meetime\"\n}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,-368],"id":"e9b59262-24b3-4ddd-8561-9324fa9981e6","name":"add webhook","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}}],"connections":{"Webhook":{"main":[[]]},"Filter":{"main":[[{"node":"Get Negócio","type":"main","index":0}]]},"Get Negócio":{"main":[[{"node":"Get Pessoa","type":"main","index":0}]]},"Get Pessoa":{"main":[[{"node":"campos personalizados meetime","type":"main","index":0}]]},"campos personalizados meetime":{"main":[[]]},"If":{"main":[[{"node":"Produção1","type":"main","index":0}],[{"node":"Produção","type":"main","index":0}]]},"Produção1":{"main":[[],[{"node":"If2","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Produção2","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Produção2":{"main":[[]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"wlpahpLREEEcju2c"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.automatisales.com.br","user-agent":"Pipedrive Webhooks","content-length":"6582","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"44.228.233.78","x-forwarded-host":"webhook.automatisales.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"74a0e80b3bdf","x-real-ip":"44.228.233.78"},"params":{},"query":{},"body":{"v":1,"matches_filters":{"current":[26,1]},"meta":{"action":"added","change_source":"api","company_id":10047958,"host":"beleadergroup.pipedrive.com","id":19439,"is_bulk_update":false,"matches_filters":{"current":[26,1]},"object":"deal","permitted_user_ids":[12739160,12740150,22115645,22922154,23147918,23238008,22395562,12826005,12826016,13139021,13238461,13314570,13634945,20692608,20909847,22115623,22115634,22124280,22202897,22329551,22329562,22390601,22420422,22420433,22541455,23081555,23400764,23400786,23448284,23531389,23584343,23909173,23909184,23909195],"pipedrive_service_name":false,"timestamp":1746192431,"timestamp_micro":1746192431938165,"prepublish_timestamp":1746192432049,"trans_pending":false,"user_id":12740150,"v":1,"webhook_id":"1443438"},"current":{"3d45492e158faa8ff4ffd5e3e4708601349d290a":null,"9989eb183b6cba4a96c14889f30bcc24fcb226ac":null,"b2f37c42526fea42941bbf91a6275041fd3451f9":null,"ec32afeb750f5769dd91c03d956f32e9e9cd34b0":null,"email_messages_count":0,"b4a614ce248b2289605348c3b034f7bfd952db3a":null,"cc_email":"beleadergroup+deal19439@pipedrivemail.com","channel":83,"8196ba0b07c8bdeeb463f4f3932a66f24a68ab22":null,"acv_currency":null,"dfb8bbd5ca3351e29e5b35f1f4d193881b8207ac":null,"next_activity_type":null,"ad240ebe4a5f0a12ddcdc1606f736ea1e49b8e86":null,"local_close_date":null,"next_activity_duration":null,"id":19439,"aa84e1b49c1cdd9af768866269504c458c9cd08b":"Api","402bd4edc5b6218d28d171278700ca07410e8041":null,"participants_count":0,"ea595613d886caf817dccca9a5fcf278f9a59770":"Pobre","stage_id":46,"probability":null,"8cd206bb6431699d005b54ad8bfc821e2649a824":"oficial","undone_activities_count":0,"12ff1520d15ce2cf41446b8bb3cbf389ff07c20b":"87","74cc72adf6e6f076a90737a7ddfcb108ce05ff37":null,"active":true,"5be86a1fa7462f7dc493275110ca80324071f9a3":null,"next_activity_id":null,"weighted_value_currency":"BRL","0a52e2502035baf45a29007c0cfd14406c32e1ac":null,"1327d20902dfd0f67aeb7a72214b0c9184eb892b":null,"stage_order_nr":1,"rotten_time":"2025-05-03 13:27:11","c158e6245f79a272a52ebf0d8ba92e3d61d05507":null,"user_id":22395562,"1c4ba2611c6e4168c3952456a974fd69783d2909":null,"notes_count":0,"0a0af8712b097a89ae8304230e8f8bd9d486c4e1":null,"channel_id":null,"formatted_value":"R$ 0","status":"open","91a2e9cc6a0910a92ce56997c4739569bf8ff023":null,"mrr_currency":null,"cd099925537eb26c7d90a5eb9f6077ea1ea876fb":null,"d03a386aef5fa6d9b596a0bb7224b9cf6512c4ff":null,"d5d4a80cf13333fa2caa7f8be60593e9a30b8a3f":null,"dcd28b35e63f30237d62b9a5b580b7cc7d0f8ff8":null,"update_time":"2025-05-02 13:27:11","0e71028eef75d5c3d3e4b2624d7b5e8fc3d221cb":null,"e0e8181be7cc88a5a84e80c917050598543ae43a":"oficial","b6a73ed7887e4bf442b16183c5ee01ae2e277faa":null,"activities_count":0,"pipeline_id":7,"lost_time":null,"currency":"BRL","weighted_value":0,"org_name":null,"1115c58ef287ee26dd3dcee02b63d88dc4849395":"Thiago","27d718898457309467f638cc0dcef912028b3fc6":"organico","person_hidden":false,"befad8140de9d4f42ef25a3f5f752097a23684ae":null,"arr":null,"files_count":0,"last_incoming_mail_time":null,"f95a0cbfbeaa84bd78faf31991d1593c2bb18475":null,"mrr":null,"9ac1a7bafbea36edf1fb8ed20d435e5c8948f006":"2025-05-02","lost_reason":null,"deleted":false,"won_time":null,"a6869ab7a8655ceb6af1edb6822482601d9ccd87":"Curioso","51c8cc4adadae318ebfff1c5403b55a6f31f8521":null,"49d7b14a6afebe5f9215470497fc05ffac99ec9c":null,"done_activities_count":0,"50525b60c52e8171aaf65c9aebe86536ae6d8edc":null,"ec81ff0452b6d4b4feb7127474a8e6fb1e17c9b0":null,"8a327afd4d962f0dcb89045527e4b65ccd93469a":"oficial","2950c78568e6a9b56a0caccc4e9510838926d23e":"Até 10k mês","39585d8830d3334bf6aede3b6e0444b6e864c6d5":4,"products_count":0,"archive_time":null,"561774bc257bda082f2e438c4e040155cbd51634":null,"next_activity_date":null,"acv":null,"4672e47cb2c6af89cf637dc36e919e33015bcc21":null,"3063fe5251da35a59d83fb4c17efbc924c322ba2_timezone_id":null,"person_id":16020,"2a41e866edacdd84e850e88c59004056337b8010":null,"creator_user_id":12740150,"expected_close_date":null,"1b8bffdd6c0b0fcd29f344add6494584a7363072":null,"owner_name":"Julia Alves de Carvalho","arr_currency":null,"11ec47d34e6e11e49a2ac85bf84d90618243978d":null,"1cfbc5a86647b27314c0e94815e799cc43cd4a6a":"Ajudo homens a trabalhar a identidade de \"homem de valor\" desenvolvendo liderança, empreendedorismo e gestão de negócios.","local_lost_date":null,"406e22ea40c8b67776f486c45939052f4fa43f74":null,"person_name":"Thiago","last_activity_date":null,"close_time":null,"org_hidden":false,"96e4f3d23eb33d44f8c4089f03fbcdc91b3fbc0d":null,"63d27cc3afc5327549fd41e50a74b7cec489169e":null,"local_won_date":null,"next_activity_subject":null,"d49c012b35276592dd693276958287244e5addad":"Quero entender com profundidade qual é minha essência e como transmití-la com autenticidade.","is_archived":false,"visible_to":"3","org_id":null,"4de99518190cf08800d0f1a17b247fd73942708d":null,"9bac45f03b9ef669bbead5a9906aad210db802a1":null,"next_activity_time":null,"62ba6f38039c5d1ac3cbca675b27f3c93a610fea":null,"78ff31d913dd7ab85c3080c165e493b192e975d2":null,"formatted_weighted_value":"R$ 0","first_won_time":null,"origin":"API","last_outgoing_mail_time":null,"6c625be9082ac8422e946b01bd04cc362db2b8af":null,"6f513da6ff8a770ca5169cd0b3264c4d4240d08e":null,"origin_id":null,"d95c97a9cd6b6eba6237f9fc13a7ba15230b35bc":"18","title":"Thiago - +5519999235960","7998dd4f9d599cdf7a5e217cf0e82c095463bf33":null,"last_activity_id":null,"ef72009bac6772468f7f51ff379fbafa4164174b":null,"8e011ee0f5f586956e332dbf2dd99dd8393cc004":null,"3ed59667a21480cabdf5d6e72610c5a3bc914c98":null,"a9fb6227ec33f785283cd59b37af296f26fa4597":22395562,"2ff7a04cc0b4caecb2eea9b7692feb03157016c8":null,"baffe6a73fd2c0fb3c93e67629d7b69cd8d5233a":"Profissional liberal (Nutricionista, Advogado, Psicologo, Médico)","value":0,"next_activity_note":null,"43fa9b4ce295ffe85dcd516682ff98e0f17b2c8e":"Não informado","3063fe5251da35a59d83fb4c17efbc924c322ba2":null,"2b0cd62f911185cd365eda300709c80ca5222db5":null,"9ae5412b9c2751338c8c50e5923619872062fe0c":null,"label":null,"98911b1af636f074d280536ac8b2b801ae8afaa9":null,"a8657566844e4a265a536ca5add43b44ee98bb41":null,"9135ea8292f93ae803544b242c663836b8b3a60f":null,"1d636fae7ddd2db8998632d0abac53f070aaf10e":null,"59617e2d9f8de3bf593faf979a829ef4f7089ab8":null,"49d7b14a6afebe5f9215470497fc05ffac99ec9c_currency":null,"followers_count":0,"6f648974ffef7ffef01c74f5f1b8137f7e8500a4":"@thiagobiscassi","stage_change_time":null,"add_time":"2025-05-02 13:27:11","616a1e741839fac680eda566f5d45d86ef9495e9":null,"a13a19db7949ff1e5a2f6e5be6b3b5d9ec24ec34":null},"previous":null,"retry":0,"event":"added.deal"},"webhookUrl":"https://webhook.automatisales.com.br/webhook/b8e2ca3b-92e2-4911-aa23-deaf2e8f3513","executionMode":"production"}}]},"versionId":"8a8988ae-0e7d-4b81-a788-d0c749d863f4","triggerCount":1,"shared":[{"createdAt":"2025-10-10T15:45:02.572Z","updatedAt":"2025-10-10T15:45:02.572Z","role":"workflow:owner","workflowId":"GcnzFVoRaTErctkD","projectId":"5Z2b5yWkWWKq8wM8"}],"tags":[]}