[rilix]---novo-negócio-GcnzFVoRaTErctkD.json
{"createdAt":"2025-10-10T15:45:02.572Z","updatedAt":"2025-10-13T02:21:33.816Z","id":"GcnzFVoRaTErctkD","name":"[Rilix] - Novo negócio","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"CrialDealRilixNaMeetime","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-624,528],"id":"0793603f-4b0b-4eaf-8792-fd584bacfac3","name":"Webhook","webhookId":"b8e2ca3b-92e2-4911-aa23-deaf2e8f3513"},{"parameters":{"content":"Adicionar lead:\nbody:\n{\n  \"subscription_url\": \"https://webhook.automatisales.com.br/webhook/b8e2ca3b-92e2-4911-aa23-deaf2e8f3513\",\n  \"event_action\": \"added\",\n  \"event_object\": \"deal\"\n}\n\nhttps://developers.pipedrive.com/docs/api/v1/Webhooks#addWebhook","height":280,"width":440},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"8cd8b783-3dcb-458f-95e3-5d4e287ebf3f","name":"Sticky Note"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"79a06377-b8b5-4ecf-8fe3-ee4c8b98088c","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"stage_id\"] }}","rightValue":32,"operator":{"type":"number","operation":"equals"}},{"id":"bc805b3a-ea06-4183-89d9-7ea95e5d725b","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"stage_id\"] }}","rightValue":48,"operator":{"type":"number","operation":"equals"}},{"id":"00d327dd-aff3-450a-9730-d603686ac383","leftValue":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"data\"][\"stage_id\"] }}","rightValue":58,"operator":{"type":"number","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-352,528],"id":"f2817bce-cf94-4e38-b88b-5c5d890e04a4","name":"Filter"},{"parameters":{"operation":"get","dealId":"={{ $item(\"0\").$node[\"Filter\"].json[\"body\"][\"meta\"][\"entity_id\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[-128,528],"id":"cd3a12ba-ccb9-4af4-b33c-c7654adb440a","name":"Get Negócio","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"person","operation":"get","personId":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Pessoa de contato\"][\"value\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[496,528],"id":"46e10dce-8000-4525-ab28-30817083d5fb","name":"Get Pessoa","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"method":"POST","url":"={{\n(() => {\n    const cadencia = $item(\"0\").$node[\"Fields Deal\"].json[\"cadência\"];\n    \n    const urlMap = {\n        'vending-machine': 'https://api.meetime.com.br/v2/prospections/cadence/57696/lead?token=ANtLf6Pd9o9LeoWxSgNBaVArACy-auOChs3LZbBPD3-M',\n        'buffet-infantil': 'https://api.meetime.com.br/v2/prospections/cadence/57697/lead?token=bVG6S1EvHDrXq-udz1aUbAEmky1bmWYdpMYonU_j0pY',\n        'arcade': 'https://api.meetime.com.br/v2/prospections/cadence/57695/lead?token=NFvumvV2peJoyBoa5JS5Adsen8GktlPB914jx36QkF8',\n        'eventos': 'https://api.meetime.com.br/v2/prospections/cadence/57694/lead?token=IoQXw4ovE_4CSh59XBRmdEC4ZLZtNMXQzrrpOcYSc_M',\n        'estabelecimentos': 'https://api.meetime.com.br/v2/prospections/cadence/57693/lead?token=OHRqMdIrTjO2xZMg-8CVRbKFAbx4bMnzzeHkzwYxmCk',\n        'ebook-vm': 'https://api.meetime.com.br/v2/prospections/cadence/57684/lead?token=AK_yac8RThR9sOkDtKXWPJSvdxwgY1S6MGJf7moS5lZM',\n        'ebook-bi': 'https://api.meetime.com.br/v2/prospections/cadence/57687/lead?token=AtVHAS9SIYSxEM95biUAMXOgVoivM-ILGVfyWqs5RPQ',\n        'ebook-ar': 'https://api.meetime.com.br/v2/prospections/cadence/57688/lead?token=NxAPaYKwkMdaJBB8DdCGZ1If9rUuq649hy60Xhzrfzc',\n        'ebook-ev': 'https://api.meetime.com.br/v2/prospections/cadence/57689/lead?token=QIE-I2od68nv1RTvauSeCUhQraXkYNP97kD_YV3_5C4',\n        'ebook-es': 'https://api.meetime.com.br/v2/prospections/cadence/57691/lead?token=Vn6qAuq5qh1WNFoINMAgDGZu7sEPaUKigq83hCesEWI',\n        'out-arcade': 'https://api.meetime.com.br/v2/prospections/cadence/57692/lead?token=Q-NdXga5wsu7JfN0sUtQJOu99hvVLN2OwNd4So5K-sA',\n        'out-buffet': 'https://api.meetime.com.br/v2/prospections/cadence/56484/lead?token=AN1gtrmL4o-N1Yyr47q940m7iKFxBBtJT57veRTO-ZN_'\n    };\n    \n    // Fallback para quando estiver nulo ou não encontrado\n    const fallback = 'https://api.meetime.com.br/v2/prospections/cadence/56461/lead?token=LwDJOhLokK-wuvCa-TV0nNr81A5lTCsu2BYRYAq3iGg';\n    \n    // Verifica se a cadência existe no mapa, se não usa o fallback\n    return urlMap[cadencia] || fallback;\n})()\n}}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={       \n    \"name\": \"{{ $item(\"0\").$node[\"Fields Person\"].json[\"Nome Completo\"] }}\",\n    \"email\": \"{{ $('Fields Person').item.json.Email }}\",\n    \"ownerEmail\": \"{{'julio.braz@automatisalesteste.com.br' ||$item(\"0\").$node[\"Users pipedrive\"].json[\"data\"].find(item =>item.name ==$('Fields Person').item.json.SDR).email }}\",\n  \"city\": \"{{ $('Fields Person').item.json.Cidade }}\",\n  \"company\": \"{{ $('Fields Organization').item.json.Nome }}\",\n  \"facebook\": \"{{ $('Fields Organization').item.json.Facebook }}\",\n  \"linkedId\": \"{{ $('Fields Organization').item.json['Perfil do LinkedIn'] }}\",\n  \"position\": \"{{ $('Fields Person').item.json.Cargo }}\",\n  \"site\": \"{{ $('Fields Organization').item.json.Site }}\",\n  \"state\": \"{{ $('Fields Person').item.json.Estado }}\",\n    \"phones\": [\n        {\n            \"phone\": \"{{ $('Fields Person').item.json.Telefone }}\"\n        }\n    ],\n    \"customFields\": {\n  \"canalDeOrigem\": \"{{ $('Fields Deal').item.json['Canal de Origem'] }}\",\n  \"campanha\": \"{{ $('Fields Deal').item.json.Campanha }}\",\n  \"termo\": \"{{ $('Fields Deal').item.json.Termo }}\",\n  \"instagram\": \"{{ $('Fields Organization').item.json.Instagram ||''}}\",\n{{\n(() => {\n    const Jornada = $('Fields Deal').item.json['Jornada do cliente'];\n    \n    if (!Jornada || Jornada === '' || Jornada === 'null') {\n        return '';\n    }\n    \n    const campo = $('campos personalizados meetime1').item.json.data\n        .find(item => item.field_key == 'jornadaDoCliente');\n    \n    if (!campo || !campo.options) return '';\n    \n    const opcao = campo.options.find(item => item.label == Jornada);\n    \n    return opcao ? `  \"jornadaDoCliente\": \"${opcao.id}\",` : '';\n})()\n}}{{\n(() => {\n    const tipoNegocio = $('Fields Person').item.json['Tipo de negócio'];\n    \n    if (!tipoNegocio || tipoNegocio === '' || tipoNegocio === 'null') {\n        return '';\n    }\n    \n    const campo = $('campos personalizados meetime1').item.json.data\n        .find(item => item.field_key == 'tipoDeNegocio');\n    \n    if (!campo || !campo.options) return '';\n    \n    const opcao = campo.options.find(item => item.label == tipoNegocio);\n    \n    return opcao ? `\"tipoDeNegocio\": \"${opcao.id}\",` : '';\n})()\n}}\n  \"idDealPipe\": \"{{ $('Fields Deal').item.json['ID Negócio'] }}\",\n  \"anotacoesIniciais\": {{\nJSON.stringify($('Fields Deal').item.json['Anotações iniciais'] || '')\n}},\n  \"conjunto\": \"{{ $('Fields Deal').item.json['Conjunto '] }}\",\n  \"pagoOrganico\": \"{{ $('Fields Deal').item.json['ID de Origem'] }}\",\n  \"content\": \"{{ $('Fields Deal').item.json.Content }}\",\n  \"userAgent\": \"{{ $('Fields Person').item.json['User Agent'] }}\",\n  \"userId\": \"{{ $('Fields Person').item.json['User IP'] }}\"\n},\n    \"startImmediately\": true\n}\n","options":{}},"id":"d0e05efd-1c24-4638-bae5-c3d3d7be9d06","name":"Produção1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1888,480],"retryOnFail":true,"alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"40ac98b5-0c24-4009-a9ba-26726d23b5cf","name":"campos personalizados meetime","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,-480],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"ydtbjXWWkeniXwTF","name":"Conta teste"}}},{"parameters":{"method":"POST","url":"={{ (() => {     const cadencia = $item(\"0\").$node[\"Fields Deal\"].json[\"cadência\"];          const urlMap = {         'vending-machine': 'https://api.meetime.com.br/v2/prospections/cadence/57696/lead?token=ANtLf6Pd9o9LeoWxSgNBaVArACy-auOChs3LZbBPD3-M',         'buffet-infantil': 'https://api.meetime.com.br/v2/prospections/cadence/57697/lead?token=bVG6S1EvHDrXq-udz1aUbAEmky1bmWYdpMYonU_j0pY',         'arcade': 'https://api.meetime.com.br/v2/prospections/cadence/57695/lead?token=NFvumvV2peJoyBoa5JS5Adsen8GktlPB914jx36QkF8',         'eventos': 'https://api.meetime.com.br/v2/prospections/cadence/57694/lead?token=IoQXw4ovE_4CSh59XBRmdEC4ZLZtNMXQzrrpOcYSc_M',         'estabelecimentos': 'https://api.meetime.com.br/v2/prospections/cadence/57693/lead?token=OHRqMdIrTjO2xZMg-8CVRbKFAbx4bMnzzeHkzwYxmCk',         'ebook-vm': 'https://api.meetime.com.br/v2/prospections/cadence/57684/lead?token=AK_yac8RThR9sOkDtKXWPJSvdxwgY1S6MGJf7moS5lZM',         'ebook-bi': 'https://api.meetime.com.br/v2/prospections/cadence/57687/lead?token=AtVHAS9SIYSxEM95biUAMXOgVoivM-ILGVfyWqs5RPQ',         'ebook-ar': 'https://api.meetime.com.br/v2/prospections/cadence/57688/lead?token=NxAPaYKwkMdaJBB8DdCGZ1If9rUuq649hy60Xhzrfzc',         'ebook-ev': 'https://api.meetime.com.br/v2/prospections/cadence/57689/lead?token=QIE-I2od68nv1RTvauSeCUhQraXkYNP97kD_YV3_5C4',         'ebook-es': 'https://api.meetime.com.br/v2/prospections/cadence/57691/lead?token=Vn6qAuq5qh1WNFoINMAgDGZu7sEPaUKigq83hCesEWI',         'out-arcade': 'https://api.meetime.com.br/v2/prospections/cadence/57692/lead?token=Q-NdXga5wsu7JfN0sUtQJOu99hvVLN2OwNd4So5K-sA',         'out-buffet': 'https://api.meetime.com.br/v2/prospections/cadence/56484/lead?token=AN1gtrmL4o-N1Yyr47q940m7iKFxBBtJT57veRTO-ZN_'     };          // Fallback para quando estiver nulo ou não encontrado     const fallback = 'https://api.meetime.com.br/v2/prospections/cadence/56461/lead?token=LwDJOhLokK-wuvCa-TV0nNr81A5lTCsu2BYRYAq3iGg';          // Verifica se a cadência existe no mapa, se não usa o fallback     return urlMap[cadencia] || fallback; })() }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"=\n{   \n    \"firstName\": \"{{ $item('0').$node['Get Pessoa'].json['first_name'] }}\",\n    \"name\": \"{{ $item('0').$node['Get Pessoa'].json['name'] }}\",\n    \"email\": \"{{ $item('0').$node['Get Pessoa'].json['email']['0']['value'] }}\",\n    \"ownerEmail\": \"{{ $('Get Negócio').item.json['[BLI] SDR'].email }}\",\n    \"phones\": [\n        {\n            \"phone\": \"{{ $item('0').$node['Get Pessoa'].json['phone']['0']['value'] }}\"\n        }\n    ],\n    \"customFields\": {\n       {{ $json.qualEOSeuPapelOuFuncaoAtual ? '\"qualEOSeuPapelOuFuncaoAtual\": \"'+  $json.qualEOSeuPapelOuFuncaoAtual + '\",\\n      ':''}} {{ $json.qualEOFaturamentoMedioAnualDoSeuNegocio ? '\"qualEOFaturamentoMedioAnualDoSeuNegocio\": \"' +  $json.qualEOFaturamentoMedioAnualDoSeuNegocio + '\",' : ''}}\n        \"qualEODoSeuInstagram\": \"{{ $('Get Negócio').item.json['[BLI] Instagram'] }}\",\n        \"ipmScore\": \"{{ $('Get Negócio').item.json['[BLI] Score'] }}\",\n        \"ipmPersona\": \"{{ $ifEmpty($('Get Negócio').item.json['[BLI] Perfil Financeiro'], \"Não preenchido\") }}\",\n        \"idPipedriveDeal\": \"https://beleadergroup.pipedrive.com/deal/{{ $item(\"0\").$node[\"Filter\"].json[\"body\"][\"meta\"][\"id\"].toString().replace(/\\n/g, \"\")  }}\",\n        \"quaisDificuldadesVoceEnfrentaAtualmenteNoSeuPosicionamento\": \"{{ ($('Get Negócio').item.json['[IPM] Dificuldades'] || \"Não preenchido\").replace(/\\n/g, \"\")}}\",\n        \"porFavorDescrevaOSeuNegocioEmNoMaximo3Linhas\": \"{{ ($('Get Negócio').item.json['[IPM] Descrição Negócio'] ||\"Não preenchido\").replace(/\\n/g, \"\").replace(/(?<!\\\\)\"/g, '\\\\\"')  }}\"\n    },\n    \"startImmediately\": true\n}","options":{}},"id":"9914781b-3a88-4642-a011-b0b3eb1ce9f6","name":"Produção2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2752,688],"retryOnFail":true,"alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"ydtbjXWWkeniXwTF","name":"Conta teste"}}},{"parameters":{"amount":60},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2512,656],"id":"b60f9fac-ea65-42a3-841c-fea8991a5751","name":"Wait","webhookId":"6569aa35-145e-42ff-94f8-0f8673922010"},{"parameters":{"errorMessage":"deu merda"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2928,848],"id":"7a1e9233-40bd-4f98-bb38-7b345305300c","name":"Stop and Error"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b17c829-ddaa-4137-9de2-8445e10972b2","leftValue":"={{ $item(\"0\").$node[\"Produção1\"].json[\"error\"][\"message\"] }}","rightValue":"400 - \"{\\\"errors\\\":[{\\\"type\\\":\\\"thereIsAlreadyAnActiveProspectionWithThisLead\\\",\\\"description\\\":\\\"There is already an active prospection with lead","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2304,592],"id":"3195c3b0-ae45-4e84-ad00-36bfe34e6991","name":"If2"},{"parameters":{"method":"POST","url":"https://api.pipedrive.com/v1/webhooks","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"subscription_url\": \"https://webhook2.automatisales.com.br/webhook/CrialDealRilixNaMeetime\",\n  \"event_action\": \"create\",\n  \"event_object\": \"deal\",\n  \"name\": \"Webhook Meetime\"\n}","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[192,-368],"id":"e9b59262-24b3-4ddd-8561-9324fa9981e6","name":"add webhook","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"content":"\n        \"id\": 7,\n        \"name\": \"SDR\",\n\n\n{\n        \"id\": 32,\n        \"order_nr\": 1,\n        \"name\": \"Sem Interação\",\n        \"active_flag\": true,\n        \"deal_probability\": 100,\n        \"pipeline_id\": 7,\n\n      },\n      {\n        \"id\": 10,\n        \"name\": \"BDR\",\n        \"url_title\": \"BDR1\",42\",\n\n\n   \"id\": 48,\n        \"order_nr\": 1,\n        \"name\": \"Leads Mapeados\",\n        \"active_flag\": true,\n        \"deal_probability\": 100,\n        \"pipeline_id\": 10,\n      \n      },\n\n      {\n        \"id\": 12,\n        \"name\": \"Ebooks\",\n        \"url_title\": \"Ebooks\",\n\n\ndata\": [\n      {\n        \"id\": 58,\n        \"order_nr\": 1,\n        \"name\": \"Sem Interação\",\n        \"active_flag\": true,\n        \"deal_probability\": 100,\n        \"pipeline_id\": 12,\n  ","height":624,"width":1024},"type":"n8n-nodes-base.stickyNote","position":[1456,-432],"typeVersion":1,"id":"61754086-f55f-4f7a-b967-5d6b7b410b6c","name":"Sticky Note1"},{"parameters":{"url":"https://api.pipedrive.com/v1/stages","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","sendQuery":true,"queryParameters":{"parameters":[{"name":"pipeline_id","value":"7"}]},"options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,-320],"id":"387c3e6c-a722-4236-9897-6d06b81b7399","name":"consulta geral","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"organization","operation":"get","organizationId":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Organização\"][\"value\"] }}","resolveProperties":true},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[1104,336],"id":"5dedf8d6-db50-495c-8789-f8703bb93b26","name":"Get Organization","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"resource":"note","operation":"getAll","returnAll":true,"additionalFields":{"deal_id":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"ID\"] }}"}},"type":"n8n-nodes-base.pipedrive","typeVersion":1,"position":[32,528],"id":"4d70e296-b0a5-4a28-a268-89343472b40d","name":"Ler notes","alwaysOutputData":true,"credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ee190944-2290-4b6c-a5b8-89152221c8f7","leftValue":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Organização\"][\"value\"] }}","rightValue":"","operator":{"type":"number","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[928,528],"id":"8d26db81-f50e-4f24-b1b7-c8b960fc9939","name":"If1"},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"57ab8777-888b-43a0-bf79-e0b865a80fe5","name":"campos personalizados meetime1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1280,624],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"8a61af28-d431-43bf-ac89-08519b27e7f4","name":"campos personalizados meetime2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,800],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"ydtbjXWWkeniXwTF","name":"Conta teste"}}},{"parameters":{"url":"https://api.pipedrive.com/v1/users","authentication":"predefinedCredentialType","nodeCredentialType":"pipedriveApi","options":{"response":{"response":{"responseFormat":"json"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1600,576],"id":"2fbd41b7-0c16-4490-8055-a956b32fe419","name":"Users pipedrive","credentials":{"pipedriveApi":{"id":"yHJcf932NIYRSaUN","name":"Rilix"}}},{"parameters":{"assignments":{"assignments":[{"id":"166a38e8-bc87-495b-b94f-fb0852246273","name":"ID Negócio","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"ID\"] }}","type":"string"},{"id":"40f8b9b0-196d-4849-be10-3295fc3a942c","name":"Anotações iniciais","value":"={{ $items(\"Ler notes\").map((item, index) => \"Data: \" + (item.json.add_time ? new Date(item.json.add_time).toLocaleString('pt-BR') : \"N/A\") + \"\\n\" + (index > 0 ? \"Outra anotação: \" : \"\") + item.json.content).join(\"\\n\\n\") }}","type":"string"},{"id":"5580e946-9c19-4bf5-a37e-325feafd010d","name":"ICP","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Cadência\"]}}","type":"string"},{"id":"9b25aa32-f257-4ece-9092-45acf3baf586","name":"Jornada do cliente","value":"=Procurando Um Negocio P/ MInha Familia{{ $item(\"0\").$node[\"Get Negócio\"].json[\"Jornada Do Cliente\"] ||''}}","type":"string"},{"id":"e04bc680-3f37-487f-a806-5be976a654f9","name":"ID de Origem","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Plataforma (Pago/Organico)\"] }}","type":"string"},{"id":"18b4f0d6-71d2-4595-8b76-73816b40ef5e","name":"Canal de Origem","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Canal de Origem\"] }}","type":"string"},{"id":"cd8c6f6d-1ecb-4787-96df-63838db08b2d","name":"Termo","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"ID do canal de origem\"] }}","type":"string"},{"id":"78116ece-36d0-4406-b7ea-e7326e98ebd5","name":"Campanha","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Campanha\"] }}","type":"string"},{"id":"5f8e5ba7-f1a4-40df-8115-a81fa706df2f","name":"Content","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Content\"] }}","type":"string"},{"id":"28803970-098a-42b7-bd87-65dcd409124b","name":"Conjunto ","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Conjunto\"] }}","type":"string"},{"id":"efaeb765-1485-4d0f-af9a-a5b2a7e897d4","name":"cadência","value":"={{ $item(\"0\").$node[\"Get Negócio\"].json[\"Cadência\"]}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,528],"id":"becf4fd7-1da5-44c1-af8a-cb780f832e7f","name":"Fields Deal"},{"parameters":{"assignments":{"assignments":[{"id":"70a747e4-95a3-4db3-9929-dca3560bbced","name":"Nome Completo","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"Nome\"] }}","type":"string"},{"id":"d246ae5f-935e-467d-abcd-74617563459f","name":"Email","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"E-mail\"][\"0\"][\"value\"] }}","type":"string"},{"id":"0ae1ac18-f645-4215-ae2f-bc30446c2dae","name":"Telefone","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"Telefone\"][\"0\"][\"value\"] }}","type":"string"},{"id":"1f4caf5a-f585-473d-80f9-5ab5a58bb74a","name":"Estado","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"Estado\"] }}","type":"string"},{"id":"e4417c87-e8d0-416d-847f-2dc845ef0916","name":"Cidade","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"Cidade\"] }}","type":"string"},{"id":"6eefe702-9fe9-4913-9c83-4c6fcb811c37","name":"Tipo de negócio","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"Tipo de negócio\"] }}","type":"string"},{"id":"4c8d34ea-ed92-4824-a076-6758c543ea8c","name":"Cargo","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"Cargo\"] }}","type":"string"},{"id":"0366eeb6-3355-4f8d-9b1a-18af87f45eb1","name":"SDR","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"SDR\"][\"0\"] }}","type":"string"},{"id":"92cbb085-6ef8-4a18-b773-fd7561fe7296","name":"Fit Score","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"Fit Score\"] }}","type":"string"},{"id":"b428f65c-a8e9-46a8-a9f4-20c35f7736af","name":"User Agent","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"User Agent\"] }}","type":"string"},{"id":"45a2d159-1ed1-44ee-97f8-ce12d69c3172","name":"User IP","value":"={{ $item(\"0\").$node[\"Get Pessoa\"].json[\"User IP\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[720,528],"id":"834a5ad7-e6f7-4ef9-a03a-d9f63293de81","name":"Fields Person"},{"parameters":{"assignments":{"assignments":[{"id":"c3dee0e6-9e16-4261-931d-8d11ce5cadab","name":"Perfil do LinkedIn","value":"={{ $item(\"0\").$node[\"Get Organization\"].json[\"Perfil do LinkedIn\"] }}","type":"string"},{"id":"119fab6d-116f-45fc-af01-057512a43296","name":"Facebook","value":"={{ $item(\"0\").$node[\"Get Organization\"].json[\"Facebook\"] }}","type":"string"},{"id":"be4ec826-8ca6-496a-96a7-8eae64936f6d","name":"Instagram","value":"={{ $item(\"0\").$node[\"Get Organization\"].json[\"Instagram\"] }}","type":"string"},{"id":"96390e96-b69c-4e81-acb7-c3135689faa4","name":"Site","value":"={{ $item(\"0\").$node[\"Get Organization\"].json[\"Site\"] }}","type":"string"},{"id":"737c09b4-d504-4e6a-ab91-c972dbff77de","name":"Nome","value":"={{ $item(\"0\").$node[\"Get Organization\"].json[\"Nome\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1312,336],"id":"9fbe2ff6-0dae-4fff-93ff-ee9a01ca37d8","name":"Fields Organization"},{"parameters":{"url":"https://api.meetime.com.br/v2/users","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"0c7a69ed-75c5-48fd-8787-9249c063eaa2","name":"campos personalizados meetime3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,-144],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"wT1SfRB0iLoJ9m1t","name":"Rilix"}}}],"connections":{"Webhook":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Get Negócio","type":"main","index":0}]]},"Get Negócio":{"main":[[{"node":"Ler notes","type":"main","index":0}]]},"Get Pessoa":{"main":[[{"node":"Fields Person","type":"main","index":0}]]},"campos personalizados meetime":{"main":[[]]},"Produção1":{"main":[[],[]]},"Wait":{"main":[[{"node":"Produção2","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"Wait","type":"main","index":0}]]},"Produção2":{"main":[[]]},"Ler notes":{"main":[[{"node":"Fields Deal","type":"main","index":0}]]},"If1":{"main":[[{"node":"Get Organization","type":"main","index":0}],[{"node":"campos personalizados meetime1","type":"main","index":0}]]},"Get Organization":{"main":[[{"node":"Fields Organization","type":"main","index":0}]]},"campos personalizados meetime1":{"main":[[{"node":"Users pipedrive","type":"main","index":0}]]},"Users pipedrive":{"main":[[]]},"Fields Deal":{"main":[[{"node":"Get Pessoa","type":"main","index":0}]]},"Fields Person":{"main":[[{"node":"If1","type":"main","index":0}]]},"Fields Organization":{"main":[[{"node":"campos personalizados meetime1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"wlpahpLREEEcju2c"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook2.automatisales.com.br","user-agent":"Pipedrive Webhooks","content-length":"2218","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"44.233.144.126","x-forwarded-host":"webhook2.automatisales.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2c1c4eafa7e2","x-real-ip":"44.233.144.126"},"params":{},"query":{},"body":{"data":{"add_time":"2025-10-10T20:54:56Z","channel":134,"channel_id":"Make (unpublished)","close_time":null,"creator_user_id":16084461,"currency":"BRL","custom_fields":{"26b36a80bee81c4d25d6bfbcacd7b9c84f606eee":null,"66fbc2dbbe08cb1768b2d8d7b66c6296a75d7f18":{"type":"varchar","value":"Estou querendo montar o parque"},"a44a6ef5b8293ab858a00c8991cdc9ad8eb2dccb":{"type":"varchar","value":"pago"},"beeea7154b1547690463139cec4fab1dea40be20":null,"f67902b283b34678c307b077b3f63c41df78eec0":{"type":"varchar","value":"Buffet_Infantil"},"8b8d1412e1291ed1c05d157300e6ad3dd62ea929":null,"43af916c23a13ab103baafb0de40f9560793e553":{"type":"varchar","value":"pmax_lead_aquisição_buffet_infantil"},"be1f2cdab1dad892e596f3da4769de95c1419587":{"type":"varchar","value":"google_cont"},"7a7cd45e769f8adf146cb210f13ca170da7c5d42":null,"d23eba44401ece6f3f9750fb46e13234e0c881e7":null,"2734b5707b0a04e8382c1fc566f274bec2c055b6":{"type":"varchar","value":"Buffet_Infantil"},"9124c94a4484aabbbe9fae6c0ac13248fa0f16ff":null,"a3d92d403b3e5983141d533942bee310712123d6":null},"expected_close_date":null,"first_won_time":null,"id":27452,"label_ids":[],"lost_reason":null,"lost_time":null,"org_id":9308,"origin":"Marketplace","origin_id":"ad545a626a2e473d","owner_id":22664716,"person_id":25624,"pipeline_id":7,"probability":null,"stage_change_time":null,"stage_id":32,"status":"open","title":"(LP - BI) Pedro Luiz","update_time":null,"value":0,"visible_to":"3","won_time":null,"is_archived":false,"archive_time":null},"previous":null,"meta":{"action":"create","company_id":"3919609","correlation_id":"8344781b-4891-406d-9975-5d8984057c84","entity_id":"27452","entity":"deal","id":"4a3fb679-4ac6-4859-9ffe-d362f6db2812","is_bulk_edit":false,"timestamp":"2025-10-10T20:54:56.179Z","type":"general","user_id":"16084461","version":"2.0","webhook_id":"2095282","webhook_owner_id":"16084461","change_source":"app","permitted_user_ids":["6135773","6214158","10424340","12626131","12752807","13273932","15511174","16084461","16478536","16478547","16478558","16876175","17002953","20683528","22151676","22151687","22192145","22664606","22664672","22664716","22664771","22664826","23538479","23757610"],"attempt":1,"host":"rilixllc.pipedrive.com"}},"webhookUrl":"https://webhook2.automatisales.com.br/webhook/CrialDealRilixNaMeetime","executionMode":"production"}}]},"versionId":"a46aa1da-1b44-4728-904e-2c7613da185d","triggerCount":1,"shared":[{"createdAt":"2025-10-10T15:45:02.572Z","updatedAt":"2025-10-10T15:45:02.572Z","role":"workflow:owner","workflowId":"GcnzFVoRaTErctkD","projectId":"5Z2b5yWkWWKq8wM8"}],"tags":[]}