backup-02-new-credencial-AW30w9IZZrVJ5CkR.json
{"createdAt":"2025-10-09T23:40:27.633Z","updatedAt":"2025-10-09T23:52:37.978Z","id":"AW30w9IZZrVJ5CkR","name":"Backup 02 new credencial","active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"2cf66f79-5a61-41f4-bc28-cd155c11cb10","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[48,432],"disabled":true},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/Julio-Braz/backup-auto2","mode":"url"},"repository":{"__rl":true,"value":"-Julio-Braz-backup-auto2","mode":"list","cachedResultName":"-Julio-Braz-backup-auto2","cachedResultUrl":"https://github.com/Julio-Braz/-Julio-Braz-backup-auto2"},"filePath":"="},"id":"5b4847a2-65ad-4d80-b0e7-7b68ae531940","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[848,432],"alwaysOutputData":true,"webhookId":"31359d29-1d0f-4e28-af6a-697e13d37006","credentials":{"githubApi":{"id":"nixHoLQmGhx4GIKK","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"1edef9d6-f9b6-4b4f-a43b-d8a3b10ac14e","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[1040,432]},{"parameters":{"filters":{},"requestOptions":{}},"id":"e216065e-07bd-4101-82b7-7d36166e9e6b","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[1248,432],"credentials":{"n8nApi":{"id":"0nJ7h2ovltdtBAXM","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"c34c8d6c-042d-439c-b95c-5533f7aca01d","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1440,432]},{"parameters":{"batchSize":1,"options":{}},"id":"905ffeeb-a61e-4262-9281-9f194d02da26","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1680,432]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"e4367ae2-fcea-4ea9-a85f-d0940c7fa6c6","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1920,352]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/Julio-Braz/backup-auto2","mode":"url"},"repository":{"__rl":true,"value":"-Julio-Braz-backup-auto2","mode":"list","cachedResultName":"-Julio-Braz-backup-auto2","cachedResultUrl":"https://github.com/Julio-Braz/-Julio-Braz-backup-auto2"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"08ede9c7-d7c5-41c4-a9a3-c7878d47c04b","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2144,176],"webhookId":"9f1fe64d-a3aa-45dd-8ff5-58fb5f71d03a","credentials":{"githubApi":{"id":"nixHoLQmGhx4GIKK","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/Julio-Braz/backup-auto2","mode":"url"},"repository":{"__rl":true,"value":"-Julio-Braz-backup-auto2","mode":"list","cachedResultName":"-Julio-Braz-backup-auto2","cachedResultUrl":"https://github.com/Julio-Braz/-Julio-Braz-backup-auto2"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"0f93b027-472f-483e-8a61-f03c8f006a60","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[2144,544],"webhookId":"a44782b0-dc42-42d3-9a88-a415d52bb321","credentials":{"githubApi":{"id":"nixHoLQmGhx4GIKK","name":"GitHub account"}}},{"parameters":{"content":"## Trigger\nYou can change it to [\"Schedule\" trigger](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) to make backups on regular basis.","height":339.51767272727324,"width":182.4715262478496},"id":"6ac3daea-86c4-43dd-b452-e004dd1ba57d","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,272]},{"parameters":{"content":"## Set and format date/time\nThis node is responsible for setting a current date and time in format `dd-MM-yyyy/H:mm`. Date and time are used to compose commit messages in GitHub, for example: `backup-12-07-2023/14:18`.","height":339.42690909090965,"width":585.4045090909088},"id":"bac67d44-946f-4d28-a5b9-2e0ad3fec3d0","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[208,272]},{"parameters":{"content":"## Make a list of existing files\nReturn a list of existing files (backups) in GitHub repository. Data returned by those nodes is used by \"IF\" node (later in workflow) to check whether the backup files should be created or updated.","height":339.42690909090965,"width":389.89265454545443},"id":"421c997d-bbff-4de0-9190-d41475d9ee0f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[800,272]},{"parameters":{"content":"## Retrieve workflows\nGet all workflows form your n8n instance. Remember that **your credentials need to point to the instance that you want to backup.**","height":339.42690909090965,"width":384.14708363636373},"id":"98b69f06-1462-43a8-9d5a-c176de4e7bc4","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1232,272]},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":731.633426614796,"width":703.8733020263451},"id":"b71cfc68-c2f8-4dbd-ba0f-76f0c785370b","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1632,0]},{"parameters":{"content":"## ⚠️ Note\n\n1. Complete video guide for this workflow is available [on my YouTube](https://www.youtube.com/watch?v=dNuVuoPD0Jo). \n2. Remember to add your credentials and configure GitHub nodes (covered in the video guide).\n3. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/).\n\n**Thank you for your support!**","height":234.82946582693546,"width":508.8662091091177},"id":"adae7df6-3705-40ae-91ed-a29436ea10c0","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"rule":{"interval":[{"triggerAtMinute":15}]}},"id":"9a8f0da9-9631-4343-a1b0-570bd8a49c21","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[32,608]},{"parameters":{"batchSize":1,"options":{}},"id":"a46faa94-cfc2-4754-ad1a-1525625ad18f","name":"Split to single items1","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1392,1120]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"62981813-7c7a-41c6-a6ce-8d8765c4a042","name":"Check if file exists in repository1","type":"n8n-nodes-base.if","typeVersion":1,"position":[1632,1040]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/Julio-Braz/backup-auto2","mode":"url"},"repository":{"__rl":true,"value":"-Julio-Braz-backup-auto2","mode":"list","cachedResultName":"-Julio-Braz-backup-auto2","cachedResultUrl":"https://github.com/Julio-Braz/-Julio-Braz-backup-auto2"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"037175e9-c3ed-4c69-8876-e187a651ab5f","name":"Update file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[1840,864],"webhookId":"ed492442-f289-4d49-8f85-d5c339a09546","credentials":{"githubApi":{"id":"nixHoLQmGhx4GIKK","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"url","value":"https://github.com/Julio-Braz/backup-auto2","__regex":"https:\\/\\/(?:[^/]+)\\/([-_0-9a-zA-Z]+)"},"repository":{"__rl":true,"value":"-Julio-Braz-backup-auto2","mode":"list","cachedResultName":"-Julio-Braz-backup-auto2","cachedResultUrl":"https://github.com/Julio-Braz/-Julio-Braz-backup-auto2"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"60cbb36d-8443-4228-ab92-9078dec7bc79","name":"Upload file [GITHUB]1","type":"n8n-nodes-base.github","typeVersion":1,"position":[1840,1248],"webhookId":"3e21058d-2847-4519-bb21-69c73a18bb14","credentials":{"githubApi":{"id":"nixHoLQmGhx4GIKK","name":"GitHub account"}}},{"parameters":{"fileSelector":"/tmp/CREDENCIAL - todas-credenciais.json","options":{}},"id":"8fd36471-3cd3-41fe-98a3-3887a8243ca0","name":"Baixa o arquivo","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1120,1120]},{"parameters":{"command":"n8n export:credentials --all --decrypted --output=/tmp/\"CREDENCIAL - todas-credenciais.json\""},"id":"ca83fe3c-af92-47ff-96df-2ca3955f761a","name":"Exporta credenciais em arquivo único1","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[928,1120]},{"parameters":{"command":"rm -rf /home/node/n8n-backups/credentials"},"id":"db2f3940-8271-4144-a0e4-56648356f570","name":"Execute Command","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[832,1872]},{"parameters":{"fileSelector":"/home/node/n8n-backups/credentials/*.json"},"id":"f318d918-6153-4176-95db-d2083ddca316","name":"Ler Arquivos Binários1","type":"n8n-nodes-base.readBinaryFiles","position":[1264,1872],"typeVersion":1},{"parameters":{"setAllData":false,"options":{}},"id":"c92ff143-747c-4922-8cbb-598c35559229","name":"Transforma arquivos Binários1","type":"n8n-nodes-base.moveBinaryData","position":[1488,1872],"typeVersion":1},{"parameters":{"jsCode":"return items.map(item => {\n  // Verifique se o campo data é uma string válida e parseie\n  let data = {};\n  if (typeof item.json.data === 'string') {\n    try {\n      data = JSON.parse(item.json.data); // Converte a string JSON em objeto\n    } catch (error) {\n      return { json: { error: \"Invalid JSON format\" } };\n    }\n  }\n\n  const name = data?.name || 'No name found'; // Extrai o campo \"name\"\n\n  return {\n    json: {\n      name: name,\n      ...item.json  // Inclua os dados originais, se necessário\n    }\n  };\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1712,1872],"id":"69c5d8d7-5168-4958-a43d-548b3a4f5efe","name":"Extrair o name de cada arquivo1"},{"parameters":{"command":"n8n export:credentials --decrypted --backup --output=/home/node/n8n-backups/credentials"},"id":"824f852a-13a6-4104-bc21-9bfd2aeb82d6","name":"Exportar Credentials","type":"n8n-nodes-base.executeCommand","position":[1072,1872],"typeVersion":1},{"parameters":{"options":{}},"id":"2b62c177-17c1-48a2-b89b-a41f4100ba62","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2832,1744]},{"parameters":{},"id":"69936139-ff62-4356-bc48-4e55fb0381b6","name":"Replace Me","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3104,1552]},{"parameters":{"options":{}},"id":"9f139df8-1719-41c8-bcef-508c447aa4eb","name":"Loop Over Items1","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1920,1872]},{"parameters":{"command":"=mv \"/home/node/n8n-backups/credentials/{{ JSON.parse($json.data).id }}.json\" \"/home/node/n8n-backups/credentials/CREDENCIAL - {{ JSON.parse($json.data).name }}.json\""},"id":"b143bc98-f1ac-438a-8648-03c818ac718d","name":"Renomeia os arquivos","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2144,1952]},{"parameters":{"command":"find /home/node/n8n-backups/credentials/ -type f -name \"*.json\""},"id":"1d1fc1d0-d93e-4d97-b9a6-c7b27fbd9035","name":"Busca os Arquivos","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2144,1744]},{"parameters":{"jsCode":"// Obter o campo stdout do primeiro item do input\nconst stdout = $input.first().json.stdout;\n\n// Dividir a string stdout em linhas individuais\nconst filePaths = stdout.split('\\n').filter(path => path.trim() !== '');\n\n// Criar um array de objetos com a propriedade \"fileNames\"\nconst result = filePaths.map(path => {\n  return { fileNames: path.split('/').pop() };\n});\n\n// Retornar o array de objetos\nreturn result;"},"id":"e9ae0e2c-c434-4aa5-b37a-5f9301fb5738","name":"Lista os arquivos","type":"n8n-nodes-base.code","typeVersion":2,"position":[2352,1744]},{"parameters":{"fileSelector":"=/home/node/n8n-backups/credentials/{{ $json.fileNames }}","options":{}},"id":"2be9f660-3c73-43fc-97e1-7197e7638b91","name":"Baixa os arquivos","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2608,1744],"executeOnce":false},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"415e45f8-7e77-4daa-9175-ea5e63ba4878","name":"Check if file exists in repository2","type":"n8n-nodes-base.if","typeVersion":1,"position":[3120,1792]},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/Julio-Braz/backup-auto2","mode":"url"},"repository":{"__rl":true,"value":"-Julio-Braz-backup-auto2","mode":"list","cachedResultName":"-Julio-Braz-backup-auto2","cachedResultUrl":"https://github.com/Julio-Braz/-Julio-Braz-backup-auto2"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"c74a30f1-4e45-4985-bade-836da76cd02e","name":"Update file [GITHUB]2","type":"n8n-nodes-base.github","typeVersion":1,"position":[3408,1552],"webhookId":"1966cdf9-9993-4df8-9cc0-637ba6a8f8b2","credentials":{"githubApi":{"id":"nixHoLQmGhx4GIKK","name":"GitHub account"}}},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"https://github.com/Julio-Braz/backup-auto2","mode":"url"},"repository":{"__rl":true,"value":"-Julio-Braz-backup-auto2","mode":"list","cachedResultName":"-Julio-Braz-backup-auto2","cachedResultUrl":"https://github.com/Julio-Braz/-Julio-Braz-backup-auto2"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"c62b5133-77ca-4d88-aa0f-159f3b4f9bed","name":"Upload file [GITHUB]2","type":"n8n-nodes-base.github","typeVersion":1,"position":[3408,1904],"webhookId":"3252de78-70f9-4d32-9f9d-63d5e26d7e7b","credentials":{"githubApi":{"id":"nixHoLQmGhx4GIKK","name":"GitHub account"}}},{"parameters":{"operation":"formatDate","date":"={{ $now}}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","outputFieldName":"commitDate","options":{}},"id":"7c61237a-6643-49b1-b21a-9edb0b7472f0","name":"Set commit date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[400,432]},{"parameters":{"content":"# CREDENCIAIS - Um único arquivo criptografado","height":620,"width":1340,"color":3},"type":"n8n-nodes-base.stickyNote","position":[880,832],"typeVersion":1,"id":"56e1e713-5a73-4fa4-aa2d-d36adf670796","name":"Sticky Note7"},{"parameters":{"content":"# CREDENCIAIS - Arquivos separados","height":700,"width":2940,"color":4},"type":"n8n-nodes-base.stickyNote","position":[704,1504],"typeVersion":1,"id":"b4760c77-6142-4393-879e-c6e58308444f","name":"Sticky Note8"}],"connections":{"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Exporta credenciais em arquivo único1","type":"main","index":0},{"node":"Execute Command","type":"main","index":0},{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Split to single items1":{"main":[[{"node":"Check if file exists in repository1","type":"main","index":0}]]},"Check if file exists in repository1":{"main":[[{"node":"Update file [GITHUB]1","type":"main","index":0}],[{"node":"Upload file [GITHUB]1","type":"main","index":0}]]},"Update file [GITHUB]1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Upload file [GITHUB]1":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Baixa o arquivo":{"main":[[{"node":"Split to single items1","type":"main","index":0}]]},"Exporta credenciais em arquivo único1":{"main":[[{"node":"Baixa o arquivo","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Exportar Credentials","type":"main","index":0}]]},"Ler Arquivos Binários1":{"main":[[{"node":"Transforma arquivos Binários1","type":"main","index":0}]]},"Transforma arquivos Binários1":{"main":[[{"node":"Extrair o name de cada arquivo1","type":"main","index":0}]]},"Extrair o name de cada arquivo1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Exportar Credentials":{"main":[[{"node":"Ler Arquivos Binários1","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Replace Me","type":"main","index":0}],[{"node":"Check if file exists in repository2","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Busca os Arquivos","type":"main","index":0}],[{"node":"Renomeia os arquivos","type":"main","index":0}]]},"Renomeia os arquivos":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Busca os Arquivos":{"main":[[{"node":"Lista os arquivos","type":"main","index":0}]]},"Lista os arquivos":{"main":[[{"node":"Baixa os arquivos","type":"main","index":0}]]},"Baixa os arquivos":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Check if file exists in repository2":{"main":[[{"node":"Update file [GITHUB]2","type":"main","index":0}],[{"node":"Upload file [GITHUB]2","type":"main","index":0}]]},"Update file [GITHUB]2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Upload file [GITHUB]2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d0a9361d-5217-416b-b321-85cdf6187e67","triggerCount":1,"shared":[{"createdAt":"2025-10-09T23:40:27.633Z","updatedAt":"2025-10-09T23:40:27.633Z","role":"workflow:owner","workflowId":"AW30w9IZZrVJ5CkR","projectId":"5Z2b5yWkWWKq8wM8"}],"tags":[]}