datastone-->-novo-negócio-JjacZHRycszp3Yxp.json
{"updatedAt":"2025-11-11T00:32:33.096Z","createdAt":"2025-11-04T16:32:35.155Z","id":"JjacZHRycszp3Yxp","name":"DATASTONE -> NOVO NEGÓCIO","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"DataStoneEntradaLeads","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-288,-16],"id":"5f357dcc-ce15-47dd-8d96-ebdbe62a697f","name":"Webhook","webhookId":"1d43e537-b746-456c-bb87-c636a801c2d9"},{"parameters":{"url":"https://services.leadconnectorhq.com/users/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[640,384],"id":"84c971e7-0241-43f1-9f75-7fd62572c068","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/custom-fields/object-key/{{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"][\"0\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[304,528],"id":"2b6dbe4e-4cb6-4dd7-ae76-a8330f2069d1","name":"HTTP Request2","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/locations/CcbGytNWfngxB5I0klXe/customFields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"model","value":"opportunity"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,-400],"id":"9c9fd020-dc57-45cb-962f-9f8b6eeb2b53","name":"Campos personalizados contato","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"contact_id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-64,-16],"id":"0567f13c-f7e0-48f8-bac1-8ede6ee8d641","name":"ler contact","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='No-Show'? 'https://api.meetime.com.br/v2/prospections/cadence/58309/lead?token=AOJjybv29fWONZljiimZAjS64ZtufwqdMl79MR4m5TNc': $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Recuperação CRM'? 'https://api.meetime.com.br/v2/prospections/cadence/58429/lead?token=AJw_mPDNGh8Lebi6iDwwitMVPQweVnLbjmEiTo77a8eQ':$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Reaquecimento'? 'https://api.meetime.com.br/v2/prospections/cadence/58474/lead?token=WhjaujKRc836HvSUIHjrK7rm4Ujw8qEuZ_H_jPwepnc':$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Prospecção fria'? 'https://api.meetime.com.br/v2/prospections/cadence/58156/lead?token=AJpAPvseFkYzjo8N2Ys_eU5VBslk-gkJVnCHW2oFyxg':$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Inbound'? 'https://api.meetime.com.br/v2/prospections/cadence/58347/lead?token=AMBQUcA8k79PvKFwpBKnt-WEGwq0lYqcGb60eQgKXhWA':'https://api.meetime.com.br/v2/prospections/cadence/57289/lead?token=Gtn71dO5SZDNJ7TyFED8eXqhqQ9qf-I0vWyfh8Yali4'}}\n","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={       \n  \"name\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"First_name\"] }}{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Last_name\"]?' '+ $item(\"0\").$node[\"Varaiveis\"].json[\"Last_name\"]:'' }}\",\n  \"firstName\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"First_name\"] }}\",\n  \"email\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Email\"] }}\",\n  \"ownerEmail\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"owner\"] }}\",\n  \"company\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Company_name\"] }}\",\n  \"linkedId\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Linkedin\"] }}\",\n  \"origin\": {\n    \"campaign\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"campaign\"] }}\",\n    \"source\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"source\"] }}\"\n  },\n    \"phones\": [\n        {\n            \"phone\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Phone\"] }}\"\n        }\n    ],\n  \"customFields\": {\n  \"cnpj\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"CNPJ\"] }}\",\n  \"idDealGoHighLevel\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Id_Opportunidade\"] }}\",\n  \"lpDeConversao\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"lp\"] }}\"\n},\n    \"startImmediately\": {{ $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='No-Show'? true: $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Recuperação CRM'? false:$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Reaquecimento'? false:$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Prospecção fria'? false:$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Inbound'? true:false}}\n}\n","options":{}},"id":"e9376d47-efed-4778-8ff5-dfc46e81a638","name":"Produção1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,-16],"retryOnFail":true,"alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"ydtbjXWWkeniXwTF","name":"Conta teste"}},"onError":"continueErrorOutput"},{"parameters":{"errorMessage":"deu merda"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1296,128],"id":"ac171981-d452-4322-b80d-03c30cff31d0","name":"Stop and Error"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b17c829-ddaa-4137-9de2-8445e10972b2","leftValue":"={{ $item(\"0\").$node[\"Produção1\"].json[\"error\"][\"message\"] }}","rightValue":"400 - \"{\\\"errors\\\":[{\\\"type\\\":\\\"thereIsAlreadyAnActiveProspectionWithThisLead\\\",\\\"description\\\":\\\"There is already an active prospection with lead","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[960,32],"id":"a6f9c298-81ce-4411-9a9c-e97999db7f60","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"e32cf915-55b1-4e74-936f-f5756a85f370","name":"First_name","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"firstName\"] }}","type":"string"},{"id":"c252830e-26c0-4e6e-ad59-57aba5a968f3","name":"Last_name","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"lastName\"] }}","type":"string"},{"id":"eb67afab-2978-4742-8d89-2eb34ad5c4e5","name":"Email","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"email\"] }}","type":"string"},{"id":"11eeba45-b724-48fa-874d-f5785a3cf2d5","name":"Phone","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"phone\"] }}","type":"string"},{"id":"f799a162-4760-4f79-8489-79729eaef700","name":"Id_Opportunidade","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"id\"] }}","type":"string"},{"id":"33d5983f-1d75-461b-930a-f13505736bad","name":"Company_name","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"companyName\"] }}","type":"string"},{"id":"ddcd9c00-0b8b-425c-9c68-109e6fac6f1e","name":"CNPJ","value":"={{ \n  ($item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"].find(item => item.id == \"hTyYFw5a2hTzWI2FlSeP\") || {}).value || ''\n}}","type":"string"},{"id":"4cbc24d4-4c8b-40ed-bcc0-bd711814c96e","name":"Linkedin","value":"={{    ($item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"].find(item => item.id == \"Hulfd9vqb1WGKu65CJbW\") || {}).value || '' }}","type":"string"},{"id":"852242d9-7ec5-4868-9711-6b3fa6176165","name":"source","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"source\"] }}","type":"string"},{"id":"996c84e5-6f07-462e-888e-d09868fe8c4b","name":"=lp","value":"={{    ($item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"].find(item => item.id == \"yUORsEN2r3gvBxzgWoT5\") || {}).value || '' }}","type":"string"},{"id":"502d536b-4b77-49af-a4a8-83a352b3e8dd","name":"=campaign","value":"={{    ($item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"].find(item => item.id == \"twQ9TKZfG3MTP5y114mU\") || {}).value || '' }}","type":"string"},{"id":"07129e8f-0826-498b-b7ba-89a9c7551b53","name":"Etapa","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"pipleline_stage\"] }}","type":"string"},{"id":"7de5ad97-cc2b-44f0-83b5-e1bbbe2e5634","name":"cadência","value":"={{    ($item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"].find(item => item.id == \"Yxd09IEoQY9GCUvVKiOw\") || {}).value || '' }}","type":"string"},{"id":"143d98a6-c2a9-4347-95ca-e9dc2635c4dd","name":"owner","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"pipleline_stage\"] =='No-Show'? ($item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"customFields\"].find(item => item.id == \"am5t9kExbOTvdDk6PNja\") || {}).value || '': $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"pipleline_stage\"] =='Recuperação CRM'? ($item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"customFields\"].find(item => item.id == \"am5t9kExbOTvdDk6PNja\") || {}).value || '':$item(\"0\").$node[\"Webhook\"].json[\"body\"][\"pipleline_stage\"] =='Reaquecimento'? $('Webhook').item.json.body.user.email :$item(\"0\").$node[\"Webhook\"].json[\"body\"][\"pipleline_stage\"] =='Prospecção fria'? $('Webhook').item.json.body.user.email :$item(\"0\").$node[\"Webhook\"].json[\"body\"][\"pipleline_stage\"] =='Inbound'? $('Webhook').item.json.body.user.email:''}}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,16],"id":"3429550c-a960-45d2-983d-4c5d27ccbbf8","name":"Varaiveis"},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"96921582-8d1b-4d8e-9459-f84016cb856e","name":"campos personalizados meetime3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,-384],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"guVOe6gJoY5RnYXI","name":"Meetime - DataStone"}}},{"parameters":{"url":"https://api.meetime.com.br/v2/cadences","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"becc0536-17eb-45bf-92f2-7713e1555afb","name":"campos personalizados meetime","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,-336],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"ydtbjXWWkeniXwTF","name":"Conta teste"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[96,-144],"id":"70b3e21c-cd45-4045-850f-3364541dda81","name":"ler Deal","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/users/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"assignedTo\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[336,-208],"id":"dc8b6a70-7f24-4c88-a841-49520129fc77","name":"ler USER owner do Deal","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}}],"connections":{"Webhook":{"main":[[{"node":"ler contact","type":"main","index":0}]]},"ler contact":{"main":[[{"node":"ler Deal","type":"main","index":0}]]},"Produção1":{"main":[[],[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"Stop and Error","type":"main","index":0}]]},"Varaiveis":{"main":[[{"node":"Produção1","type":"main","index":0}]]},"ler Deal":{"main":[[{"node":"Varaiveis","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"wlpahpLREEEcju2c"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook2.automatisales.com.br","user-agent":"axios/1.12.2","content-length":"2490","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","traceparent":"00-1bec1e8ceccf6535b51a708403a50cb4-eb1947034c9e6ad8-00","x-forwarded-for":"34.172.111.204","x-forwarded-host":"webhook2.automatisales.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2c1c4eafa7e2","x-real-ip":"34.172.111.204"},"params":{},"query":{},"body":{"Linkedin Persona":"","UTM Campaign":"SEARCH_B2C","UTM Medium":"cpc","UTM Content":"KWD_LEADS","UTM Source":"google","UTM Term":"lista de leads","LP de conversão":"https://pages.datastone.com.br/mailing/?utm_source=google&utm_medium=cpc&utm_campaign=SEARCH_B2C&utm_content=KWD_LEADS&utm_term=lista%20de%20leads&gclid=CjwKCAiAt8bIBhBpEiwAzH1w6VI52LBjbKsg7rohZKX_GU7TX5zHF6xdIG2Z4H-AwVSnck8d0clE1BoCX0UQAvD_BwE&gad_source=1&gad_campaignid=19638743416&gbraid=0AAAAACccE47n_bxGLuBx7HMP9xQ_XPiSa","[L] Cliente ou conhecer soluções":"","[L] Segmento":"","[L] Volumetria":"","[L] Urgência":"","[L] Reunião ou WhatsApp":"","[L] Créditos ou suporte":"","[L] Leadscore":"","[L] Houve agendamento?":"","[L] Responsável agendamento":"","[L] Agendamento: data e hora":"","Cargo":"","CNPJ":"","Your Message":"","[Manual] Origem":"Google","ID Data Stone":"","[PLG] Como conheceu a Data Stone?":"","Como conheceu a Data Stone?":"","Indicado por":"","Segmento":"","GCLID":"CjwKCAiAt8bIBhBpEiwAzH1w6VI52LBjbKsg7rohZKX_GU7TX5zHF6xdIG2Z4H-AwVSnck8d0clE1BoCX0UQAvD_BwE","Visitantes por mês":"","Leads por mês":"","Investe em tráfego pago?":"","ID Contato Instantly":"","Time comercial":"1 - 3","Cadencia Meetime":"","contact_id":"JQyk8sWOgqFzjz9RS2Xx","first_name":"TALITA ANTUNES PEREIRA","full_name":"TALITA ANTUNES PEREIRA","email":"talitaap10@gmail.com","phone":"+5511937368861","tags":"cadastro simples","country":"BR","date_created":"2025-11-10T22:38:18.603Z","company_name":"TALITA ANTUNES ADVOCACIA PREVIDENCIARIA","contact_source":"google","full_address":"","contact_type":"lead","opportunity_name":"TALITA ANTUNES PEREIRA | TALITA ANTUNES ADVOCACIA PREVIDENCIARIA","status":"open","opportunity_source":"google","source":"google","pipleline_stage":"MQL","pipeline_id":"mN83CwcYf6r99vFl7XoH","id":"PTHbaNM6vxmIbZDS0qMZ","pipeline_name":"PV Inbound","user":{"firstName":"Adriano","lastName":"Fernandes","email":"afernandes@datastone.com.br"},"owner":"Adriano Fernandes","location":{"name":"Data Stone","address":"Av. Nações Unidas, 12901 - 25 Andar","city":"Sao Paulo","state":"SP","country":"BR","postalCode":"04641000","fullAddress":"Av. Nações Unidas, 12901 - 25 Andar, Sao Paulo SP 04641000","id":"CcbGytNWfngxB5I0klXe"},"workflow":{"id":"12815701-3aef-43d2-aa8f-a37314961833","name":"GHL <> Meetime"},"triggerData":{},"contact":{"attributionSource":{"sessionSource":"CRM Workflows","medium":"Manual","mediumId":null},"lastAttributionSource":{}},"attributionSource":{},"customData":{}},"webhookUrl":"https://webhook2.automatisales.com.br/webhook/DataStoneEntradaLeads","executionMode":"production"}}]},"versionId":"df1025b5-1010-4c08-afcd-8169165dae00","triggerCount":1,"shared":[{"updatedAt":"2025-11-04T16:32:35.155Z","createdAt":"2025-11-04T16:32:35.155Z","role":"workflow:owner","workflowId":"JjacZHRycszp3Yxp","projectId":"5Z2b5yWkWWKq8wM8"}],"tags":[]}