datastone-->-novo-negócio-JjacZHRycszp3Yxp.json
{"updatedAt":"2025-12-01T18:56:09.865Z","createdAt":"2025-11-04T16:32:35.155Z","id":"JjacZHRycszp3Yxp","name":"DATASTONE -> NOVO NEGÓCIO","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"DataStoneEntradaLeads","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-288,-16],"id":"5f357dcc-ce15-47dd-8d96-ebdbe62a697f","name":"Webhook","webhookId":"1d43e537-b746-456c-bb87-c636a801c2d9"},{"parameters":{"url":"https://services.leadconnectorhq.com/users/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[720,656],"id":"84c971e7-0241-43f1-9f75-7fd62572c068","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/custom-fields/object-key/{{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"][\"0\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[304,528],"id":"2b6dbe4e-4cb6-4dd7-ae76-a8330f2069d1","name":"HTTP Request2","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/locations/CcbGytNWfngxB5I0klXe/customFields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"model","value":"opportunity"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,-400],"id":"9c9fd020-dc57-45cb-962f-9f8b6eeb2b53","name":"Campos personalizados contato","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"contact_id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-64,-16],"id":"0567f13c-f7e0-48f8-bac1-8ede6ee8d641","name":"ler contact","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='No-Show'? 'https://api.meetime.com.br/v2/prospections/cadence/58309/lead?token=AOJjybv29fWONZljiimZAjS64ZtufwqdMl79MR4m5TNc': $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Reaproveitamento'? 'https://api.meetime.com.br/v2/prospections/cadence/58429/lead?token=AJw_mPDNGh8Lebi6iDwwitMVPQweVnLbjmEiTo77a8eQ':$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Reaquecimento'? 'https://api.meetime.com.br/v2/prospections/cadence/58474/lead?token=WhjaujKRc836HvSUIHjrK7rm4Ujw8qEuZ_H_jPwepnc':$item(\"0\").$node[\"Varaiveis\"].json[\"cadência\"] =='Prospecção fria'? 'https://api.meetime.com.br/v2/prospections/cadence/58156/lead?token=AJpAPvseFkYzjo8N2Ys_eU5VBslk-gkJVnCHW2oFyxg':$item(\"0\").$node[\"Varaiveis\"].json[\"cadência\"]  =='Inbound'? 'https://api.meetime.com.br/v2/prospections/cadence/58347/lead?token=AMBQUcA8k79PvKFwpBKnt-WEGwq0lYqcGb60eQgKXhWA': $item(\"0\").$node[\"Edit Fields\"].json[\"New Cadência\"] ? $item(\"0\").$node[\"Edit Fields\"].json[\"New Cadência\"]: 'https://api.meetime.com.br/v2/prospections/cadence/58347/lead?token=AMBQUcA8k79PvKFwpBKnt-WEGwq0lYqcGb60eQgKXhWA'}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 8f7024c24ab2fb505283b502d17a2caa"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={       \n  \"name\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"First_name\"] }}{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Last_name\"]?' '+ $item(\"0\").$node[\"Varaiveis\"].json[\"Last_name\"]:'' }}\",\n  \"firstName\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"First_name\"] }}\",\n  \"email\": \"{{ $item(\"0\").$node[\"Filter\"].json[\"Email\"] }}\",\n  \"ownerEmail\": \"{{ \n  $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"pipleline_stage\"] == 'No-Show' \n    ?  $item(\"0\").$node[\"Varaiveis\"].json[\"Pré-vendedor\"] || ''\n    : $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"pipleline_stage\"] == 'Recuperação CRM'\n    ?  $item(\"0\").$node[\"Varaiveis\"].json[\"Pré-vendedor\"] || ''\n    : $item(\"0\").$node[\"Varaiveis\"].json[\"owner\"] \n}}\",\n  \"company\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Company_name\"]||\"\" }}\",\n  \"linkedId\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Linkedin\"] }}\",\n  \"annotations\": \"{{ $item(\"0\").$node[\"ler contact\"].json?.contact?.additionalEmails?.[\"0\"]?.email ?? '' }}\",\n  \"origin\": {\n    \"campaign\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"campaign\"]||\"\" }}\",\n    \"source\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"source\"] ||\"\"}}\",\n    \"conversion\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"lp\"]||\"\" }}\"\n  },\n    \"phones\": [\n        {\n            \"phone\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Phone\"] }}\"\n        }\n    ],\n  \"customFields\": {\n  \"cnpj\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"CNPJ\"] }}\",\n  \"idDealGoHighLevel\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Id_Opportunidade\"] }}\",\n  \"lpDeConversao\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"lp\"] }}\",\n  \"comoConheceuADataStone\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Como conheceu a Data Stone?\"]||\"\" }}\",\n  \"leadsPorMes\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Leads por mês\"]||\"\" }}\",\n  \"timeComercial\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Time comercial\"] ||\"\"}}\",\n  \"outboundOuInbound\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Outbound ou Inbound\"]||\"\" }}\",\n  \"empresaVendePara\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Empresa vende para\"] ||\"\"}}\"\n},\n  \"startImmediately\": {{ $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='No-Show'? true: $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Recuperação CRM'? false:$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Reaquecimento'? false:$item(\"0\").$node[\"Varaiveis\"].json[\"cadência\"] =='Prospecção fria'? false:$item(\"0\").$node[\"Varaiveis\"].json[\"cadência\"] =='Inbound'? true:$item(\"0\").$node[\"Edit Fields\"].json[\"New Cadência\"] ? false:true }}\n}","options":{}},"id":"e9376d47-efed-4778-8ff5-dfc46e81a638","name":"Produção1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,-16],"retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"errorMessage":"deu merda"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1920,128],"id":"ac171981-d452-4322-b80d-03c30cff31d0","name":"Stop and Error"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b17c829-ddaa-4137-9de2-8445e10972b2","leftValue":"={{ $item(\"0\").$node[\"Produção1\"].json[\"error\"][\"message\"] }}","rightValue":"400 - \"{\\\"errors\\\":[{\\\"type\\\":\\\"thereIsAlreadyAnActiveProspectionWithThisLead\\\",\\\"description\\\":\\\"There is already an active prospection with lead","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,32],"id":"a6f9c298-81ce-4411-9a9c-e97999db7f60","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"e32cf915-55b1-4e74-936f-f5756a85f370","name":"First_name","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"firstName\"] }}","type":"string"},{"id":"c252830e-26c0-4e6e-ad59-57aba5a968f3","name":"Last_name","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"lastName\"] }}","type":"string"},{"id":"eb67afab-2978-4742-8d89-2eb34ad5c4e5","name":"Email","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"email\"] }}","type":"string"},{"id":"11eeba45-b724-48fa-874d-f5785a3cf2d5","name":"Phone","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"phone\"] }}","type":"string"},{"id":"f799a162-4760-4f79-8489-79729eaef700","name":"Id_Opportunidade","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"id\"] }}","type":"string"},{"id":"33d5983f-1d75-461b-930a-f13505736bad","name":"Company_name","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"companyName\"] }}","type":"string"},{"id":"ddcd9c00-0b8b-425c-9c68-109e6fac6f1e","name":"CNPJ","value":"={{ \n  ($item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"].find(item => item.id == \"hTyYFw5a2hTzWI2FlSeP\") || {}).value || ''\n}}","type":"string"},{"id":"4cbc24d4-4c8b-40ed-bcc0-bd711814c96e","name":"Linkedin","value":"={{    ($item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"].find(item => item.id == \"Hulfd9vqb1WGKu65CJbW\") || {}).value || '' }}","type":"string"},{"id":"852242d9-7ec5-4868-9711-6b3fa6176165","name":"source","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"source\"] }}","type":"string"},{"id":"996c84e5-6f07-462e-888e-d09868fe8c4b","name":"=lp","value":"={{    ($item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"].find(item => item.id == \"yUORsEN2r3gvBxzgWoT5\") || {}).value || '' }}","type":"string"},{"id":"502d536b-4b77-49af-a4a8-83a352b3e8dd","name":"=campaign","value":"={{    ($item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"].find(item => item.id == \"twQ9TKZfG3MTP5y114mU\") || {}).value || '' }}","type":"string"},{"id":"07129e8f-0826-498b-b7ba-89a9c7551b53","name":"Etapa","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"pipleline_stage\"] }}","type":"string"},{"id":"7de5ad97-cc2b-44f0-83b5-e1bbbe2e5634","name":"cadência","value":"={{    ($item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"].find(item => item.id == \"Yxd09IEoQY9GCUvVKiOw\") || {}).value || '' }}","type":"string"},{"id":"143d98a6-c2a9-4347-95ca-e9dc2635c4dd","name":"owner","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"user\"][\"email\"] }}","type":"string"},{"id":"3ac88688-037a-4c2a-938b-68723313ce18","name":"Como conheceu a Data Stone?","value":"={{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"customFields\"].find(item =>item.id ==\"r8YyCnxRiL4gtNWcdwpt\").fieldValue|| '' }}","type":"string"},{"id":"b0ffc43d-43fc-4894-b62d-202e05f7a4e1","name":"Leads por mês","value":"={{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"customFields\"].find(item =>item.id ==\"pN7SPC0ocf0FCAbM0ZKy\").fieldValue|| '' }}","type":"string"},{"id":"80a02274-22e1-4980-a280-a85362cfb5ba","name":"Time comercial","value":"={{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"customFields\"].find(item =>item.id ==\"TanSsapQXrjJlg2CUxAl\").fieldValue|| '' }}","type":"string"},{"id":"f073b989-771d-418c-8ae7-bae3e1b175fb","name":"Outbound ou Inbound","value":"={{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"customFields\"].find(item =>item.id ==\"nnl37nDlUp6kRbiw7Bfq\").fieldValue|| '' }}","type":"string"},{"id":"0dd6679d-9611-4235-93f0-0915bc7ac15f","name":"Empresa vende para","value":"={{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"customFields\"].find(item =>item.id ==\"VV2cUrESbc6lyA6px9Zp\").fieldValue|| '' }}","type":"string"},{"id":"6f9d04b8-c8d1-4462-8fc2-cae4664586ce","name":"Pré-vendedor","value":"={{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"customFields\"].find(item =>item.id ==\"am5t9kExbOTvdDk6PNja\").fieldValue|| '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,-16],"id":"3429550c-a960-45d2-983d-4c5d27ccbbf8","name":"Varaiveis"},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"96921582-8d1b-4d8e-9459-f84016cb856e","name":"campos personalizados meetime3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,-384],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"guVOe6gJoY5RnYXI","name":"Meetime - DataStone"}}},{"parameters":{"url":"https://api.meetime.com.br/v2/cadences","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"becc0536-17eb-45bf-92f2-7713e1555afb","name":"campos personalizados meetime","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,-336],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"ydtbjXWWkeniXwTF","name":"Conta teste"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[128,-16],"id":"70b3e21c-cd45-4045-850f-3364541dda81","name":"ler Deal","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/users/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"assignedTo\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[480,-496],"id":"dc8b6a70-7f24-4c88-a841-49520129fc77","name":"ler USER owner do Deal","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='No-Show'? 'https://api.meetime.com.br/v2/prospections/cadence/58309/lead?token=AOJjybv29fWONZljiimZAjS64ZtufwqdMl79MR4m5TNc': $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Reaproveitamento'? 'https://api.meetime.com.br/v2/prospections/cadence/58429/lead?token=AJw_mPDNGh8Lebi6iDwwitMVPQweVnLbjmEiTo77a8eQ':$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Reaquecimento'? 'https://api.meetime.com.br/v2/prospections/cadence/58474/lead?token=WhjaujKRc836HvSUIHjrK7rm4Ujw8qEuZ_H_jPwepnc':$item(\"0\").$node[\"Varaiveis\"].json[\"cadência\"] =='Prospecção fria'? 'https://api.meetime.com.br/v2/prospections/cadence/58156/lead?token=AJpAPvseFkYzjo8N2Ys_eU5VBslk-gkJVnCHW2oFyxg':$item(\"0\").$node[\"Varaiveis\"].json[\"cadência\"]  =='Inbound'? 'https://api.meetime.com.br/v2/prospections/cadence/58347/lead?token=AMBQUcA8k79PvKFwpBKnt-WEGwq0lYqcGb60eQgKXhWA':''}}\n\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 8f7024c24ab2fb505283b502d17a2caa"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={       \n  \"name\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"First_name\"] }}{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Last_name\"]?' '+ $item(\"0\").$node[\"Varaiveis\"].json[\"Last_name\"]:'' }}\",\n  \"firstName\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"First_name\"] }}\",\n  \"email\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Email\"] }}\",\n  \"ownerEmail\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"owner\"] }}\",\n  \"company\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Company_name\"] }}\",\n  \"linkedId\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Linkedin\"] }}\",\n  \"origin\": {\n    \"campaign\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"campaign\"] }}\",\n    \"source\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"source\"] }}\"\n  },\n    \"phones\": [\n        {\n            \"phone\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Phone\"] }}\"\n        }\n    ],\n  \"customFields\": {\n  \"cnpj\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"CNPJ\"] }}\",\n  \"idDealGoHighLevel\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Id_Opportunidade\"] }}\",\n  \"lpDeConversao\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"lp\"] }}\"\n},\n    \"startImmediately\": {{ $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='No-Show'? true: $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Recuperação CRM'? false:$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Reaquecimento'? false:$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Prospecção fria'? false:$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Inbound'? true:false}}\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1008,432],"id":"a4569f4e-9daf-4940-bcf2-ca0dd06ddfa7","name":"HTTP Request1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b00fb8b3-7bab-4b2a-a38b-6184fd510e47","leftValue":"={{ $item(\"0\").$node[\"Varaiveis\"].json[\"First_name\"].toLowerCase() }}","rightValue":"meetime","operator":{"type":"string","operation":"contains"}},{"id":"de2f6d55-dcd7-4aa5-b9d4-abd95dd34217","leftValue":"={{ $item(\"0\").$node[\"Varaiveis\"].json[\"First_name\"].toLowerCase() }}","rightValue":"meetime","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[528,-16],"id":"9eb7bfaf-ee6a-46a1-8fa7-eaaa479911b7","name":"Filter"},{"parameters":{"url":"https://api.meetime.com.br/v2/cadences","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"06a93873-5e73-4920-bc34-365f6e631d39","name":"Cadencias","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,-16],"retryOnFail":true,"alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"guVOe6gJoY5RnYXI","name":"Meetime - DataStone"}}},{"parameters":{"assignments":{"assignments":[{"id":"1b83f94b-2c55-46d1-89ad-0549a443900a","name":"New Cadência","value":"={{ $item(\"0\").$node[\"Cadencias\"].json[\"data\"].find(item => item.name == $item(\"0\").$node[\"Varaiveis\"].json[\"cadência\"]).api_endpoint }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,-16],"id":"7216bc79-ffdf-498d-96fe-d60e5ea50cb1","name":"Edit Fields"}],"connections":{"Webhook":{"main":[[{"node":"ler contact","type":"main","index":0}]]},"ler contact":{"main":[[{"node":"ler Deal","type":"main","index":0}]]},"Produção1":{"main":[[],[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"Stop and Error","type":"main","index":0}]]},"Varaiveis":{"main":[[{"node":"Filter","type":"main","index":0}]]},"ler Deal":{"main":[[{"node":"Varaiveis","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Cadencias","type":"main","index":0}]]},"Cadencias":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Produção1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false,"errorWorkflow":"wlpahpLREEEcju2c"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook2.automatisales.com.br","user-agent":"axios/1.13.2","content-length":"2196","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","traceparent":"00-28ac8a1971470b29bd2f9fc9a83b5ac8-4c168693890b8373-01","x-forwarded-for":"34.132.5.120","x-forwarded-host":"webhook2.automatisales.com.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"2c1c4eafa7e2","x-real-ip":"34.132.5.120"},"params":{},"query":{},"body":{"[PLG] Como conheceu a Data Stone?":"","ID da ultima ligação Meetime (NÃO ALTERAR)":"","GCLID":"","Motivo de perda Meetime (NÃO ALTERAR)":"","Visitantes por mês":"","Leads por mês":"","Investe em tráfego pago?":"","ID Contato Instantly":"","Linkedin Persona":"","Your Message":"","Cadencia Meetime":"Outbound - Seguradoras/Corretoras","UTM Campaign":"","[PLG] Abandono":"","UTM Medium":"","ID Data Stone":"","Consumo de créditos B2B no mês":"","UTM Content":"","CNPJ":"","Consumo de créditos B2C no mês":"","UTM Source":"","Time comercial":"","Consumo de créditos DR no mês":"","UTM Term":"","Outbound ou inbound?":"","LP de conversão":"","Empresa vende para":"","[L] Cliente ou conhecer soluções":"","[L] Segmento":"","[L] Volumetria":"","[L] Urgência":"","[L] Reunião ou WhatsApp":"","[L] Créditos ou suporte":"","[L] Leadscore":"","[L] Houve agendamento?":"","[L] Responsável agendamento":"","[L] Agendamento: data e hora":"","Cargo":"","[Manual] Origem":"","Como conheceu a Data Stone?":"","Indicado por":"","Segmento":"","Time comercial (old)":"","contact_id":"udlo4sOMvj7kPvBVc6WW","first_name":"meetime nova cadencia","last_name":"2","full_name":"meetime nova cadencia 2","email":"slourenco@gmail.com.br","phone":"+5547999145378","tags":"","country":"BR","date_created":"2025-12-01T15:06:45.400Z","full_address":"","contact_type":"lead","opportunity_name":"meetime nova cadencia 2","status":"open","pipleline_stage":"Lista de Prospects","pipeline_id":"UKcA99UXOQFlf2P8vy5G","id":"6P6UyhL4T5CMuxagRHUV","pipeline_name":"PV Outbound","user":{"firstName":"Adriano","lastName":"Fernandes","email":"afernandes@datastone.com.br"},"owner":"Adriano Fernandes","location":{"name":"Data Stone","address":"Av. Nações Unidas, 12901 - 25 Andar","city":"Sao Paulo","state":"SP","country":"BR","postalCode":"04641000","fullAddress":"Av. Nações Unidas, 12901 - 25 Andar, Sao Paulo SP 04641000","id":"CcbGytNWfngxB5I0klXe"},"workflow":{"id":"12815701-3aef-43d2-aa8f-a37314961833","name":"GHL <> Meetime"},"triggerData":{},"contact":{"attributionSource":{"sessionSource":"CRM UI","medium":"manual","mediumId":null},"lastAttributionSource":{}},"attributionSource":{},"customData":{}},"webhookUrl":"https://webhook2.automatisales.com.br/webhook/DataStoneEntradaLeads","executionMode":"production"}}]},"versionId":"5df89996-a6ec-42b8-aef8-6403e1211bce","activeVersionId":"5df89996-a6ec-42b8-aef8-6403e1211bce","triggerCount":1,"shared":[{"updatedAt":"2025-11-04T16:32:35.155Z","createdAt":"2025-11-04T16:32:35.155Z","role":"workflow:owner","workflowId":"JjacZHRycszp3Yxp","projectId":"5Z2b5yWkWWKq8wM8"}],"activeVersion":{"updatedAt":"2025-12-14T13:59:56.948Z","createdAt":"2025-12-14T13:59:56.948Z","versionId":"5df89996-a6ec-42b8-aef8-6403e1211bce","workflowId":"JjacZHRycszp3Yxp","nodes":[{"parameters":{"httpMethod":"POST","path":"DataStoneEntradaLeads","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-288,-16],"id":"5f357dcc-ce15-47dd-8d96-ebdbe62a697f","name":"Webhook","webhookId":"1d43e537-b746-456c-bb87-c636a801c2d9"},{"parameters":{"url":"https://services.leadconnectorhq.com/users/","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[720,656],"id":"84c971e7-0241-43f1-9f75-7fd62572c068","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/custom-fields/object-key/{{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"][\"0\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[304,528],"id":"2b6dbe4e-4cb6-4dd7-ae76-a8330f2069d1","name":"HTTP Request2","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/locations/CcbGytNWfngxB5I0klXe/customFields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"model","value":"opportunity"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[208,-400],"id":"9c9fd020-dc57-45cb-962f-9f8b6eeb2b53","name":"Campos personalizados contato","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/contacts/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"contact_id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[-64,-16],"id":"0567f13c-f7e0-48f8-bac1-8ede6ee8d641","name":"ler contact","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='No-Show'? 'https://api.meetime.com.br/v2/prospections/cadence/58309/lead?token=AOJjybv29fWONZljiimZAjS64ZtufwqdMl79MR4m5TNc': $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Reaproveitamento'? 'https://api.meetime.com.br/v2/prospections/cadence/58429/lead?token=AJw_mPDNGh8Lebi6iDwwitMVPQweVnLbjmEiTo77a8eQ':$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Reaquecimento'? 'https://api.meetime.com.br/v2/prospections/cadence/58474/lead?token=WhjaujKRc836HvSUIHjrK7rm4Ujw8qEuZ_H_jPwepnc':$item(\"0\").$node[\"Varaiveis\"].json[\"cadência\"] =='Prospecção fria'? 'https://api.meetime.com.br/v2/prospections/cadence/58156/lead?token=AJpAPvseFkYzjo8N2Ys_eU5VBslk-gkJVnCHW2oFyxg':$item(\"0\").$node[\"Varaiveis\"].json[\"cadência\"]  =='Inbound'? 'https://api.meetime.com.br/v2/prospections/cadence/58347/lead?token=AMBQUcA8k79PvKFwpBKnt-WEGwq0lYqcGb60eQgKXhWA': $item(\"0\").$node[\"Edit Fields\"].json[\"New Cadência\"] ? $item(\"0\").$node[\"Edit Fields\"].json[\"New Cadência\"]: 'https://api.meetime.com.br/v2/prospections/cadence/58347/lead?token=AMBQUcA8k79PvKFwpBKnt-WEGwq0lYqcGb60eQgKXhWA'}}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 8f7024c24ab2fb505283b502d17a2caa"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={       \n  \"name\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"First_name\"] }}{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Last_name\"]?' '+ $item(\"0\").$node[\"Varaiveis\"].json[\"Last_name\"]:'' }}\",\n  \"firstName\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"First_name\"] }}\",\n  \"email\": \"{{ $item(\"0\").$node[\"Filter\"].json[\"Email\"] }}\",\n  \"ownerEmail\": \"{{ \n  $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"pipleline_stage\"] == 'No-Show' \n    ?  $item(\"0\").$node[\"Varaiveis\"].json[\"Pré-vendedor\"] || ''\n    : $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"pipleline_stage\"] == 'Recuperação CRM'\n    ?  $item(\"0\").$node[\"Varaiveis\"].json[\"Pré-vendedor\"] || ''\n    : $item(\"0\").$node[\"Varaiveis\"].json[\"owner\"] \n}}\",\n  \"company\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Company_name\"]||\"\" }}\",\n  \"linkedId\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Linkedin\"] }}\",\n  \"annotations\": \"{{ $item(\"0\").$node[\"ler contact\"].json?.contact?.additionalEmails?.[\"0\"]?.email ?? '' }}\",\n  \"origin\": {\n    \"campaign\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"campaign\"]||\"\" }}\",\n    \"source\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"source\"] ||\"\"}}\",\n    \"conversion\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"lp\"]||\"\" }}\"\n  },\n    \"phones\": [\n        {\n            \"phone\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Phone\"] }}\"\n        }\n    ],\n  \"customFields\": {\n  \"cnpj\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"CNPJ\"] }}\",\n  \"idDealGoHighLevel\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Id_Opportunidade\"] }}\",\n  \"lpDeConversao\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"lp\"] }}\",\n  \"comoConheceuADataStone\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Como conheceu a Data Stone?\"]||\"\" }}\",\n  \"leadsPorMes\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Leads por mês\"]||\"\" }}\",\n  \"timeComercial\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Time comercial\"] ||\"\"}}\",\n  \"outboundOuInbound\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Outbound ou Inbound\"]||\"\" }}\",\n  \"empresaVendePara\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Empresa vende para\"] ||\"\"}}\"\n},\n  \"startImmediately\": {{ $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='No-Show'? true: $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Recuperação CRM'? false:$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Reaquecimento'? false:$item(\"0\").$node[\"Varaiveis\"].json[\"cadência\"] =='Prospecção fria'? false:$item(\"0\").$node[\"Varaiveis\"].json[\"cadência\"] =='Inbound'? true:$item(\"0\").$node[\"Edit Fields\"].json[\"New Cadência\"] ? false:true }}\n}","options":{}},"id":"e9376d47-efed-4778-8ff5-dfc46e81a638","name":"Produção1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1184,-16],"retryOnFail":true,"alwaysOutputData":false,"onError":"continueErrorOutput"},{"parameters":{"errorMessage":"deu merda"},"type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[1920,128],"id":"ac171981-d452-4322-b80d-03c30cff31d0","name":"Stop and Error"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6b17c829-ddaa-4137-9de2-8445e10972b2","leftValue":"={{ $item(\"0\").$node[\"Produção1\"].json[\"error\"][\"message\"] }}","rightValue":"400 - \"{\\\"errors\\\":[{\\\"type\\\":\\\"thereIsAlreadyAnActiveProspectionWithThisLead\\\",\\\"description\\\":\\\"There is already an active prospection with lead","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1584,32],"id":"a6f9c298-81ce-4411-9a9c-e97999db7f60","name":"If2"},{"parameters":{"assignments":{"assignments":[{"id":"e32cf915-55b1-4e74-936f-f5756a85f370","name":"First_name","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"firstName\"] }}","type":"string"},{"id":"c252830e-26c0-4e6e-ad59-57aba5a968f3","name":"Last_name","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"lastName\"] }}","type":"string"},{"id":"eb67afab-2978-4742-8d89-2eb34ad5c4e5","name":"Email","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"email\"] }}","type":"string"},{"id":"11eeba45-b724-48fa-874d-f5785a3cf2d5","name":"Phone","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"phone\"] }}","type":"string"},{"id":"f799a162-4760-4f79-8489-79729eaef700","name":"Id_Opportunidade","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"id\"] }}","type":"string"},{"id":"33d5983f-1d75-461b-930a-f13505736bad","name":"Company_name","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"companyName\"] }}","type":"string"},{"id":"ddcd9c00-0b8b-425c-9c68-109e6fac6f1e","name":"CNPJ","value":"={{ \n  ($item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"].find(item => item.id == \"hTyYFw5a2hTzWI2FlSeP\") || {}).value || ''\n}}","type":"string"},{"id":"4cbc24d4-4c8b-40ed-bcc0-bd711814c96e","name":"Linkedin","value":"={{    ($item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"].find(item => item.id == \"Hulfd9vqb1WGKu65CJbW\") || {}).value || '' }}","type":"string"},{"id":"852242d9-7ec5-4868-9711-6b3fa6176165","name":"source","value":"={{ $item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"source\"] }}","type":"string"},{"id":"996c84e5-6f07-462e-888e-d09868fe8c4b","name":"=lp","value":"={{    ($item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"].find(item => item.id == \"yUORsEN2r3gvBxzgWoT5\") || {}).value || '' }}","type":"string"},{"id":"502d536b-4b77-49af-a4a8-83a352b3e8dd","name":"=campaign","value":"={{    ($item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"].find(item => item.id == \"twQ9TKZfG3MTP5y114mU\") || {}).value || '' }}","type":"string"},{"id":"07129e8f-0826-498b-b7ba-89a9c7551b53","name":"Etapa","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"pipleline_stage\"] }}","type":"string"},{"id":"7de5ad97-cc2b-44f0-83b5-e1bbbe2e5634","name":"cadência","value":"={{    ($item(\"0\").$node[\"ler contact\"].json[\"contact\"][\"customFields\"].find(item => item.id == \"Yxd09IEoQY9GCUvVKiOw\") || {}).value || '' }}","type":"string"},{"id":"143d98a6-c2a9-4347-95ca-e9dc2635c4dd","name":"owner","value":"={{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"user\"][\"email\"] }}","type":"string"},{"id":"3ac88688-037a-4c2a-938b-68723313ce18","name":"Como conheceu a Data Stone?","value":"={{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"customFields\"].find(item =>item.id ==\"r8YyCnxRiL4gtNWcdwpt\").fieldValue|| '' }}","type":"string"},{"id":"b0ffc43d-43fc-4894-b62d-202e05f7a4e1","name":"Leads por mês","value":"={{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"customFields\"].find(item =>item.id ==\"pN7SPC0ocf0FCAbM0ZKy\").fieldValue|| '' }}","type":"string"},{"id":"80a02274-22e1-4980-a280-a85362cfb5ba","name":"Time comercial","value":"={{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"customFields\"].find(item =>item.id ==\"TanSsapQXrjJlg2CUxAl\").fieldValue|| '' }}","type":"string"},{"id":"f073b989-771d-418c-8ae7-bae3e1b175fb","name":"Outbound ou Inbound","value":"={{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"customFields\"].find(item =>item.id ==\"nnl37nDlUp6kRbiw7Bfq\").fieldValue|| '' }}","type":"string"},{"id":"0dd6679d-9611-4235-93f0-0915bc7ac15f","name":"Empresa vende para","value":"={{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"customFields\"].find(item =>item.id ==\"VV2cUrESbc6lyA6px9Zp\").fieldValue|| '' }}","type":"string"},{"id":"6f9d04b8-c8d1-4462-8fc2-cae4664586ce","name":"Pré-vendedor","value":"={{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"customFields\"].find(item =>item.id ==\"am5t9kExbOTvdDk6PNja\").fieldValue|| '' }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,-16],"id":"3429550c-a960-45d2-983d-4c5d27ccbbf8","name":"Varaiveis"},{"parameters":{"url":"https://api.meetime.com.br/v2/leads/custom-fields","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"96921582-8d1b-4d8e-9459-f84016cb856e","name":"campos personalizados meetime3","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[688,-384],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"guVOe6gJoY5RnYXI","name":"Meetime - DataStone"}}},{"parameters":{"url":"https://api.meetime.com.br/v2/cadences","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"becc0536-17eb-45bf-92f2-7713e1555afb","name":"campos personalizados meetime","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1040,-336],"retryOnFail":true,"credentials":{"httpHeaderAuth":{"id":"ydtbjXWWkeniXwTF","name":"Conta teste"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/opportunities/{{ $item(\"0\").$node[\"Webhook\"].json[\"body\"][\"id\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[128,-16],"id":"70b3e21c-cd45-4045-850f-3364541dda81","name":"ler Deal","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"url":"=https://services.leadconnectorhq.com/users/{{ $item(\"0\").$node[\"ler Deal\"].json[\"opportunity\"][\"contact\"][\"assignedTo\"] }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"locationId","value":"CcbGytNWfngxB5I0klXe"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Version","value":"2021-07-28"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[480,-496],"id":"dc8b6a70-7f24-4c88-a841-49520129fc77","name":"ler USER owner do Deal","credentials":{"httpHeaderAuth":{"id":"YQ5xEuBJ5g1dOXdV","name":"GHL DATA STONE"}}},{"parameters":{"method":"POST","url":"={{ $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='No-Show'? 'https://api.meetime.com.br/v2/prospections/cadence/58309/lead?token=AOJjybv29fWONZljiimZAjS64ZtufwqdMl79MR4m5TNc': $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Reaproveitamento'? 'https://api.meetime.com.br/v2/prospections/cadence/58429/lead?token=AJw_mPDNGh8Lebi6iDwwitMVPQweVnLbjmEiTo77a8eQ':$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Reaquecimento'? 'https://api.meetime.com.br/v2/prospections/cadence/58474/lead?token=WhjaujKRc836HvSUIHjrK7rm4Ujw8qEuZ_H_jPwepnc':$item(\"0\").$node[\"Varaiveis\"].json[\"cadência\"] =='Prospecção fria'? 'https://api.meetime.com.br/v2/prospections/cadence/58156/lead?token=AJpAPvseFkYzjo8N2Ys_eU5VBslk-gkJVnCHW2oFyxg':$item(\"0\").$node[\"Varaiveis\"].json[\"cadência\"]  =='Inbound'? 'https://api.meetime.com.br/v2/prospections/cadence/58347/lead?token=AMBQUcA8k79PvKFwpBKnt-WEGwq0lYqcGb60eQgKXhWA':''}}\n\n","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Authorization","value":"Bearer 8f7024c24ab2fb505283b502d17a2caa"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={       \n  \"name\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"First_name\"] }}{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Last_name\"]?' '+ $item(\"0\").$node[\"Varaiveis\"].json[\"Last_name\"]:'' }}\",\n  \"firstName\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"First_name\"] }}\",\n  \"email\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Email\"] }}\",\n  \"ownerEmail\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"owner\"] }}\",\n  \"company\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Company_name\"] }}\",\n  \"linkedId\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Linkedin\"] }}\",\n  \"origin\": {\n    \"campaign\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"campaign\"] }}\",\n    \"source\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"source\"] }}\"\n  },\n    \"phones\": [\n        {\n            \"phone\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Phone\"] }}\"\n        }\n    ],\n  \"customFields\": {\n  \"cnpj\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"CNPJ\"] }}\",\n  \"idDealGoHighLevel\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"Id_Opportunidade\"] }}\",\n  \"lpDeConversao\": \"{{ $item(\"0\").$node[\"Varaiveis\"].json[\"lp\"] }}\"\n},\n    \"startImmediately\": {{ $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='No-Show'? true: $item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Recuperação CRM'? false:$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Reaquecimento'? false:$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Prospecção fria'? false:$item(\"0\").$node[\"Varaiveis\"].json[\"Etapa\"] =='Inbound'? true:false}}\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[1008,432],"id":"a4569f4e-9daf-4940-bcf2-ca0dd06ddfa7","name":"HTTP Request1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b00fb8b3-7bab-4b2a-a38b-6184fd510e47","leftValue":"={{ $item(\"0\").$node[\"Varaiveis\"].json[\"First_name\"].toLowerCase() }}","rightValue":"meetime","operator":{"type":"string","operation":"contains"}},{"id":"de2f6d55-dcd7-4aa5-b9d4-abd95dd34217","leftValue":"={{ $item(\"0\").$node[\"Varaiveis\"].json[\"First_name\"].toLowerCase() }}","rightValue":"meetime","operator":{"type":"string","operation":"contains"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[528,-16],"id":"9eb7bfaf-ee6a-46a1-8fa7-eaaa479911b7","name":"Filter"},{"parameters":{"url":"https://api.meetime.com.br/v2/cadences","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"accept","value":"application/json"}]},"options":{}},"id":"06a93873-5e73-4920-bc34-365f6e631d39","name":"Cadencias","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,-16],"retryOnFail":true,"alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"guVOe6gJoY5RnYXI","name":"Meetime - DataStone"}}},{"parameters":{"assignments":{"assignments":[{"id":"1b83f94b-2c55-46d1-89ad-0549a443900a","name":"New Cadência","value":"={{ $item(\"0\").$node[\"Cadencias\"].json[\"data\"].find(item => item.name == $item(\"0\").$node[\"Varaiveis\"].json[\"cadência\"]).api_endpoint }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[928,-16],"id":"7216bc79-ffdf-498d-96fe-d60e5ea50cb1","name":"Edit Fields"}],"connections":{"Webhook":{"main":[[{"node":"ler contact","type":"main","index":0}]]},"ler contact":{"main":[[{"node":"ler Deal","type":"main","index":0}]]},"Produção1":{"main":[[],[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[],[{"node":"Stop and Error","type":"main","index":0}]]},"Varaiveis":{"main":[[{"node":"Filter","type":"main","index":0}]]},"ler Deal":{"main":[[{"node":"Varaiveis","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Cadencias","type":"main","index":0}]]},"Cadencias":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Produção1","type":"main","index":0}]]}},"authors":"system migration","name":null,"description":null},"tags":[]}